#table_add_paper tr td {
    padding-top: 10px;
}

.td_title {
    width: 200px;
}

.last_button {
    width: 150px;
}

.paper_info {
    column-span: 2;
}

.one_tag {
    margin-top: 5px;
}

.form-control-custom {
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}