.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bg-dark {
    background-color: #ffffff !important;
}

ul.navbar-nav.me-auto.mb-2.mb-md-0 * {
    color: #777;
}

button.navbar-toggler {
    background: #cecece;
}

li.nav-item {
    border-right: 1px solid #eaeaea;
    min-width: 120px;
    text-align: center;
}

nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    box-shadow: 5px 5px 10px #56565636;
}

#main-body {
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

#myCarousel {
    width: 1280px;
    margin: auto;
}

.news-item {
    height: 222px;
    color: #333333;
    border-radius: 5px;
    padding: 30px;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 500ms;
}

.news-item:hover {
    box-shadow: 0 4px 8px 0 #dc571c, 0 4px 8px 0 #dc571c;
}

.item-image {
    width: 100%;
    height: 157px;
    border-left: 5px solid #dc571c;
    object-fit: cover;
}

.item-title a {
    text-decoration: none;
    color: #515151;
    font-size: large;
}

.item-title a:hover {
    color: #dc571c;
    text-decoration: none;
}

p.content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 24px;
    max-height: 96px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.row-news {
    height: fit-content;
}

.text-right {
    text-align: right;
}

.news-detail {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.event-view {
    text-decoration: none;
    color: inherit;
}

.news-detail:hover {
    text-decoration: none;
    color: #dc571c;
    font-weight: bold;
}

.load-more a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.news-type-bar {
    margin: auto;
    width: 88.5%;
    height: 10%;
}

.news-type-item {
    padding: 17px 10px 10px;
    width: fit-content;
    height: 100%;
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
}

.news-type-item:hover {
    background-color: #eaeaea;
}

.news-searh-div {
    padding: 19px 12px 0 14px;
    width: fit-content;
    height: 100%;
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
}

.search-div {
    background-color: #dc571c;
}

.search-div:hover {
    background-color: #c23c03;
}

.search-news-button {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    border-radius: 0;
}

.type-color::before {
    background: #0066b1;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    padding: 10px;
    margin: 24px 17px;
    border-radius: 25%;
}

.type-color1::before {
    background: #6600b1;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    padding: 10px;
    margin: 24px 17px;
    border-radius: 25%;
}

.type-color2::before {
    background: #666600;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    padding: 10px;
    margin: 24px 17px;
    border-radius: 25%;
}

.event-type-table {
    width: fit-content;
    display: table-row;
    border-right: 1px solid #515151;
    color: inherit;
    font-weight: bold;
    position: relative;
    padding: 3%;
}

.col-footer {
    width: fit-content;
}