
@{
    ViewBag.Title = "TOP QS UNIVERSITY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom gutter-b">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <button type="button" class="btn btn-light-danger" data-toggle="modal" data-target="#exampleModalLong">
                IMPORT DỮ LIỆU
            </button>
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered table-checkable">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Đại học</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--end: Datatable-->
    </div>
</div>

<!-- Modal-->
<div class="modal fade" id="exampleModalLong" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CẬP NHẬT DANH SÁCH</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-1">
                    <label for="exampleTextarea">Tên các trường đại học :</label>
                    <textarea class="form-control" name="ListUniversity" id="exampleTextarea" rows="20"></textarea>
                    <span class="form-text text-muted">Cách nhau bởi dấu enter.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Hủy</button>
                <button type="button" onclick="SubmitCriteria()" class="btn btn-primary font-weight-bold">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#mytable").DataTable({
                responsive: true,
                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                lengthMenu: [5, 10, 25, 50],
                pageLength: 10,
                language: {
                    'lengthMenu': 'Display _MENU_',
                },
                serverSide: true,
                ajax: {
                    url: "/QsUniversity/List",
                    datatype: "json",
                    cache: true
                },
                columns: [
                    { data: "ranking", name: "ranking" },
                    { data: "university", name: "university" },
                    {
                        data: "row_id", orderable: false, render: function (data) {
                            return "<a href='/ConferenceSponsor/Detail?id=" + data + "' class='btn btn-sm btn-clean btn-icon' title='View'> <i class='fas fa-eye'></i> </a>"
                        }
                    }
                ],
                order: [0, "desc"]
            });
        });
    </script>
}