<div class="modal fade in" id="going_add_officer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">BỔ SUNG CÁN BỘ ĐI HỌC</h4>
            </div>
            <div class="modal-body">
                <!--------------------------THÔNG TIN CÁ NHÂN------------------------->
                <div class="row">
                    <h5 class="font-weight-bolder">THÔNG TIN CÁ NHÂN</h5>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Họ và tên</label>
                        <label style="color:red">*</label>
                        @*<label style="color:blue" class="float-right">
                                <a href="javascipt:;" id="check_person">Kiểm tra</a>
                            </label>*@
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control text-center" id="going_add_officer_name" name="param" style="width:100% !important">
                                <option selected value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Email</label>
                        <input class="form-control" type="text" placeholder="Email" autocomplete="off" id="going_add_officer_email" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Đơn vị công tác</label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control text-center" id="going_add_officer_facility" name="param" style="width:100% !important">
                                <option selected value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--------------------------ĐƠN VỊ ĐÀO TẠO------------------------->
                <div class="row mt-4">
                    <h5 class="font-weight-bolder">ĐƠN VỊ ĐÀO TẠO</h5>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <label class="font-weight-bolder">Tên đơn vị đào tạo</label>
                        <label style="color:red">*</label>
                        @*<label style="color:blue" class="float-right">
                                <a href="#" onclick="">Kiểm tra</a>
                            </label>*@
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control text-center" id="going_add_officer_traning" name="param" style="width:100% !important">
                                <option selected value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Quốc gia</label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control text-center" id="going_add_officer_nation" name="param" style="width:100% !important">
                                <option selected value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Phạm vi hợp tác</label>
                        <label style="color:red">*</label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control text-center" id="going_add_officer_coop_scope" name="param" style="width:100% !important">
                            </select>
                        </div>
                    </div>
                </div>
                <!--------------------------CHI TIẾT------------------------->
                <div class="row mt-4">
                    <h5 class="font-weight-bolder">CHI TIẾT</h5>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                        <label class="font-weight-bolder">Trạng thái</label>
                        <label style="color:red">*</label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control text-center" id="going_add_officer_status" name="param" style="width:100% !important">
                                <option selected value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                        <label class="font-weight-bolder">TG đi học dự kiến</label>
                        <label style="color:red">*</label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_going_add_officer_start_plan_date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="TG đi học dự kiến" id="going_add_officer_start_plan_date" data-target="#kt_datetimepicker_going_add_officer_start_plan_date" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_going_add_officer_start_plan_date" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                        <label class="font-weight-bolder">TG kết thúc dự kiến</label>
                        <label style="color:red">*</label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_going_add_officer_end_plan_date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="TG kết thúc dự kiến" id="going_add_officer_end_plan_date" data-target="#kt_datetimepicker_going_add_officer_end_plan_date" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_going_add_officer_end_plan_date" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                        <label class="font-weight-bolder">Bản mềm</label>
                        <label style="font-style: italic;">(Tối đa 5MB và 1 tệp tin)</label>
                        <div class="uppy row" id="going_add_officer_upload">
                            <div class="uppy-wrapper col-6"></div>
                            <div class="uppy-list col-6"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                        <label class="font-weight-bolder">TG đi học thực tế</label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_going_add_officer_start_date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="TG đi học thực tế" id="going_add_officer_start_date" data-target="#kt_datetimepicker_going_add_officer_start_date" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_going_add_officer_start_date" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                        <label class="font-weight-bolder">TG kết thúc thực tế</label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_going_add_officer_end_date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="TG kết thúc thực tế" id="going_add_officer_end_date" data-target="#kt_datetimepicker_going_add_officer_end_date" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_going_add_officer_end_date" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="checkbox-list">
                                <label class="checkbox font-weight-bolder">
                                    <input type="checkbox" id="going_add_officer_support" />
                                    <span></span>
                                    Hỗ trợ qua phòng QLKH & HTQT
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="font-weight-bolder">Ghi chú</label>
                        <textarea class="form-control" id="going_add_officer_note" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="going_add_officer_close" type="button" class="btn btn-sm btn-secondary px-6" data-dismiss="modal">Hủy</button>
                <button id="going_add_officer_save" type="button" class="btn btn-sm btn-light-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>