
<div class="modal fade in" id="status_history_modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">LỊCH SỬ TRẠNG THÁI</h4>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <table id="status_history_table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Thời gian</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Cá nhân thay đổi</th>
                            <th class="text-center">Bản mềm</th>
                            <th class="text-center">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary px-6" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>