<div class="row mb-4">
    <div class="col-lg-9 col-xl-9 col-md-9 col-sm-9">
        <div class="row align-items-center">
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 mr-3 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_status_tab_2_table_1" name="param" style="width:100% !important">
                        <option value="1">Còn hạn</option>
                        <option value="0">Hết hạn</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-offset-2 col-md-offset-12 col-sm-offset-12 mb-4">
                <a id="collab_program_going_search_btn" class="btn btn-light-primary px-6 font-weight-bold ">Tìm kiếm</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 mb-4">
                <a data-direction="1" data-collab="2" class="add-program-going btn btn-light-primary px-6 font-weight-bold">Thêm chương trình</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover table-checkable colab-table"
       id="collab_program_going_table">
    <thead>
        <tr>
            <th class="">S<br />T<br />T</th>
            <th class="text-center">Đối tác</th>
            <th class="text-center">Tiêu đề</th>
            <th class="text-center">Người đăng</th>
            <th class="text-center">Thời gian đăng ký</th>
            <th class="text-center">Thời gian đăng</th>
            <th class="text-center text-nowrap"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">1</td>
            <td class="text-center">USTH</td>
            <td class="text-center">
                Thông báo tuyển sinh Đào tạo trình độ Tiến sĩ USTH – Đợt I năm 2021
            </td>
            <td class="text-center">Lê Phương Anh</td>
            <td class="text-center">
                01/01/2020 – 31/01/202
            </td>
            <td class="text-center">
                21/01/2021 12:01:34
            </td>
            <td nowrap="nowrap" class="text-center"></td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td class="text-center">UTP</td>
            <td class="text-center">
                Thông báo tuyển sinh Đào tạo trình độ Tiến sĩ UTP
            </td>
            <td class="text-center">Lê Phương Anh</td>
            <td class="text-center">
                01/01/2020 – 31/01/202
            </td>
            <td class="text-center">
                21/01/2021 12:01:34
            </td>
            <td nowrap="nowrap" class="text-center"></td>
        </tr>
    </tbody>
</table>
