<div class="modal fade" id="ltc_describe_content" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">NỘI DUNG MIÊU TẢ</h3>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-xl-12 col-lg-12">
                        <textarea id="note" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm px-6 btn-secondary font-weight-bold" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-sm px-6 btn-light-success font-weight-bold" data-dismiss="modal" id="ltc_describe_content_save">Lưu</button>
            </div>
        </div>
    </div>
</div>