<div class="row mb-4">
    <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10">
        <div class="row align-items-center">
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 mr-3 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_nation_tab_1_table_1" name="param" style="width:100% !important">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 mr-3 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_year_tab_1_table_1" name="param" style="width:100% !important">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 mr-3 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_training_facility_tab_1_table_1" name="param" style="width:100% !important">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 mr-3 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_working_facility_tab_1_table_1" name="param" style="width:100% !important">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 mb-4">
                <a id="collab_going_search" class="btn btn-light-primary px-6 font-weight-bold text-nowrap">Tìm kiếm</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 mb-4">
                <a href="#going_add_officer" class="btn btn-light-primary px-6 font-weight-bold" data-toggle="modal">Thêm</a>
            </div>
            <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 mb-4">
                <div class="dropdown dropdown-inline ml-2">
                    <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        Export
                    </button>
                    <!--begin::Dropdown Menu-->
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <!--begin::Navigation-->
                        <ul class="navi flex-column navi-hover py-2">
                            <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                                Choose an option:
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" id="exportExcel_going">
                                    <span class="navi-icon">
                                        <i class="la la-file-excel-o"></i>
                                    </span>
                                    <span class="navi-text">Excel</span>
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                    <!--end::Dropdown Menu-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-checkable colab-table short_table"
               id="exchange_going_table">
            <thead>
                <tr>
                    <th rowspan="2" class="">S<br />T<br />T</th>
                    <th colspan="3" class="text-center header-modify">Thông tin cá nhân</th>
                    <th colspan="2" class="text-center header-modify">Đơn vị đào tào</th>
                    <th rowspan="2" class="text-center">Thời gian bắt đầu trao đổi</th>
                    <th rowspan="2" class="text-center">Thời gian kết thúc trao đổi</th>
                    <th rowspan="2" class="text-center">Trạng thái</th>
                    <th rowspan="2" class="text-center">Ghi chú</th>
                    <th rowspan="2" class="text-center">Hành động</th>
                </tr>
                <tr>
                    <th class="text-center">Họ và tên</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Đơn vị công tác</th>
                    <th class="text-center">Tên</th>
                    <th class="text-center">Quốc gia</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>