
<div class="modal fade in" id="add_program" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">THÊM CHƯƠNG TRÌNH</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <label class="font-weight-bolder">Tiêu đề</label>
                        <input class="form-control" type="text" placeholder="Tiêu đề" autocomplete="off" required id="add_title" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                        <label class="font-weight-bolder">Đối tác</label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control text-center" id="add_program_partner" name="param" style="width:100% !important">
                                <option label="Label"></option>
                                <option value="1">UTP</option>
                                <option value="2">KyouDai</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                        <label class="font-weight-bolder">Thời hạn đăng ký</label>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <input type='text' class="form-control kt_daterangepicker_1"
                                       id="add_program_range_date" readonly
                                       placeholder="Từ ngày - Đến ngày" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <label class="font-weight-bolder">Ghi chú</label>
                        <textarea class="form-control" autocomplete="off" id="note"></textarea>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="font-weight-bolder">Nội dung</label>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                <label class="radio">
                                    <input type="radio" checked name="language" id="add_program_vietnamese" />
                                    <span></span>
                                    &nbsp;Tiếng Việt
                                </label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                <label class="radio">
                                    <input type="radio" name="language" id="add_program_english" />
                                    <span></span>
                                    &nbsp;English
                                </label>
                            </div>
                        </div>
                        <div class="summernote"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary px-6" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-sm btn-light-success px-6">Lưu</button>
            </div>
        </div>
    </div>
</div>
