<div class="modal fade" id="change_status_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">CHUYỂN ĐỔI TRẠNG THÁI</h3>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Trạng thái</label>
                        <label style="color:red">*</label>
                        <br />
                        <select class="form-control" style="width: 100% !important" id="change_status">
                            <option selected value=""></option>
                        </select>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Bản mềm</label>
                        <label style="font-style: italic;">(Tối đa 5MB và 1 tệp tin)</label>
                        <div class="uppy row" id="change_status_upload">
                            <div class="uppy-wrapper col-6"></div>
                            <div class="uppy-list col-12"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <label class="col-form-label font-weight-bolder">Ghi chú</label>
                        <textarea id="status_history_note" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm px-6 btn-secondary font-weight-bold" data-dismiss="modal" id="change_status_close">Hủy</button>
                <button type="button" class="btn btn-sm btn-light-success font-weight-bold" id="change_status_save">Lưu</button>
            </div>
        </div>
    </div>
</div>
