
<div id="detail-content" class="">
    <div class="row justify-content-between">
        <div class="col-lg-3 col-md-3 col-sm-3 my-5 py-3">
            <a>
                <img src="~/Content/Picture1.jpg" class="item-picture" />
                <label>
                    Thông báo tuyển sinh đào tạo trình độ tiến sĩ UTP
                </label>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 my-5 py-3">
            <a>
                <img src="~/Content/Picture2.jpg" class="item-picture" />
                <label>
                    Thông báo tuyển sinh đào tạo trình độ tiến sĩ HUST
                </label>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 my-5 py-3">
            <a>
                <img src="~/Content/Picture3.jpg" class="item-picture" />
                <label>
                    Thông báo tuyển sinh đào tạo trình độ tiến sĩ FTU
                </label>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 my-5 py-3">
            <a>
                <img src="~/Content/Picture4.jpg" class="item-picture" />
                <label>
                    Thông báo tuyển sinh đào tạo trình độ tiến sĩ HARDVARD
                </label>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center my-5 py-3">
        <a id="load-more" class="btn btn-sm btn-light-primary font-weight-bold px-6">Xem thêm</a>
    </div>
</div>
