
<div class="row mb-4">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4 pl-lg-0">
                <input class="form-control" type="text" placeholder="Tiêu đề" autocomplete="off" required id="search_title_tab_2" />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <a href="#" class="btn btn-light-primary px-6 font-weight-bold ">Tìm kiếm</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered" id="coming_procedure_table">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Tiêu đề</th>
            <th class="text-center">Ngày đăng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">1</td>
            <td class="text-center">
                Thủ tục hướng dẫn hỗ trợ CBGV đi trao đổi
            </td>
            <td class="text-center">
                21/01/2021 12:01:34
            </td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td class="text-center">
                Thủ tục A
            </td>
            <td class="text-center">
                21/01/2021 12:01:34
            </td>
        </tr>
        <tr>
            <td class="text-center">3</td>
            <td class="text-center">
                Thủ tục B
            </td>
            <td class="text-center">
                21/01/2021 12:01:34
            </td>
        </tr>
    </tbody>
</table>
