<div class="modal fade in" id="add_moa_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title font-weight-bolder" id="e">THÊM BIÊN BẢN THỎA THUẬN</h3>
            </div>
            <div class="justify-content-center">
                <div class="custom-container">
                    <ul class="progressbar">
                        <li class="active"></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div id='step-1' class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Số hiệu</label>
                        <label style="font-style: italic;">
                        </label>
                        <input class="form-control" type="text" placeholder="Số hiệu" autocomplete="off" required id="moa_code" value="@ViewBag.newMOACode" />
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                        <label class="font-weight-bolder">Đơn vị - Cơ sở kí kết</label>&nbsp;
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <input class="form-control" type="text" disabled value="" id="facility_moa"/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                        <label class="font-weight-bolder">Thời gian kí kết</label>&nbsp;
                        <label style="font-style: italic;">
                            (Cập nhật theo thời gian kí kết)
                        </label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_sign_date_moa" data-target-input="nearest">
                            <input disabled type="text" class="form-control datetimepicker-input" placeholder="Thời gian kí kết" id="sign_date_moa" data-target="#kt_datetimepicker_sign_date_moa" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_sign_date_moa" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Thời gian hết hạn</label>&nbsp;
                        <label style="font-style: italic;">
                        </label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_end_date_moa" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Thời gian hết hạn" id="end_date_moa" data-target="#kt_datetimepicker_end_date_moa" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_end_date_moa" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Trạng thái</label>&nbsp;
                        <select class="form-control" required id="status_moa" style="width:100% !important">
                            <option value="2">Inactive</option>
                            <option value="1">Active</option>
                        </select>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-8 col-sm-8">
                        <label class="font-weight-bolder">Ghi chú</label>&nbsp;
                        <input class="form-control" type="text" placeholder="Ghi chú" autocomplete="off" required id="note_moa" />
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                        <label class="font-weight-bolder">Phạm vi hợp tác chính</label>&nbsp;
                        <label style="font-style: italic;">
                            (Cập nhật theo pham vi hợp tác của các đối tác kí kết)
                        </label>
                        <input disabled class="form-control" type="text" placeholder="Phạm vi hợp tác" autocomplete="off" required id="coop_scope_moa" />
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                        <label class="font-weight-bolder">Bản mềm</label>&nbsp;
                        <label style="font-style: italic;">(Tối đa 1MB và 5 tệp tin)</label>
                        <div class="uppy row" id="moa_upload">
                            <div class="uppy-wrapper col-3"></div>
                            <div class="uppy-list col-7"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-xl-10 col-lg-1 col-md-12 col-sm-12">
                        <label class="font-weight-bolder">Lưu ý</label>&nbsp;
                        <textarea class="form-control " id="moa_area" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div id='step-2' class="modal-body" style="display:none">
                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 mb-3">
                    <div class="row align-items-center">
                        <a href="#add_partner_moa" data-toggle="modal" id="" class="btn btn-sm btn-light-primary px-6 font-weight-bold">Thêm</a>
                    </div>
                </div>
                <table class="table table-bordered table-hover table-checkable">
                    <thead>
                        <tr>
                            <th class="text-center" rowspan="2">STT</th>
                            <th class="text-center" rowspan="2">Tên đối tác</th>
                            <th class="text-center" colspan="3">Người đại diện</th>
                            <th class="text-center" rowspan="2"></th>
                        </tr>
                        <tr>
                            <th class="text-center">Họ và tên</th>
                            <th class="text-center">Điện thoại</th>
                            <th class="text-center">Email</th>
                        </tr>
                    </thead>
                    <tbody id="moa-partner-table">

                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button id="step-1-close-btn" type="button" class="btn btn-sm btn-secondary px-6" data-dismiss="modal">Đóng</button>
                <button id='step-1-button' type="button" class="btn btn-sm btn-primary px-6" onclick="nextStep()">Tiếp</button>
                <button id='step-2-backbutton' type="button" class="btn btn-sm btn-secondary px-6" onclick="backToStep()" style="display:none">Quay về</button>
                <button id='step-2-button' type="button" class="btn btn-sm btn-primary px-6" onclick="doneStep()" style="display:none">Hoàn thành</button>
            </div>
        </div>
    </div>
</div>
