<table class="table table-bordered table-hover table-checkable" id="moa_table">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Số hiệu</th>
            <th class="text-center">Đối tác</th>
            <th class="text-center">Bản mềm</th>
            <th class="text-center">Ngày ký kết</th>
            <th class="text-center">Ngày hết hạn</th>
            <th class="text-center">Đơn vị - Cơ sở triển khai</th>
            <th class="text-center">Phạm vi hợp tác</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-center"></th>
        </tr>
    </thead>
</table>
