
@{
    ViewBag.Title = "Chi tiết biên bản ghi nhớ";
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}


<style>
    .last-row {
        border-bottom: 2px solid #cdcaca;
        padding-bottom: 20px;
    }
</style>
<div class="card card-custom ">
    <div class="card-body p-0">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs nav-tabs-line" style="margin-bottom: 10px;">
                        <li class="nav-item ">
                            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">CƠ BẢN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">ĐỐI TÁC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3">MOA</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_1">
                            <div class="row mb-5 justify-content-center">
                                <h4 style="font-weight: bold;">
                                    THÔNG TIN VỀ BIÊN BẢN GHI NHỚ
                                </h4>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <label style="color:red">*</label><label class="font-weight-bolder">Số hiệu</label>&nbsp;
                                    <label style="font-style: italic;">(Năm/Số thứ tự)</label>
                                    <input class="form-control" type="text" placeholder="Số hiệu" autocomplete="off" required id="id" />
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <label style="color:red">*</label><label class="font-weight-bolder">Đơn vị cơ sở kí kết</label>&nbsp;
                                    <select class="form-control" required id="facility">
                                        <option value="1">FPTU-HN</option>
                                        <option value="2">FPTGW</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <label class="font-weight-bolder">Thời gian kí kết</label>&nbsp;
                                    <label style="font-style: italic;"></label>
                                    <input class="form-control custom-pickdate" type="text" placeholder="Thời gian kí kết" autocomplete="off" required readonly id="sign_time" />
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <label style="color:red">*</label><label class="font-weight-bolder">Số hiệu</label>&nbsp;
                                    <input class="form-control custom-pickdate" type="text" placeholder="Thời gian hết hạn" autocomplete="off" required readonly id="end_time" />
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                                    <label class="font-weight-bolder">Trạng thái</label>&nbsp;
                                    <select class="form-control" required id="status">
                                        <option value="0">Inactive</option>
                                        <option value="1">Active</option>
                                    </select>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8">
                                    <label class="font-weight-bolder">Ghi chú</label>&nbsp;
                                    <input class="form-control" type="text" placeholder="Ghi chú" autocomplete="off" required id="note" />
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Phạm vi hợp tác chính</label>&nbsp;
                                    <label style="font-style: italic;">
                                        (Cập nhật theo pham vi hợp tác của các đối tác kí kết)
                                    </label>
                                    <input class="form-control" type="text" placeholder="Phạm vi hợp tác" autocomplete="off" required id="coop_scope" />
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Bản mềm</label>&nbsp;
                                    <div class="uppy" id="kt_uppy_4">
                                        <div class="uppy-drag"></div>
                                        <div class="uppy-informer"></div>
                                        <div class="uppy-progress"></div>
                                        <div class="uppy-thumbnails"></div>
                                        <button class="uppy-btn btn btn-light-primary font-weight-bold btn-sm mt-4">Upload File(s)</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Lưu ý</label>
                                    <textarea id="attention" class="form-control" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center last-row">
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <a href="#" class="btn btn-sm btn-outline-primary px-6 font-weight-bold float-right">Lưu</a>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <h4 style="font-weight: bold;">
                                    LỊCH SỬ KÍ KẾT BỔ SUNG BIÊN BẢN GHI NHỚ
                                </h4>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 mb-3">
                                <div class="row align-items-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary px-6 font-weight-bold">Thêm</a>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-checkable collaboration_update_table"
                                   id="">
                                <thead>
                                    <tr>
                                        <th>Mã hiệu</th>
                                        <th>Thời gian kí kết</th>
                                        <th>Thời gian hết hạn</th>
                                        <th>Đối tác</th>
                                        <th>Phạm vi hợp tác</th>
                                        <th>Bản mềm</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            2020/01_BS/01
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            Bunkyou University
                                        </td>
                                        <td class="text-center">JC</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel" aria-labelledby="kt_tab_pane_3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal delete*@
<div class="modal fade in" id="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">XÁC NHẬN XÓA</h4>
            </div>
            <div class="modal-body">Có muốn xóa thông tin này?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-dark" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-sm btn-outline-danger" id="btn_delete">Xóa</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script>
        var ConfigDatepicker = function () {
            var arrows;
            if (KTUtil.isRTL()) {
                arrows = {
                    leftArrow: '<i class="la la-angle-right"></i>',
                    rightArrow: '<i class="la la-angle-left"></i>'
                }
            } else {
                arrows = {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                }
            }
            // Private functions
            var demos = function () {
                $('.custom-pickyear').datepicker({
                    rtl: KTUtil.isRTL(),
                    orientation: "bottom right",
                    todayHighlight: true,
                    templates: arrows,
                    startView: "years",
                    format: "yyyy",
                    minViewMode: "years"
                });

                $('.custom-pickdate').datepicker({
                    rtl: KTUtil.isRTL(),
                    orientation: "bottom right",
                    todayHighlight: true,
                    templates: arrows,
                    format: 'dd-mm-yyyy'
                });
            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();

        $(document).ready(function () {
            ConfigDatepicker.init();
        });

        $(".collaboration_update_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
                sLengthMenu: "Hiển thị <select class='custom-select custom-select-sm'>" +
                    "<option value='5'>5</option>" +
                    "<option value='10'>10</option>" +
                    "<option value='20'>20</option>" +
                    "</select> bản ghi",
                sSearch: "Tìm kiếm"
            },
            columnDefs: [
                {
                    targets: 5,
                    width: '75px',
                    render: function (data, type, full, meta) {
                        return ''
                            + '<a href="#add_status" data-toggle="modal"><span class="svg-icon svg-icon-dark svg-icon-md"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7.71 3.5L1.15 15l3.43 6l6.55-11.5M9.73 15L6.3 21h13.12l3.43-6m-.57-1L15.42 2H8.57l6.86 12h6.85z" fill="#626262"/></svg><!--end::Svg Icon--></span></a>';
                    },
                },
                {
                    targets: -1,
                    title: '',
                    orderable: false,
                    width: '125px',
                    render: function (data, type, full, meta) {
                        return '<a class="btn btn-sm btn-outline-primary" style="margin-right: 10px;">Sửa</a><a href="#delete" onclick="parse_id(12)" class="btn btn-sm btn-outline-danger" data-toggle="modal">Xóa</a>'
                    }
                }
            ]
        });
    </script>
}