
@{
    ViewBag.Title = "Biên bản ghi nhớ đã xóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mou_table th {
        font-size: 10px !important
    }

    .mou_table td {
        font-size: 10px !important
    }

        .mou_table td span {
            font-size: 10px !important
        }

        .mou_table td a {
            font-size: 10px !important
        }
</style>
<div class="card card-custom collapse_tab_1" id="main-card">
    <div class="card-body p-0 ">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="tab-content" id="myTabContent">
                        <div class="row">
                            <div class="col-lg-9 col-xl-9 col-md-9 col-sm-9">
                                <div class="row align-items-center ">
                                    <div class="col-lg-offset-3 col-md-offset-12 col-sm-offset-12 mr-3 my-3">
                                        <input type="text" class="form-control text-center" placeholder="Tên đối tác" id="search_partner_name" />
                                    </div>
                                    <div class="col-lg-offset-3 col-md-offset-12 col-sm-offset-12 mr-3 my-3">
                                        <input type="text" class="form-control text-center" placeholder="Tên người đại diện" id="search_contact_point_name" />
                                    </div>
                                    <div class="col-lg-offset-3 col-md-offset-12 col-sm-offset-12 mr-3 my-3">
                                        <input type="text" class="form-control text-center" placeholder="Số hiệu" id="search_mou_code" />
                                    </div>
                                    <div class="col-lg-offset-3 col-md-offset-12 col-sm-offset-12 my-3">
                                        <a href="javascript:" onclick="searchMOU()" class="btn btn-light-primary px-6 font-weight-bold float-right">Tìm kiếm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
                                <div class="row align-items-center justify-content-end">
                                    <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 my-3">
                                        <a href="../MOU/List" class="btn btn-light-primary px-6 font-weight-bolder">Quay lại</a>
                                    </div>
                                    <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 my-3">
                                        <div class="dropdown dropdown-inline ml-2">
                                            <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                Export
                                            </button>
                                            <!--begin::Dropdown Menu-->
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                <!--begin::Navigation-->
                                                <ul class="navi flex-column navi-hover py-2">
                                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                                                        Choose an option:
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="#" class="navi-link" onclick="exportExcel()">
                                                            <span class="navi-icon">
                                                                <i class="la la-file-excel-o"></i>
                                                            </span>
                                                            <span class="navi-text">Excel</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!--end::Navigation-->
                                            </div>
                                            <!--end::Dropdown Menu-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover table-checkable mou_table"
                               id="mou_table_deleted">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="">S<br />T<br />T</th>
                                    <th rowspan="2" class="">Số hiệu</th>
                                    <th colspan="4" class="text-center header-modify">Đối tác</th>
                                    <th colspan="3" class="text-center header-modify">Người đại diện</th>
                                    <th nowrap="nowrap" rowspan="2" class="text-center">Bản mềm</th>
                                    <th nowrap="nowrap" rowspan="2" class="text-center">Ngày ký</th>
                                    <th nowrap="nowrap" rowspan="2" class="text-center">Ngày hết hạn</th>
                                    <th rowspan="2" class="text-center" nowrap="nowrap">Đơn vị - Cơ sở ký kết</th>
                                    <th rowspan="2" class="text-center" nowrap="nowrap">Phạm vi hợp tác</th>
                                    <th rowspan="2" class="text-center">Trạng thái</th>
                                </tr>
                                <tr>
                                    <th class="text-center">Tên</th>
                                    <th class="text-center">Quốc gia</th>
                                    <th class="text-center">Website</th>
                                    <th class="text-center">Lĩnh vực</th>
                                    <th class="text-center">Họ và tên</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Điện thoại</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script>
        //overflow
        $(document).ready(function () {
            $('.mou_table').parent().css('overflow-x', 'auto');
            $('.mou_table thead tr th').css('font-weight', 'bold');
            $('.header-modify').css('padding', '13px');

        });
        //var rowIdx = 1;
        var mou_table_del = $("#mou_table_deleted").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
            },
            searching: false,
            pageLength: 5,
            lengthChange: false,
            serverSide: true,
            initComplete: function () {
                $('#mou_table_deleted').parent().css('overflow-x', 'auto');
                $('#mou_table_deleted').parent().removeClass();
            },
            ajax: {
                    url: "@Url.Action("ViewMOUDeleted", "MOU")",
                    type: "POST",
                    datatype: "json",
                    data: {
                        "partner_name": function () { return $('#search_partner_name').val() },
                        "contact_point_name": function () { return $('#search_contact_point_name').val() },
                        "mou_code": function () { return $('#search_mou_code').val() },
                    },
                    cache: "false"
            },
            columns: [
                {
                    data: "RowNumber",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0')
                    },
                    className: 'text-center',
                },
                {
                    data: "mou_code", name: "mou_code",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0')
                    },
                    className: 'text-center',
                },
                {
                    data: "partner_name",
                    name: "partner_name",
                    width: '200px',
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0')
                    },
                    className: 'text-center',
                },
                {
                    data: "country_name",
                    name: "country_name",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "website",
                    render: function (data) {
                        if (data == null || data == "") {
                            return "";
                        } else {
                            return '<a target="blank" href="' + data + '"><span class="svg-icon svg-icon-dark svg-icon-md"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M13.544 10.456a4.368 4.368 0 0 0-6.176 0l-3.089 3.088a4.367 4.367 0 1 0 6.177 6.177L12 18.177m-1.544-4.633a4.368 4.368 0 0 0 6.177 0l3.088-3.088a4.368 4.368 0 0 0-6.177-6.177L12 5.823" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg><!--end::Svg Icon--></span></a>';
                        }
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0')
                    },
                    className: 'text-center',
                },
                {
                    data: "specialization_name", name: "specialization_name",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center text-nowrap',
                    render: function (data) {
                        if (data == null) {
                            return "";
                        } else {
                            data = data.replaceAll(',', ',<br />')
                            return data;
                        }
                    },
                },
                {
                    data: "contact_point_name", name: "contact_point_name",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center text-nowrap',
                },
                {
                    data: "contact_point_email", name: "contact_point_email",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center text-nowrap',
                },
                {
                    data: "contact_point_phone", name: "contact_point_phone",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center text-nowrap',
                },
                {
                    data: "evidence",
                    render: function (data) {
                        if (data == null || data == "") {
                            return "";
                        } else {
                            return '<a target="blank" href="' + data + '" data-toggle="modal"><span class="svg-icon svg-icon-dark svg-icon-md"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7.71 3.5L1.15 15l3.43 6l6.55-11.5M9.73 15L6.3 21h13.12l3.43-6m-.57-1L15.42 2H8.57l6.86 12h6.85z" fill="#626262"/></svg><!--end::Svg Icon--></span></a>';
                        }
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0')
                    },
                    className: 'text-center',
                },
                {
                    data: "mou_start_date_string", name: "mou_start_date",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "mou_end_date_string", name: "mou_end_date",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "office_abbreviation", name: "office_abbreviation",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0')
                    },
                    className: 'text-center',
                },
                {
                    data: "scope_abbreviation",
                    name: "scope_abbreviation",
                    render: function (data) {
                        data = data.replaceAll(',', ', ')
                        return data
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0')
                    },
                    className: 'text-center',
                },
                {
                    data: "mou_status_id",
                    width: '150px',
                    render: function (data) {
                        var status = {
                            2: {
                                'title': 'Inactive',
                                'class': 'label-light-danger'
                            },
                            1: {
                                'title': 'Active',
                                'class': 'label-light-success'
                            }
                        };
                        if (typeof status[data] === 'undefined') {
                            return data;
                        }
                        return '<span class="label label-lg font-weight-bold ' + status[data].class + ' label-inline">' + status[data].title + '</span> ';
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0')
                    },
                    className: 'text-center',
                },
            ],
          
        columnDefs: [
            //{
            //    className: "text-center",
            //    targets: [0, 4, 9, 12, 13, 14],
            //},
            //{
            //    className: "text-nowrap",
            //    targets: [5, 6, 8, -1]
            //},
        ],
        });
        $('#mou_table_deleted > thead > tr:nth-child(2) > th:nth-child(1)').css({ 'min-width': '200px', 'max-width': '200px' });

        function searchMOU() {
            rowIdx = 1;
            mou_table_del.ajax.reload();
        }
    </script>
}