@{
    ViewBag.Title = "Danh sách đào tạo sau đại học";
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}
<style>
    .collapse-title {
        width: auto;
        height: auto;
    }

        .collapse-title :hover {
            font-weight: bold;
        }
</style>
<div class="card card-custom mb-1 collapse-title" id="collapse-title">
    <div class="card-body p-0" style=" background-color: #1616a8; border-radius: 6px; color: white">
        <div class="row justify-content-center px-lg-10">
            <div class=" col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center " id="collapse_btn_tab_1">
                <h3 style="margin-top: 0.5rem;">
                    ĐÀO TẠO CỦA ĐỐI TÁC THEO CHIỀU ĐI (CHIỀU ĐI)
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom collapse_tab_1" id="main-card">
    <div class="card-body p-0 ">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs nav-tabs-line" style="margin-bottom: 10px;">
                        <li class="nav-item ">
                            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_table_1">CÁN BỘ GIẢNG VIÊN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_table_1">CHƯƠNG TRÌNH ĐÀO TẠO</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1_table_1" role="tabpanel" aria-labelledby="kt_tab_pane_1_table_1">
                            <div class="row mb-5">
                                <h4 style="font-weight: bold;">
                                    DANH SÁCH CÁN BỘ ĐÀO TẠO SAU ĐẠI HỌC
                                </h4>
                            </div>
                            <div class="row mb-5">
                                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                                    <div class="row align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-primary px-6 font-weight-bold">Thêm</a>
                                        <a href="#" class="btn btn-sm btn-outline-primary ml-3 font-weight-bold">Xuất excel</a>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xl-9 col-md-9 col-sm-12">
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-year" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Năm đi học
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-year">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="mr-3 btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-where" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Đơn vị đào tạo
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-where">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="mr-3 btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-from" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Đơn vị công tác
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-from">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="mr-3 btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-facility" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Cơ sở
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-facility">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="mr-3 btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-nation" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Quốc  gia
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-nation">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-checkable"
                                   id="collaboration_table_1">
                                <thead id="collaboration_table_1_header">
                                    <tr>
                                        <th rowspan="2" class="">S<br />T<br />T</th>
                                        <th colspan="3" class="text-center header-modify">Thông tin cá nhân</th>
                                        <th colspan="2" class="text-center header-modify">Đơn vị đào tào</th>
                                        <th nowrap="nowrap" rowspan="2" class="text-center">Thời gian bắt đầu đi học</th>
                                        <th nowrap="nowrap" rowspan="2" class="text-center">Thời hạn dự kiến kết thúc</th>
                                        <th rowspan="2" class="text-center">Trạng thái</th>
                                        <th rowspan="2" class="text-center">Hỗ trợ</th>
                                        <th rowspan="2" class="text-center">Ghi chú</th>
                                        <th rowspan="2"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Họ và tên</th>
                                        <th class="text-center">Email</th>
                                        <th nowrap="nowrap" class="text-center">Đơn vị công tác</th>
                                        <th class="text-center">Tên</th>
                                        <th class="text-center">Quốc gia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center" nowrap="nowrap">Ngô Tùng Sơn</td>
                                        <td class="text-center">sonnt69@fpt.edu.vn</td>
                                        <td class="text-center">FPTU-HN</td>
                                        <td class="text-center" nowrap="nowrap">UTP</td>
                                        <td class="text-center">Malaysia</td>
                                        <td class="text-center">22/02/2222</td>
                                        <td class="text-center">23/03/2223</td>
                                        <td nowrap="nowrap">1</td>
                                        <td class="text-center"><input type="checkbox" /></td>
                                        <td nowrap="nowrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                                        <td nowrap="nowrap"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="text-center" nowrap="nowrap">Trần Quý Ban</td>
                                        <td class="text-center">bantq@fpt.edu.vn</td>
                                        <td class="text-center">FPTU-HN</td>
                                        <td class="text-center" nowrap="nowrap">UTP</td>
                                        <td class="text-center">Malaysia</td>
                                        <td class="text-center">22/02/2222</td>
                                        <td class="text-center">23/03/2223</td>
                                        <td nowrap="nowrap">2</td>
                                        <td class="text-center"><input type="checkbox" /></td>
                                        <td nowrap="nowrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                                        <td nowrap="nowrap"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2_table_1" role="tabpanel" aria-labelledby="kt_tab_pane_2_table_1">
                            abc
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-custom mb-1 collapse-title" id="collapse-title" style="margin-top: 20px;">
    <div class="card-body p-0" style=" background-color: #1616a8; border-radius: 6px; color: white">
        <div class="row justify-content-center px-lg-10">
            <div class=" col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center " id="collapse_btn_tab_2">
                <h3 style="margin-top: 0.5rem;">
                    ĐÀO TẠO CỦA ĐẠI HỌC FPT (CHIỀU ĐẾN)
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom collapse_tab_2" style="display:none">
    <div class="card-body p-0">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs nav-tabs-line" style="margin-bottom: 10px;">
                        <li class="nav-item ">
                            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_table_2">CÁN BỘ GIẢNG VIÊN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_table_2">CHƯƠNG TRÌNH ĐÀO TẠO</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1_table_2" role="tabpanel" aria-labelledby="kt_tab_pane_1_table_2">
                            <div class="row mb-5">
                                <h4 style="font-weight: bold;">
                                    DANH SÁCH CÁN BỘ ĐÀO TẠO SAU ĐẠI HỌC
                                </h4>
                            </div>
                            <div class="row mb-5">
                                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                                    <div class="row align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-primary px-6 font-weight-bold">Thêm</a>
                                        <a href="#" class="btn btn-sm btn-outline-primary ml-3 font-weight-bold">Xuất excel</a>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xl-9 col-md-9 col-sm-12">
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-year" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Năm đi học
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-year">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="mr-3 btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-where" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Đơn vị đào tạo
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-where">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="mr-3 btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-from" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Đơn vị công tác
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-from">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="mr-3 btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-facility" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Cơ sở
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-facility">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="mr-3 btn btn-sm btn-outline-primary dropdown-toggle float-right"
                                                type="button" id="dropdownMenuButton-nation" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Quốc  gia
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-nation">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-checkable"
                                   id="collaboration_table_2">
                                <thead id="collaboration_table_2_header">
                                    <tr>
                                        <th rowspan="2" class="">S<br />T<br />T</th>
                                        <th colspan="3" class="text-center header-modify">Thông tin cá nhân</th>
                                        <th colspan="2" class="text-center header-modify">Đơn vị đào tào</th>
                                        <th nowrap="nowrap" rowspan="2" class="text-center">Thời gian bắt đầu đi học</th>
                                        <th nowrap="nowrap" rowspan="2" class="text-center">Thời hạn dự kiến kết thúc</th>
                                        <th rowspan="2" class="text-center">Trạng thái</th>
                                        <th rowspan="2" class="text-center">Hỗ trợ</th>
                                        <th rowspan="2" class="text-center">Ghi chú</th>
                                        <th rowspan="2"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Họ và tên</th>
                                        <th class="text-center">Email</th>
                                        <th nowrap="nowrap" class="text-center">Đơn vị công tác</th>
                                        <th class="text-center">Tên</th>
                                        <th class="text-center">Quốc gia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center" nowrap="nowrap">Ngô Tùng Sơn</td>
                                        <td class="text-center">sonnt69@fpt.edu.vn</td>
                                        <td class="text-center">FPTU-HN</td>
                                        <td class="text-center" nowrap="nowrap">UTP</td>
                                        <td class="text-center">Malaysia</td>
                                        <td class="text-center">22/02/2222</td>
                                        <td class="text-center">23/03/2223</td>
                                        <td nowrap="nowrap">1</td>
                                        <td class="text-center"><input type="checkbox" /></td>
                                        <td nowrap="nowrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                                        <td nowrap="nowrap"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="text-center" nowrap="nowrap">Trần Quý Ban</td>
                                        <td class="text-center">bantq@fpt.edu.vn</td>
                                        <td class="text-center">FPTU-HN</td>
                                        <td class="text-center" nowrap="nowrap">UTP</td>
                                        <td class="text-center">Malaysia</td>
                                        <td class="text-center">22/02/2222</td>
                                        <td class="text-center">23/03/2223</td>
                                        <td nowrap="nowrap">2</td>
                                        <td class="text-center"><input type="checkbox" /></td>
                                        <td nowrap="nowrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                                        <td nowrap="nowrap"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2_table_2" role="tabpanel" aria-labelledby="kt_tab_pane_2_table_2">
                            abc
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal delete*@
<div class="modal fade in" id="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">XÁC NHẬN XÓA</h4>
            </div>
            <div class="modal-body">Có muốn xóa thông tin học bổng?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-dark" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-sm btn-outline-danger" id="btn_delete">Xóa</button>
            </div>
        </div>
    </div>
</div>

@*modal modify status*@
<div class="modal fade" id="add_status" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">CHUYỂN ĐỔI TRẠNG THÁI</h3>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Trạng thái</label>
                        <select class="form-control" required id="change_status">
                            <option value="1">Đang thực hiện</option>
                            <option value="2">Không hoàn thành</option>
                            <option value="3">Đã hoàn thành</option>
                        </select>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Bản mềm</label>
                        <input class="form-control" type="text" placeholder="Tải lên" autocomplete="off" required id="upload" />
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <label class="col-form-label font-weight-bolder">Ghi chú</label>
                        <textarea id="note" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal" id="btn_add">Lưu</button>
            </div>
        </div>
    </div>
</div>

@*modal status hisory*@
<div class="modal fade in" id="status_history" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">LỊCH SỬ TRẠNG THÁI</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Thời gian</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Cá nhân thay đổi</th>
                            <th class="text-center">Bản mềm</th>
                            <th class="text-center">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody id="status_history_table">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script>
        var id_row = "";
        //parse id fo delete
        function parse_id(id) {
            id_row = id;
        }
        //collapse div
        $('#collapse_btn_tab_1').click(function () {
            $('.collapse_tab_1').toggle(700)
        });

        $('#collapse_btn_tab_2').click(function () {
            $('.collapse_tab_2').toggle(700)
        })

        //split card

        //overflow
        $(document).ready(function () {
            $('#main-card').parent().css("background-color", "#eef0f8");
            $('#collaboration_table_1').parent().css('overflow-x', 'auto');
            $('#collaboration_table_1 thead tr th').css('font-weight', 'bold');
            $('#collaboration_table_2').parent().css('overflow-x', 'auto');
            $('#collaboration_table_2 thead tr th').css('font-weight', 'bold');
            $('.header-modify').css('padding', '13px');
        });

        //funtion delete
        $('#btn_delete').click(function() {
            $.ajax({
                url: '@Url.Action("Delete_Longterm", "AcademicCollaboration")',
                data: { 'id': id_row },
                success: function (data) {

                    if (data = "") {
                        toastr.error("Có lỗi xảy ra");
                    } else {
                        toastr.success("Đã xóa thành công");
                    }

                },
            });
        });
        //load status history table
        function show_status_history(id){
            $.ajax({
                url: '@Url.Action("Get_Status_History", "AcademicCollaboration")',
                data: { 'id': id },
                success: function (data) {
                    if (data = "") {
                        toastr.error("Có lỗi xảy ra");
                    } else {
                        var temp = '';
                        for (i = 0; i < 3; i++) {
                            temp += '<tr><td  class="text-center">' + i + 1 + '</td><td class="text-center">01/01/2021 12:10:11</td><td class="text-center">Đã hoàn thành</td><td class="text-center">Lê Phương Anh</td><td class="text-center">abc.pdf</td><td class="text-center">Đẫ học xong</td></tr>';
                        }
                        $('#status_history_table').html(temp);
                    }
                },
            });
        };


        //datatable
        $("#collaboration_table_1").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
                sLengthMenu: "Hiển thị <select class='custom-select custom-select-sm'>" +
                    "<option value='5'>5</option>" +
                    "<option value='10'>10</option>" +
                    "<option value='20'>20</option>" +
                    "</select> bản ghi",
                sSearch: "Tìm kiếm"
            },
            columnDefs: [
                {
                    targets: 8,
                    width: '75px',
                    render: function (data, type, full, meta) {
                        var status = {
                            1: {
                                'title': 'Hết hạn',
                                'class': 'label-light-danger'
                            },
                            2: {
                                'title': 'Còn hạn',
                                'class': 'label-light-success'
                            }
                        };
                        if (typeof status[data] === 'undefined') {
                            return data;
                        }
                        return '<span class="label label-lg font-weight-bold ' + status[data].class + ' label-inline">' + status[data].title + '</span> '
                            + '<a href="#add_status" data-toggle="modal"><span class="svg-icon svg-icon-dark svg-icon-sm"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">'
                            + ' <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> '
                            + '<rect x="0" y="0" width="24" height="24"/> '
                            + '<path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/> '
                            + ' <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/> '
                            + '   </g> '
                            + '</svg><!--end::Svg Icon--></span></a>'
                            + '<a onclick="show_status_history(13)" class="show-status-history" href="#status_history" data-toggle="modal"><span class="svg-icon svg-icon-dark svg-icon-sm"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Code/Time-schedule.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> '
                            + '  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> '
                            + '    <rect x="0" y="0" width="24" height="24"/> '
                            + '  <path d="M10.9630156,7.5 L11.0475062,7.5 C11.3043819,7.5 11.5194647,7.69464724 11.5450248,7.95024814 L12,12.5 L15.2480695,14.3560397 C15.403857,14.4450611 15.5,14.6107328 15.5,14.7901613 L15.5,15 C15.5,15.2109164 15.3290185,15.3818979 15.1181021,15.3818979 C15.0841582,15.3818979 15.0503659,15.3773725 15.0176181,15.3684413 L10.3986612,14.1087258 C10.1672824,14.0456225 10.0132986,13.8271186 10.0316926,13.5879956 L10.4644883,7.96165175 C10.4845267,7.70115317 10.7017474,7.5 10.9630156,7.5 Z" fill="#000000"/> '
                            + '<path d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z" fill="#000000" opacity="0.3"/> '
                            + ' </g> '
                            + '</svg><!--end::Svg Icon--></span></a> '
                            ;
                    },
                },
                {
                    targets: -1,
                    title: '',
                    orderable: false,
                    width: '125px',
                    render: function (data, type, full, meta) {
                        return '<a class="btn btn-sm btn-outline-primary" style="margin-right: 10px;">Sửa</a><a href="#delete" onclick="parse_id(12)" class="btn btn-sm btn-outline-danger" data-toggle="modal">Xóa</a>'
                    }
                }
            ]
        });


        $("#collaboration_table_2").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
                sLengthMenu: "Hiển thị <select class='custom-select custom-select-sm'>" +
                    "<option value='5'>5</option>" +
                    "<option value='10'>10</option>" +
                    "<option value='20'>20</option>" +
                    "</select> bản ghi",
                sSearch: "Tìm kiếm"
            },
            columnDefs: [
                {
                    targets: 8,
                    width: '75px',
                    render: function (data, type, full, meta) {
                        var status = {
                            1: {
                                'title': 'Hết hạn',
                                'class': 'label-light-danger'
                            },
                            2: {
                                'title': 'Còn hạn',
                                'class': 'label-light-success'
                            }
                        };
                        if (typeof status[data] === 'undefined') {
                            return data;
                        }
                        return '<span class="label label-lg font-weight-bold ' + status[data].class + ' label-inline">' + status[data].title + '</span> '
                            +  '<a href="#add_status" data-toggle="modal"><span class="svg-icon svg-icon-dark svg-icon-sm"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">'
                            +    ' <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> '
                            + '<rect x="0" y="0" width="24" height="24"/> '
                            +'<path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/> '
                            + ' <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/> '
                            + '   </g> '
                            + '</svg><!--end::Svg Icon--></span></a>'
                            + '<a onclick="show_status_history(13)" class="show-status-history" href="#status_history" data-toggle="modal"><span class="svg-icon svg-icon-dark svg-icon-sm"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Code/Time-schedule.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> '
                            + '  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> '
                            + '    <rect x="0" y="0" width="24" height="24"/> '
                            + '  <path d="M10.9630156,7.5 L11.0475062,7.5 C11.3043819,7.5 11.5194647,7.69464724 11.5450248,7.95024814 L12,12.5 L15.2480695,14.3560397 C15.403857,14.4450611 15.5,14.6107328 15.5,14.7901613 L15.5,15 C15.5,15.2109164 15.3290185,15.3818979 15.1181021,15.3818979 C15.0841582,15.3818979 15.0503659,15.3773725 15.0176181,15.3684413 L10.3986612,14.1087258 C10.1672824,14.0456225 10.0132986,13.8271186 10.0316926,13.5879956 L10.4644883,7.96165175 C10.4845267,7.70115317 10.7017474,7.5 10.9630156,7.5 Z" fill="#000000"/> '
                            + '<path d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z" fill="#000000" opacity="0.3"/> '
                            + ' </g> '
                            + '</svg><!--end::Svg Icon--></span></a> '
                            ;
                    },
                },
                {
                    targets: -1,
                    title: '',
                    orderable: false,
                    width: '125px',
                    render: function (data, type, full, meta) {
                        return '<a class="btn btn-sm btn-outline-primary" style="margin-right: 10px;">Sửa</a><a href="#delete" onclick="parse_id(12)" class="btn btn-sm btn-outline-danger" data-toggle="modal">Xóa</a>'
                    }
                }
            ]
        });
    </script>
}



