@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .collapse-title {
        width: auto;
        height: auto;
    }

    .collapse-div {
        background-color: #1616a8;
        border-radius: 6px;
        color: white;
        opacity: 0.6;
        transition: 0.3s;
    }

        .collapse-div:hover {
            opacity: 1;
        }

    .modal {
        overflow-y: auto;
    }

    .uppy-list-item {
        margin: 0 !important;
    }

    .select2-dropdown {
        z-index: 8888;
    }

    .label-lg {
        width: 80% !important;
    }
</style>
<div class="row mb-5">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <a href="#lt_describe_content" class="" data-toggle="modal">Chỉnh sửa nội dung miêu tả</a>
    </div>
    @*modal description*@
    @{
        Html.RenderPartial("PartialView/Long_Term_Modal_Description");
    }
</div>
<div class="card card-custom mb-1 collapse-title" id="collapse-title">
    <div class="card-body p-0 collapse-div">
        <div class="row justify-content-center px-lg-10">
            <div class=" col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center " id="collapse_btn_tab_1">
                <h3 style="margin-top: 0.5rem;">
                    ĐÀO TẠO CỦA ĐỐI TÁC THEO CHIỀU ĐI (CHIỀU ĐI)
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom collapse_tab_1" id="main-card">
    <div class="card-body p-0 ">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="row">
                        <ul class="nav nav-tabs nav-tabs-line col-8">
                            <li class="nav-item ">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_table_1">CÁN BỘ GIẢNG VIÊN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_table_1">CHƯƠNG TRÌNH ĐÀO TẠO</a>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs nav-tabs-line col-4 justify-content-end" style="padding-right: 0">
                            <li class="nav-item">
                                <a href="#ltg_describe_content" class="nav-link" data-toggle="modal">Chỉnh sửa nội dung miêu tả</a>
                            </li>
                            @*modal going content*@
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Going_Modal_Description");
                            }
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1_table_1" role="tabpanel" aria-labelledby="kt_tab_pane_1_table_1">
                            <div class="row mb-4">
                                <h4 style="font-weight: bold;">
                                    CÁN BỘ GIẢNG VIÊN
                                </h4>
                            </div>
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Training_Going_Table");
                            }
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2_table_1" role="tabpanel" aria-labelledby="kt_tab_pane_2_table_1">
                            <div class="row mb-4">
                                <h4 style="font-weight: bold;">
                                    CHƯƠNG TRÌNH ĐÀO TẠO
                                </h4>
                            </div>
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Program_Going_Table");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-custom mb-1 collapse-title" id="collapse-title" style="margin-top: 20px;">
    <div class="card-body p-0 collapse-div">
        <div class="row justify-content-center px-lg-10">
            <div class=" col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center " id="collapse_btn_tab_2">
                <h3 style="margin-top: 0.5rem;">
                    ĐÀO TẠO CỦA ĐẠI HỌC FPT (CHIỀU ĐẾN)
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom collapse_tab_2" style="display:none">
    <div class="card-body p-0">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="row">
                        <ul class="nav nav-tabs nav-tabs-line col-8">
                            <li class="nav-item ">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_table_2">CÁN BỘ GIẢNG VIÊN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_table_2">CHƯƠNG TRÌNH ĐÀO TẠO</a>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs nav-tabs-line col-4 justify-content-end" style="padding-right: 0">
                            <li class="nav-item">
                                <a href="#ltc_describe_content" class="nav-link" data-toggle="modal">Chỉnh sửa nội dung miêu tả</a>
                            </li>
                            @*modal coming content*@
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Coming_Modal_Description");
                            }
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1_table_2" role="tabpanel" aria-labelledby="kt_tab_pane_1_table_2">
                            <div class="row mb-4">
                                <h4 style="font-weight: bold;">
                                    CÁN BỘ GIẢNG VIÊN
                                </h4>
                            </div>
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Training_Coming_Table");
                            }
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2_table_2" role="tabpanel" aria-labelledby="kt_tab_pane_2_table_2">
                            <div class="row mb-4">
                                <h4 style="font-weight: bold;">
                                    CHƯƠNG TRÌNH ĐÀO TẠO
                                </h4>
                            </div>
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Program_Coming_Table");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal add status*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_Add_Status_History");
}
@*modal status hisory*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_View_Status_History");
}
@*LONG-TERM MODAL*@
@*modal add officer going*@
@{
    Html.RenderPartial("PartialView/Long_Term_Going_Modal_Add_Officer");
}
@*modal edit officer going*@
@{
    Html.RenderPartial("PartialView/Long_Term_Going_Modal_Edit_Officer");
}
@*modal add officer coming*@
@{
    Html.RenderPartial("PartialView/Long_Term_Coming_Modal_Add_Officer");
}
@*modal edit officer coming*@
@{
    Html.RenderPartial("PartialView/Long_Term_Coming_Modal_Edit_Officer");
}
@*modal add program going*@
@{
    Html.RenderPartial("PartialView/Modal_Add_Program_Going");
}
@*modal add program coming*@
@{
    Html.RenderPartial("PartialView/Modal_Add_Program_Coming");
}
@*modal edit program going*@
@{
    Html.RenderPartial("PartialView/Modal_Edit_Program_Going");
}
@*modal edit program coming*@
@{
    Html.RenderPartial("PartialView/Modal_Edit_Program_Coming");
}
@section scripts{
    @*datepicker and range*@
    <script src="~/Content/Custom JS/InternationalCollaboration/kt_datetimepicker_3_and_range.js"></script>
    @**@
    @*//////////////////////////////////////////////////UPDATE LONG-TERM CONTENT//////////////////////////////////////////////////*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/UpdateContent.js"></script>
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Coming/UpdateContent.js"></script>
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Going/UpdateContent.js"></script>
    @*///////////////////////////////////////////TABLE1: LONG-TERM GOING OFFICER//////////////////////////////////////////*@
    @**datatable*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Going/Officer/Datatable.js"></script>
    @*search*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Going/Officer/Search.js"></script>
    @*add modal*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Going/Officer/Add.js"></script>
    @*edit modal*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Going/Officer/Edit.js"></script>
    @*///////////////////////////////////////////TABLE 2: LONG-TERM COMING OFFICER/////////////////////////////////////////*@
    @**datatable*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Coming/Officer/Datatable.js"></script>
    @*search*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Coming/Officer/Search.js"></script>
    @*add modal*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Coming/Officer/Add.js"></script>
    @*edit modal*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Coming/Officer/Edit.js"></script>
    @*///////////////////////////////////////////TABLE 3 - 4: PROGRAM OFFICER/////////////////////////////////////////*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/LongTerm_Program_Datatable.js"></script>
    @*/////////////////////////////////////////////////////////GENERAL FUNCTION////////////////////////////////////////////////////*@
    @*delete*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/Delete.js"></script>
    @*status history*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/StatusHistory.js"></script>
    @*change status*@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/LongTerm/ChangeCollabStatus.js"></script>
    @*upload file*@
    <script src="~/Content/assets/plugins/custom/uppy/uppy.bundle.js?v=7.0.6"></script>
    <script src="~/Content/Custom JS/InternationalCollaboration/uppy.js"></script>
    <script>
        function dataURItoBlob(dataURI) {
            var blobBin = atob(dataURI.split(',')[1]);
            var array = [];
            for (var i = 0; i < blobBin.length; i++) {
                array.push(blobBin.charCodeAt(i));
            }
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
            var file = new Blob([new Uint8Array(array)], { type: mimeString });
            return file;
        }

        $('#edit_program_language_going').select2({
            placeholder: 'Ngôn ngữ',
        })
        $('#edit_program_language_coming').select2({
            placeholder: 'Ngôn ngữ',
        })
    </script>
    @*---------------------------------------- add program------------------------------------------- *@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/Program_Add.js"></script>
    @* -----------------delete, load detail, change language program----------- *@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/RUDProgram.js"></script>
    @* -----------------save edit program--------------------------------------------- *@
    <script src="~/Content/Custom JS/InternationalCollaboration/AcademicCollaboration/Program_Edit.js"></script>
    <script>
        $('.kt_datepicker_5').datepicker({
            rtl: KTUtil.isRTL(),
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });

        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            });
        });
    </script>
    <script>
        //table 3
        $('#search_status_tab_2_table_1').select2({
            placeholder: 'Trạng thái',
        })
    </script>

    <script>
        //table 4
        $('#search_status_tab_2_table_2').select2({
            placeholder: 'Trạng thái',
        })
    </script>
    <script>
        //collapse div
        $('#collapse_btn_tab_1').click(function () {
            $('.collapse_tab_1').toggle(700)
        });

        $('#collapse_btn_tab_2').click(function () {
            $('.collapse_tab_2').toggle(700)
        })

        $('#collapse_btn_tab_2').on('click', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });

        //split card
        //overflow
        $(document).ready(function () {
            $('#main-card').parent().css("background-color", "#eef0f8");
            //$('.collaboration_table thead tr th').css('font-weight', 'bold');
            $('.header-modify').css('padding', '13px');
        });
    </script>

    @*text editor*@
    <script>
        var KTSummernoteDemo = function () {
            // Private functions
            var add_summernote_going = function () {
                $('#add_summernote_going').summernote({
                    height: 400,
                    tabsize: 2
                });
            }
            var add_summernote_coming = function () {
                $('#add_summernote_coming').summernote({
                    height: 400,
                    tabsize: 2
                });
            }
            var edit_summernote_going = function () {
                $('#edit_summernote_going').summernote({
                    height: 400,
                    tabsize: 2
                });
            }
            var edit_summernote_coming = function () {
                $('#edit_summernote_coming').summernote({
                    height: 400,
                    tabsize: 2
                });
            }


            return {
                // public functions
                init: function () {
                    add_summernote_going();
                    add_summernote_coming();
                    edit_summernote_going();
                    edit_summernote_coming();
                }
            };
        }();
        // Initialization
        jQuery(document).ready(function () {
            KTSummernoteDemo.init();
        });
    </script>
}

