@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .collapse-title {
        width: auto;
        height: auto;
    }

    .collapse-div {
        background-color: #1616a8;
        border-radius: 6px;
        color: white;
        opacity: 0.6;
        transition: 0.3s;
    }

        .collapse-div:hover {
            opacity: 1;
        }

    .modal {
        overflow-y: auto;
    }

    .uppy-list-item {
        margin: 0 !important;
    }

    .select2-dropdown {
        z-index: 8888;
    }

    .label-lg {
        width: 78% !important;
    }
</style>
<div class="row mb-5">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <a href="javascript:;" class="" id="edit_content_long_term">Chỉnh sửa nội dung miêu tả</a>
    </div>
</div>
<div class="card card-custom mb-1 collapse-title" id="collapse-title">
    <div class="card-body p-0 collapse-div">
        <div class="row justify-content-center px-lg-10">
            <div class=" col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center " id="collapse_btn_tab_1">
                <h3 style="margin-top: 0.5rem;">
                    ĐÀO TẠO CỦA ĐỐI TÁC THEO CHIỀU ĐI (CHIỀU ĐI)
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom collapse_tab_1" id="main-card">
    <div class="card-body p-0 ">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="row">
                        <ul class="nav nav-tabs nav-tabs-line col-8">
                            <li class="nav-item ">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_table_1">CÁN BỘ GIẢNG VIÊN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_table_1">CHƯƠNG TRÌNH ĐÀO TẠO</a>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs nav-tabs-line col-4 justify-content-end" style="padding-right: 0">
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link" id="edit_content_going">Chỉnh sửa nội dung miêu tả</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1_table_1" role="tabpanel" aria-labelledby="kt_tab_pane_1_table_1">
                            <div class="row mb-4">
                                <h4 style="font-weight: bold;">
                                    CÁN BỘ GIẢNG VIÊN
                                </h4>
                            </div>
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Training_Going_Table");
                            }
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2_table_1" role="tabpanel" aria-labelledby="kt_tab_pane_2_table_1">
                            <div class="row mb-4">
                                <h4 style="font-weight: bold;">
                                    CHƯƠNG TRÌNH ĐÀO TẠO
                                </h4>
                            </div>
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Program_Going_Table");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-custom mb-1 collapse-title" id="collapse-title" style="margin-top: 20px;">
    <div class="card-body p-0 collapse-div">
        <div class="row justify-content-center px-lg-10">
            <div class=" col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center " id="collapse_btn_tab_2">
                <h3 style="margin-top: 0.5rem;">
                    ĐÀO TẠO CỦA ĐẠI HỌC FPT (CHIỀU ĐẾN)
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom collapse_tab_2" style="display:none">
    <div class="card-body p-0">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="row">
                        <ul class="nav nav-tabs nav-tabs-line col-8">
                            <li class="nav-item ">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_table_2">CÁN BỘ GIẢNG VIÊN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_table_2">CHƯƠNG TRÌNH ĐÀO TẠO</a>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs nav-tabs-line col-4 justify-content-end" style="padding-right: 0">
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link" id="edit_content_coming">Chỉnh sửa nội dung miêu tả</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1_table_2" role="tabpanel" aria-labelledby="kt_tab_pane_1_table_2">
                            <div class="row mb-4">
                                <h4 style="font-weight: bold;">
                                    CÁN BỘ GIẢNG VIÊN
                                </h4>
                            </div>
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Training_Coming_Table");
                            }
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2_table_2" role="tabpanel" aria-labelledby="kt_tab_pane_2_table_2">
                            <div class="row mb-4">
                                <h4 style="font-weight: bold;">
                                    CHƯƠNG TRÌNH ĐÀO TẠO
                                </h4>
                            </div>
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Program_Coming_Table");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal description*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_Description");
}

@*modal add status*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_Add_Status_History");
}

@*modal status hisory*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_View_Status_History");
}

@*modal add officer*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_Add_Officer");
}

@*modal edit officer*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_Edit_Officer");
}

@*modal add program*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_Add_Program");
}

@*modal edit program*@
@{
    Html.RenderPartial("PartialView/Long_Term_Modal_Edit_Program");
}

@section scripts{
    @*//datatable*@
    <script src="~/Scripts/Custom_JS/InternationalCollaboration/AC_Datatable/Longterm_Datatable.js"></script>

    @*datepicker and range*@
    <script src="~/Scripts/Custom_JS/InternationalCollaboration/kt_datetimepicker_3_and_range.js"></script>

    @*modal trigger*@
    <script>
        $('#edit_content_long_term').click(function () {
            $('#describe_content').find("textarea").val('').end()
            $('#describe_content').modal('show');
        })

        $('#edit_content_going').click(function () {
            $('#describe_content').find("textarea").val('').end()
            $('#describe_content').modal('show');
        })

        $('#edit_content_coming').click(function () {
            $('#describe_content').find("textarea").val('').end()
            $('#describe_content').modal('show');
        })
    </script>

    @*///////////////////////////////////////////TABLE 1: LONG-TERM GOING//////////////////////////////////////////*@
    <script>
        $(document).ready(function () {
            @*1.SEARCH*@
            $('#search_nation_tab_1_table_1').select2({
                placeholder: 'Quốc gia',
                allowClear: true,
                tags: true,
                ajax: {
                    url: '/AcademicCollaboration/getCountries',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            country_name: params.term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.country_name;
                            obj.text = obj.country_name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatCountryInfo
            });

            function formatCountryInfo(country) {
                return country.country_name;
            }

            $('#search_year_tab_1_table_1').select2({
                placeholder: 'Năm đi học',
                allowClear: true
            });

            //get data to year search
            $.ajax({
                url: "/AcademicCollaboration/getYears",
                type: "GET",
                cache: true,
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        for (let year = data.obj.year_from; year <= data.obj.year_to; year++) {
                            let newOption = new Option(year, year, false, false);
                            $("#search_year_tab_1_table_1").val(null).trigger('change');
                            $("#search_year_tab_1_table_1").append(newOption).trigger('change');
                        }
                    }
                },
                error: function () {
                    toastr.error("Lấy dữ liệu về năm xảy ra lỗi.");
                }
            });


            $('#search_training_facility_tab_1_table_1').select2({
                placeholder: 'Đơn vị đào tạo',
                allowClear: true,
                tags: true,
                ajax: {
                    url: '/AcademicCollaboration/getPartners',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            partner_name: params.term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.partner_name;
                            obj.text = obj.partner_name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatPartnerInfo
            });

            function formatPartnerInfo(partner) {
                return partner.partner_name;
            }

            $('#search_working_facility_tab_1_table_1').select2({
                placeholder: 'Đơn vị công tác',
                allowClear: true,
                tags: true,
                ajax: {
                    url: '/AcademicCollaboration/getOffices',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            office_name: params.term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.office_name;
                            obj.text = obj.office_name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatOfficeInfo
            })

            function formatOfficeInfo(office) {
                return office.office_name;
            }

            @*MODAL INFORMATION*@
            //// person infor
            var person = $('#add_officer_name').val(); //*
            var person_name = person.split('/')[0] === undefined ? '' : person.split('/')[0];
            var person_id = person.split('/')[1] === undefined ? 0 : person.split('/')[1];
            var available_person = false;

            //// partner infor
            var partner = $('#add_officer_traning').val(); //*
            var partner_name = partner.split('/')[0] === undefined ? '' : partner.split('/')[0];
            var partner_id = partner.split('/')[1] === undefined ? 0 : partner.split('/')[1];
            var available_partner = false;

            var status_id = $('#add_officer_status').val(); //*

            var plan_start_date = $('#add_officer_start_plan_date').val(); //*
            var plan_end_date = $('#add_officer_end_plan_date').val(); //*

            @*2.ADD MODAL*@
            var uppy1; //init for uppy.js
            //2.1.SHOW BUTTON
            ///2.1.1.THÔNG TIN CÁ NHÂN
            $('#add_officer_name').select2({
                placeholder: 'Họ và tên',
                allowClear: true,
                tags: true,
                ajax: {
                    url: '/AcademicCollaboration/getPeople',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            person_name: params.term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.name + "/" + obj.people_id;
                            obj.text = obj.name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatPersonInfo
            }).on("select2:select", function () { //after select option
                checkPerson();
            }).on("select2:unselecting", function () {
                //after clear tag
                //clear email & office
                $('#add_officer_email').val("");
                $('#add_officer_facility').val(null).trigger('change');
                //enable email & office
                $('#add_officer_email').prop('disabled', false);
                $('#add_officer_facility').prop('disabled', false);
            });

            function formatPersonInfo(person) {
                if (person.id) {
                    let mssv_msnv = person.mssv_msnv;
                    let name = person.name;
                    if (mssv_msnv === undefined && name === undefined) {
                        return "Dữ liệu cá nhân mới."
                    } else {
                        return mssv_msnv + " - " + name;
                    }
                }
            }

            function checkPerson() {
                person = $('#add_officer_name').val();
                person_name = person.split('/')[0] === undefined ? '' : person.split('/')[0];
                person_id = person.split('/')[1] === undefined ? 0 : person.split('/')[1];

                $.ajax({
                    url: "/AcademicCollaboration/checkPerson",
                    type: "POST",
                    data: {
                        people_id: person_id,
                        people_name: person_name
                    },
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            //clear content
                            $('#add_officer_email').val("");
                            $('#add_officer_facility').val(null).trigger('change');
                            if (data.obj != null) {
                                //avaiable person data in DB
                                available_person = true; //using for Add||Edit
                                if (data.success) {
                                    //auto fill data
                                    let p = data.obj;
                                    $('#add_officer_email').val(p.email);
                                    $('#add_officer_facility').append(new Option(p.office_name, p.office_id, false, true)).trigger('change');
                                    //disable email & office
                                    $('#add_officer_email').prop('disabled', true);
                                    $('#add_officer_facility').prop('disabled', true);
                                } else {
                                    toastr.error(data.content);
                                }
                            } else {
                                //new person case
                                available_person = false;
                                ///enable email and office select
                                $('#add_officer_email').prop('disabled', false);
                                $('#add_officer_facility').prop('disabled', false);
                            }
                        } else {
                            toastr.error("Kiểm tra cán bộ giảng viên có lỗi xảy ra.");
                        }
                    },
                    error: function () {
                        toastr.error("Kiểm tra cán bộ giảng viên có lỗi xảy ra.");
                    }
                });
            }

            $('#add_officer_facility').select2({
                placeholder: 'Đơn vị - Cơ sở',
                allowClear: true,
                tags: true,
                ajax: {
                    url: '/AcademicCollaboration/getOffices',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            office_name: params.term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.office_id;
                            obj.text = obj.office_name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatOfficeInfo
            });

            ///2.1.2.ĐƠN VỊ ĐÀO TẠO
            $('#add_officer_traning').select2({
                placeholder: 'Đơn vị đào tạo',
                allowClear: true,
                tags: true,
                ajax: {
                    url: '/AcademicCollaboration/getPartners',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            partner_name: params.term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.partner_name + '/' + obj.partner_id;
                            obj.text = obj.partner_name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatPartnerInfo
            }).on("select2:select", function () { //after select partner
                //check partner
                checkPartner();
            }).on("select2:unselecting", function () {
                //after clear tag
                //clear country select
                $('#add_officer_nation').val(null).trigger('change');
                ///enable country
                $('#add_officer_nation').prop('disabled', false);
            });

            function formatPartnerInfo(partner) {
                if (partner.id) {
                    let partner_name = partner.partner_name;
                    if (partner_name === undefined) {
                        return "Dữ liệu đơn vị đào tạo mới."
                    } else {
                        return partner.partner_name;
                    }
                }
            }

            function checkPartner() {
                //process partner_name
                partner = $('#add_officer_traning').val();
                partner_name = partner.split('/')[0] === undefined ? '' : partner.split('/')[0];
                partner_id = partner.split('/')[1] === undefined ? 0 : partner.split('/')[1];

                $.ajax({
                    url: "/AcademicCollaboration/checkPartner",
                    type: "POST",
                    data: {
                        partner_name: partner_name,
                        partner_id: partner_id
                    },
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            //clear content
                            $('#add_officer_nation').val(null).trigger('change');
                            if (data.obj != null) {
                                //available partner data in DB
                                available_partner = true; //using for Add||Edit
                                if (data.success) {
                                    //auto fill data
                                    let p = data.obj;
                                    $('#add_officer_nation').append(new Option(p.country_name, p.country_id, false, true)).trigger('change');
                                    //disable country
                                    $('#add_officer_nation').prop('disabled', true);
                                } else {
                                    toastr.error(data.content);
                                }
                            } else {
                                //new partner case
                                available_partner = false;
                                ///enable country
                                $('#add_officer_nation').prop('disabled', false);
                            }
                        } else {
                            toastr.error("Kiểm tra đối tác có lỗi xảy ra.");
                        }
                    },
                    error: function () {
                        toastr.error("Kiểm tra đối tác có lỗi xảy ra.");
                    }
                });
            }

            $('#add_officer_nation').select2({
                placeholder: 'Quốc gia',
                allowClear: true,
                tags: true,
                ajax: {
                    url: '/AcademicCollaboration/getCountries',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            country_name: params.term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.country_id;
                            obj.text = obj.country_name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatCountryInfo
            });

            $('#add_officer_coop_scope').select2({
                placeholder: 'Phạm vi hợp tác',
                allowClear: true,
                //minimumResultsForSearch: -1, //hide search box
                ajax: {
                    url: '/AcademicCollaboration/getCollabScopes',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            collab_abbreviation_name: params.term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.scope_id;
                            obj.text = obj.scope_name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatCollabScope
            });

            function formatCollabScope(scope) {
                return scope.scope_abbreviation + " - " + scope.scope_name;
            }

            ///2.1.3.CHI TIẾT
            $('#add_officer_status').select2({
                placeholder: 'Trạng thái',
                allowClear: true,
                minimumResultsForSearch: -1, //hide search box
                tags: true,
                ajax: {
                    url: '/AcademicCollaboration/getAcadCollabStatus',
                    delay: 250,
                    cache: true,
                    dataType: 'json',
                    data: function () {
                        return {
                            status_type_specific: 2 //long-term
                        };
                    },
                    processResults: function (data) {
                        data.obj.map(function (obj) {
                            obj.id = obj.collab_status_id;
                            obj.text = obj.collab_status_name;
                            return data.obj;
                        });

                        return {
                            results: data.obj
                        };
                    }
                },
                templateResult: formatAcadCollabStatus
            });

            function formatAcadCollabStatus(acs) {
                return acs.collab_status_name;
            }

            //2.2. SAVE BUTTON
            $('#add_officer_save').on('click', function () {
                //person
                person = $('#add_officer_name').val();
                person_name = person.split('/')[0];
                person_id = person.split('/')[1]

                var person_email = $('#add_officer_email').val();
                var person_profile_office_id = $('#add_officer_facility').val();

                //partner
                partner = $('#add_officer_traning').val();
                partner_name = partner.split('/')[0];
                partner_id = partner.split('/')[1];

                var partner_country_id = $('#add_officer_nation').val();

                var collab_scope_id = $('#add_officer_coop_scope').val();

                //detail
                status_id = $('#add_officer_status').val();

                plan_start_date = $('#add_officer_start_plan_date').val();
                plan_end_date = $('#add_officer_end_plan_date').val();

                var evidence = uppy1.getFiles()[0].data;

                var actual_start_date = $('#add_officer_start_date').val();
                var actual_end_date = $('#add_officer_end_date').val();

                var support = $('#add_officer_support').prop('checked');
                var note = $('#add_officer_note').val();

                let obj_person = {
                    available_person: available_person,
                    person_name: person_name,
                    person_id: person_id,
                    person_email: person_email,
                    person_profile_office_id: person_profile_office_id
                }

                let obj_partner = {
                    available_partner: available_partner,
                    partner_name: partner_name,
                    partner_id: partner_id,
                    partner_country_id: partner_country_id,
                    collab_scope_id: collab_scope_id
                }

                let obj_academic_collab = {
                    status_id: status_id,
                    plan_start_date: plan_start_date,
                    plan_end_date: plan_end_date,
                    actual_start_date: actual_start_date,
                    actual_end_date: actual_end_date,
                    support: support,
                    note: note
                }

                saveAcademicCollaboration();
            });

            function saveAcademicCollaboration() {
                if (checkBeforeSave()) {
                    saveAcademicCollaborationProcess();
                }
            }

            function saveAcademicCollaborationProcess() {
                saveAcademicCollaborationProcess_Step1();
            }

            function saveAcademicCollaborationProcess_Step1() {
                let formData = new FormData();
                formData.append("evidence", evidence);
                formData.append("folder_name", person_name + " - " + partner_name);
                //Step 1
                //upload file
                $.ajax({
                    url: "/AcademicCollaboration/uploadEvidenceFile",
                    type: "POST",
                    data: formData,
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        //get evidence_link after upload to Google Drive
                        var evidence_link = data.evidence_link;
                        obj_academic_collab.evidence_link = evidence_link;

                        //continuous Step 2
                        saveAcademicCollaborationProcess_Step2();
                    },
                    error: function () {
                        toastr.error("Có lỗi xảy ra khi upload file.");
                    }
                });
            }

            function saveAcademicCollaborationProcess_Step2() {
                $.ajax({
                    url: "/AcademicCollaboration/saveAcademicCollaboration",
                    type: "POST",
                    data: {
                        obj_person: obj_person,
                        obj_partner: obj_partner,
                        obj_academic_collab: obj_academic_collab
                    },
                    cache: false,
                    dataType: "json",
                    success: function (data) {

                    },
                    error: function () {
                        toastr.error("Có lỗi xảy ra khi upload file.");
                    }
                })
            }

            function checkBeforeSave() {
                //check empty
                if (isEmpty(person) || isEmpty(partner) || isEmpty(status) || isEmpty(plan_start_date) || isEmpty(plan_end_date)) {
                    toastr.error("Chưa chọn đủ trường thông tin bắt buộc.");
                    return false;
                } else {
                    //validate datepicker from - to
                    if (!datePickerFromToValidate(plan_start_date, plan_end_date) || !datePickerFromToValidate(actual_start_date, actual_end_date)) {
                        toastr.error("`TG đi học` không được vượt quá `TG kết thúc`.")
                        return false;
                    }
                }
                return true;
            }

            function isEmpty(value) {
                return value === "" ? true : false;
            }

            function datePickerFromToValidate(from, to) {
                if (!(from === "" || to === "")) {
                    let date_from = Date.parse(formatDatePicker(from));
                    let date_to = Date.parse(formatDatePicker(to));
                    if (date_from > date_to) {
                        return false;
                    }
                    return true;
                }
                return true;
            }

            function formatDatePicker(date) {
                return date.split('/')[2] + '/' + date.split('/')[1] + '/' + date.split('/')[0];
            }

            //2.3.CLOSE BUTTON
            $('#add_officer').on('hidden.bs.modal', function () {
                //enable input and select
                $('#add_officer_email').prop('disabled', false);
                $("#add_officer_facility").prop('disabled', false);
                $('#add_officer_nation').prop('disabled', false);
                $('#add_officer_coop_scope').prop('disabled', false);

                //clear data
                ///THÔNG TIN CÁ NHÂN
                $('#add_officer_name').val(null).trigger('change');
                $('#add_officer_email').val('');
                $('#add_officer_facility').val(null).trigger('change');
                ///ĐƠN VỊ ĐÀO TẠO
                $('#add_officer_traning').val(null).trigger('change');
                $('#add_officer_nation').val(null).trigger('change');
                $('#add_officer_coop_scope').val(null).trigger('change');
                ///CHI TIẾT
                $('#add_officer_status').val(null).trigger('change');
                $('#add_officer_start_plan_date').val('');
                $('#add_officer_end_plan_date').val('');
                //????????????????????????????????????????????????????????????Bản mềm?????????????????????????????????????????????????
                $('#add_officer_start_date').val('');
                $('#add_officer_end_date').val('');
                $('#add_officer_support').prop('checked', false);
                $('#add_officer_note').val('');
            });

            @*3.EDIT MODAL*@
        });
    </script>

    @*///////////////////////////////////////////TABLE 2: LONG-TERM COMING/////////////////////////////////////////*@
    <script>
        //select2 table 2
        $('#search_nation_tab_1_table_2').select2({
            placeholder: 'Quốc gia',
            allowClear: true,
            tags: true,
        })

        $('#search_year_tab_1_table_2').select2({
            placeholder: 'Năm đi học',
            allowClear: true,
            tags: true,
        })

        $('#search_training_facility_tab_1_table_2').select2({
            placeholder: 'Đơn vị đào tạo',
            allowClear: true,
            tags: true,
        })

        $('#search_working_facility_tab_1_table_2').select2({
            placeholder: 'Đơn vị công tác',
            allowClear: true,
            tags: true,
        })
    </script>

    <script>
        //table 3
        $('#search_status_tab_2_table_1').select2({
            placeholder: 'Trạng thái',
            allowClear: true,
            tags: true,
        })

        $('#add_program_partner').select2({
            placeholder: 'Đối tác',
            allowClear: true,
            tags: true,
        })

        $('#add_program_language').select2({
            placeholder: 'Ngôn ngữ',
            allowClear: true,
            tags: true,
        })

    </script>

    <script>
        //table 4
        $('#search_status_tab_2_table_2').select2({
            placeholder: 'Trạng thái',
            allowClear: true,
            tags: true,
        })
    </script>

    <script>
        var id_row = "";
        //parse id fo delete
        function parse_id(id) {
            id_row = id;
        }
        //collapse div
        $('#collapse_btn_tab_1').click(function () {
            $('.collapse_tab_1').toggle(700)
        });

        $('#collapse_btn_tab_2').click(function () {
            $('.collapse_tab_2').toggle(700)
        })

        $('#collapse_btn_tab_2').on('click', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });

        //$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        //    $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        //});
        //split card
        //overflow
        $(document).ready(function () {
            $('#main-card').parent().css("background-color", "#eef0f8");
            //$('.collaboration_table thead tr th').css('font-weight', 'bold');
            $('.header-modify').css('padding', '13px');
        });

        //funtion delete
        $('#btn_delete').click(function() {
            $.ajax({
                url: '@Url.Action("Delete_Longterm", "AcademicCollaboration")',
                data: { 'id': id_row },
                success: function (data) {
                    if (data = "") {
                        toastr.error("Có lỗi xảy ra");
                    } else {
                        toastr.success("Đã xóa thành công");
                    }

                },
            });
        });

        //load status history table
        function show_status_history(id){
            $.ajax({
                url: '@Url.Action("Get_Status_History", "AcademicCollaboration")',
                data: { 'id': id },
                success: function (data) {
                    if (data = "") {
                        toastr.error("Có lỗi xảy ra");
                    } else {
                        var status = {
                            1: {
                                'title': 'Không hoàn thành',
                                'class': 'label-secondary'
                            },
                            2: {
                                'title': 'Đã hoàn thành',
                                'class': 'label-success'
                            },
                            3: {
                                'title': 'Đang thực hiện',
                                'class': 'label-danger'
                            }
                        };
                        var temp = '';
                        for (i = 0; i < 3; i++) {
                            temp += '<tr><td  class="text-center">' + eval(i+1) + '</td> ' +
                                '<td class="text-center">01/01/2021 12:10:11</td> ' +
                                '<td class="text-center"> ' +
                                '<span class="label label-lg label-pill font-weight-bold ' + status[eval(i+1)].class +
                                ' label-inline">' + status[eval(i + 1)].title + '</span></td> ' +
                                '<td class="text-center">Lê Phương Anh</td> ' +
                                '<td class="text-center">abc.pdf</td>' +
                                '<td class="text-center">Đã học xong</td></tr>';
                        }
                        $('#status_history_table').html(temp);
                    }
                },
            });
        };

    </script>

    @*text editor*@
    <script>
        var KTSummernoteDemo = function () {
            // Private functions
            var demos = function () {
                $('.summernote').summernote({
                    height: 400,
                    tabsize: 2
                });
            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();

        // Initialization
        jQuery(document).ready(function () {
            KTSummernoteDemo.init();
        });
    </script>

    @*upload*@
    <script src="~/Content/assets/plugins/custom/uppy/uppy.bundle.js?v=7.0.6"></script>
    <script src="~/Scripts/Custom_JS/InternationalCollaboration/uppy.js"></script>
}

