
@{
    ViewBag.Title = "Chính sách hiện hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-7">
    <div class="col-lg-4 mb-8">
        <div class="card card-custom">
            <div class="card-header ribbon ribbon-top ribbon-ver">
                <div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
                    Hội nghị
                </div>
                <h3 class="card-title">
                    Hỗ trợ tham dự hội nghị
                </h3>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus
                litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus.
                Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-8">
        <div class="card card-custom">
            <div class="card-header ribbon ribbon-top ribbon-ver">
                <div class="ribbon-target bg-success" style="top: -2px; right: 20px;">
                    Khen thưởng
                </div>
                <h3 class="card-title">
                    Khen thưởng bài báo, nghiên cứu khoa học
                </h3>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus
                litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus.
                Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-8">
        <div class="card card-custom">
            <div class="card-header ribbon ribbon-top ribbon-ver">
                <div class="ribbon-target bg-success" style="top: -2px; right: 20px;">
                    Khen thưởng
                </div>
                <h3 class="card-title">
                    Khen thưởng trích dẫn
                </h3>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus
                litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus.
                Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-8">
        <div class="card card-custom">
            <div class="card-header ribbon ribbon-top ribbon-ver">
                <div class="ribbon-target bg-success" style="top: -2px; right: 20px;">
                    Khen thưởng
                </div>
                <h3 class="card-title">
                    Khen thưởng bằng sáng chế
                </h3>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus
                litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus.
                Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.
            </div>
        </div>
    </div>
</div>

@section Scripts {
}