
@{
    ViewBag.Title = "Cài đặt upload drive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <form action="/SettingDrive" class="row" method="post">
            <div class="col-3">
                <div class="form-group">
                    <label for="parent_dir">ID thư mục gốc<span style='color:red'>*</span>:</label>
                    <input type="text" class="form-control" id="parent_dir" name="parent_dir" placeholder="ID thư mục gốc" value="0AKarybMa3U9QUk9PVA">
                </div>
            </div>
            <div class="col-1">
                <div class="form-group" style="position: absolute; bottom: 0">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </form>
        <a href="/SettingDrive/ChangeAccount" class="btn btn-bg-danger">Thay đổi tài khoản Drive</a>
    </div>
</div>

@section Scripts {
}