
@{
    //ViewBag.Title = "WaitDecision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-body">
            <div class="row" style="margin-bottom: 25px">
                <div class="col-xl-12" style="text-align: start">
                    <button class="btn btn-light-success px-6 font-weight-bold">Upload quyết định</button>
                    <button class="btn btn-light-success px-6 font-weight-bold">Xuất excel</button>
                </div>
            </div>
            <table id="tapchiin" class="table table-bordered table-checkable">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên tác giả</th>
                        <th>MSNV/MSSV</th>
                        <th>Đơn vị công tác</th>
                        <th>Tổng số trích dẫn</th>
                        <th>Tổng thưởng</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nguyễn Quốc Long</td>
                        <td>299923</td>
                        <td>FU-HL</td>
                        <td>10</td>
                        <td>10000000</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            });
            $('#tapchiin').DataTable({
                "columns": [
                    { width: "5%" },
                    { width: "20%" },
                    { width: "15%" },
                    { width: "15%" },
                    { width: "15%" },
                    { width: "20%" },
                    { width: "10%" }
                ],
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
                              <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                }
            });
        });
    </script>
}

