<table class="col-12 table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nội dung</th>
            <th scope="col">Tổ chức tài trợ</th>
            <th scope="col">Chi phí</th>
            <th scope="col">Tổng cộng</th>
            @if (ViewBag.CheckboxColumn)
            {
                <th>Chấp thuận</th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tiền khách sạn</td>
            <td>FPTU</td>
            <td>500,000 * 3 * 4</td>
            <td><span class="label label-lg label-light-danger label-inline targetCost">6,000,000 đ</span></td>
            @if (ViewBag.CheckboxColumn)
            {
                <td>
                    <label class="checkbox checkbox-disabled">
                        <input type="checkbox" disabled="disabled" checked="checked" name="Checkboxes1" />
                        <span></span>
                    </label>
                </td>
                <td></td>
            }
        </tr>
        <tr>
            <td>Taxi</td>
            <td>FPTU</td>
            @if (ViewBag.CheckboxColumn)
            {
                <td>
                    <input onInput="calculateCost(this)" type="text" class="form-control  form-control-lg" name="postcode" placeholder="Chi phí" value="">
                </td>
                <td>
                    <span class="label label-lg label-light-danger label-inline targetCost">0 đ</span>
                </td>
                <td>
                    <label class="checkbox checkbox-disabled">
                        <input type="checkbox" disabled="disabled" name="Checkboxes1" />
                        <span></span>
                    </label>
                </td>
                <td nowrap="">
                    <a onclick="deleteCost(this)" class="btn btn-sm btn-clean btn-icon" title="Delete"> <i class="la la-trash"></i> </a>
                </td>
            }
            else
            {
                <td>2,000,000 * 3</td>
                <td><span class="label label-lg label-light-danger label-inline targetCost">6,000,000 đ</span></td>
            }
        </tr>
        <tr>
            <td>Vé máy bay</td>
            <td>FPTU</td>
            <td>500,000 * 3 * 4</td>
            <td><span class="label label-lg label-light-danger label-inline targetCost">6,000,000 đ</span></td>
            @if (ViewBag.CheckboxColumn)
            {
                <td>
                    <label class="checkbox checkbox-disabled">
                        <input type="checkbox" disabled="disabled" checked="checked" name="Checkboxes1" />
                        <span></span>
                    </label>
                </td>
                <td></td>
            }
        </tr>
        <tr>
            <td>Khác</td>
            <td>FPTU</td>
            <td>500,000</td>
            <td><span class="label label-lg label-light-danger label-inline targetCost">500,000 đ</span></td>
            @if (ViewBag.CheckboxColumn)
            {
                <td>
                    <label class="checkbox checkbox-disabled">
                        <input type="checkbox" disabled="disabled" checked="checked" name="Checkboxes1" />
                        <span></span>
                    </label>
                </td>
                <td></td>
            }
        </tr>
        <tr>
            <th scope="row">Tổng cộng</th>
            <td></td>
            <td></td>
            <td><span id="totalCost" class="label label-lg label-light-danger label-inline">18,500,000 đ</span></td>
            @if (ViewBag.CheckboxColumn)
            {
                <td></td>
                <td></td>
            }
        </tr>
        @if (ViewBag.ReimbursementColumn)
        {
            <tr>
                <th scope="row">Hoàn ứng</th>
                <td></td>
                <td></td>
                <td><span class="label label-lg label-light-danger label-inline">18,000,000 đ</span></td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.EditAble)
{
    <button type="submit" class="btn btn-primary float-right">Lưu</button>
    <button type="submit" class="btn btn-success float-right mr-2">Gửi đơn</button>

    @Scripts.Render("~/Scripts/CostTableConferenceRequest.js");
}