@{
    ViewBag.Title = "THÔNG TIN NCV: ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .nav-link {
        font-size: 17px;
    }

    #research_avatar {
        width: 15rem;
        border-radius: 50%
    }
</style>

<div class="col-12">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::Profile Personal Information-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                @{
                    Html.RenderPartial("_Researcher");
                }
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">CÔNG BỐ KHOA HỌC, HỘI NGHỊ</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">Cập nhật thông tin về các công bố khoa học cho nghiên cứu viên</span>
                            </div>
                            <div class="card-toolbar">
                                <button type="reset" class="btn btn-success mr-2">Lưu</button>
                                <button type="reset" class="btn btn-secondary">Huỷ</button>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <h5 class="font-weight-bold ">Tạp chí/sách</h5>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="table table-bordered table-checkable" id="tapchi_list">
                                        <thead><tr class="tableizer-firstrow"><th>STT</th><th>Tạp chí/Sách</th><th>Tên bài báo</th><th>Tác giả</th><th>Năm</th><th>&nbsp;</th></tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Lorem Ipsum Dolor Sit Amet</td>
                                                <td>Filter regular sequence under small perturbations</td>
                                                <td>Linquan Ma, Phạm Hùng Quý, Ilya Smirnov</td>
                                                <td>2020</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                                                        <span class="svg-icon svg-icon-md">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="24px"
                                                                 height="24px"
                                                                 viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Lorem Ipsum Dolor Sit Amet</td>
                                                <td>Colength, multiplicity, and ideal closure operations, Communications in Algebra, Vol. 48 (2020), 1601-1607</td>
                                                <td>Linquan Ma, Phạm Hùng Quý, Ilya Smirnov</td>
                                                <td>2020</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                                                        <span class="svg-icon svg-icon-md">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="24px"
                                                                 height="24px"
                                                                 viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Lorem Ipsum Dolor Sit Amet</td>
                                                <td>On the index of reducibility of parameter ideals: The stable and limit values, Acta Mathematica Vietnamica, Vol.45 Issue 1 in honor of Lê Văn Thiêm (2020), 249-260</td>
                                                <td>Nguễn Tự Cường, Phạm Hùng Quý</td>
                                                <td>2020</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                                                        <span class="svg-icon svg-icon-md">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="24px"
                                                                 height="24px"
                                                                 viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Lorem Ipsum Dolor Sit Amet</td>
                                                <td> Upper bound of multiplicity in prime characteristic, Forum Mathematicum, Vol.32 (2020), 393-398</td>
                                                <td>Dương Thị Hương, Phạm Hùng Quý</td>
                                                <td>2020</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                                                        <span class="svg-icon svg-icon-md">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="24px"
                                                                 height="24px"
                                                                 viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @*<div class="col-lg-12 col-xl-12" style="text-align: right">
                                        <button data-toggle="modal" data-target="#modal_themtieusu_hoctap" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                            Chi
                                        </button>
                                    </div>*@
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <h5 class="font-weight-bold ">Hội Nghị</h5>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="table table-bordered table-checkable" id="conferences_list">
                                        <thead><tr class="tableizer-firstrow"><th>STT</th><th>Hội nghị</th><th>Tên bài báo</th><th>Tác giả</th><th>Năm</th><th>&nbsp;</th></tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Lorem Ipsum Dolor Sit Amet</td>
                                                <td>Filter regular sequence under small perturbations</td>
                                                <td>Linquan Ma, Phạm Hùng Quý, Ilya Smirnov</td>
                                                <td>2020</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                                                        <span class="svg-icon svg-icon-md">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="24px"
                                                                 height="24px"
                                                                 viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Lorem Ipsum Dolor Sit Amet</td>
                                                <td>Colength, multiplicity, and ideal closure operations, Communications in Algebra, Vol. 48 (2020), 1601-1607</td>
                                                <td>Linquan Ma, Phạm Hùng Quý, Ilya Smirnov</td>
                                                <td>2020</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                                                        <span class="svg-icon svg-icon-md">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="24px"
                                                                 height="24px"
                                                                 viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Lorem Ipsum Dolor Sit Amet</td>
                                                <td>On the index of reducibility of parameter ideals: The stable and limit values, Acta Mathematica Vietnamica, Vol.45 Issue 1 in honor of Lê Văn Thiêm (2020), 249-260</td>
                                                <td>Nguễn Tự Cường, Phạm Hùng Quý</td>
                                                <td>2020</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                                                        <span class="svg-icon svg-icon-md">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="24px"
                                                                 height="24px"
                                                                 viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Lorem Ipsum Dolor Sit Amet</td>
                                                <td> Upper bound of multiplicity in prime characteristic, Forum Mathematicum, Vol.32 (2020), 393-398</td>
                                                <td>Dương Thị Hương, Phạm Hùng Quý</td>
                                                <td>2020</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                                                        <span class="svg-icon svg-icon-md">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="24px"
                                                                 height="24px"
                                                                 viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                @*<div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button href="#" data-toggle="modal" data-target="#modal_themtieusu_congtac" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử công tác
                                    </button>
                                </div>*@
                            </div>
                        </div>
                        <!-- Modal hoc tap-->
                        <div class="modal fade" id="modal_themtieusu_hoctap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử học tập</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <select type="text" class="form-control" placeholder="Học vị" id="hocvi">
                                                        <option value="" disabled selected>Học vị</option>
                                                        <option value="">Cử nhân</option>
                                                        <option value="1">Thạc sĩ</option>
                                                        <option value="2">Tiến sĩ</option>
                                                    </select>
                                                    <span><i class="far fa-bookmark"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Nơi học tập" id="kt_datatable_search_query">
                                                    <span><i class="fas fa-map-pin"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-daterange input-group" id="kt_datepicker_5">
                                                    <input type="text" class="form-control" placeholder="Từ" name="start">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Đến" name="end">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                                    <span><i class="far fa-sticky-note"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary font-weight-bold">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal cong tac-->
                        <div class="modal fade" id="modal_themtieusu_congtac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử công tác</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Đơn vị công tác" id="kt_datatable_search_query">
                                                    <span><i class="fas fa-map-pin"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <select type="text" class="form-control" placeholder="Chức danh" id="hocvi">
                                                        <option value="" disabled selected></option>
                                                        <option value="">Giảng viên</option>
                                                        <option value="1">Hiệu trưởng</option>
                                                        <option value="2">...</option>
                                                    </select>
                                                    <span><i class="far fa-bookmark"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-daterange input-group" id="kt_datepicker_5">
                                                    <input type="text" class="form-control" placeholder="Từ" name="start">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Đến" name="end">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                                    <span><i class="far fa-sticky-note"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary font-weight-bold">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Profile Personal Information-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@section scripts{
    <script>
        $("#main-container").attr("style", "background-color:rgb(255 255 255 / 0%) !important; box-shadow:none")
        $(".research-info-link").each(function () {
            if ($(this).attr('href').trim() == window.location.pathname) {
                $(this).addClass('active')
            }
        })
    </script>
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script>
        var KTDatatablesBasicBasic = function () {
            var initTable1 = function () {
                var table = $('#tapchi_list');
                // begin first table
                table.DataTable({
                    responsive: true,

                    // DOM Layout settings
                    dom: `<'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                    lengthMenu: [5, 10, 25, 50],

                    pageLength: 10,

                    language: {
                        'lengthMenu': 'Display _MENU_',
                    },

                    // Order settings
                    order: [[1, 'desc']],

                    columnDefs: [
                        {
                            "targets": 2,
                            "data": "download_link",
                            "render": function (data, type, row, meta) {
                                thresh = 39
                                if (data.length > thresh) {
                                    reformat = generateTooltip(data, thresh)
                                    return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + reformat['tooltip'] + "'>" + reformat['trimtext'] + "</a>";
                                } else {
                                    return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + data + "'>" + data + "</a>";
                                }
                                
                            }
                        }
                    ],
                });

                table.on('change', '.group-checkable', function () {
                    var set = $(this).closest('table').find('td:first-child .checkable');
                    var checked = $(this).is(':checked');

                    $(set).each(function () {
                        if (checked) {
                            $(this).prop('checked', true);
                            $(this).closest('tr').addClass('active');
                        }
                        else {
                            $(this).prop('checked', false);
                            $(this).closest('tr').removeClass('active');
                        }
                    });
                });

                table.on('change', 'tbody tr .checkbox', function () {
                    $(this).parents('tr').toggleClass('active');
                });
            };

            var initTable2 = function () {
                var table = $('#conferences_list');

                // begin first table
                table.DataTable({
                    responsive: true,

                    // DOM Layout settings
                    dom: `<'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                    lengthMenu: [5, 10, 25, 50],

                    pageLength: 10,

                    language: {
                        'lengthMenu': 'Display _MENU_',
                    },

                    // Order settings
                    // order: [[0, 'desc']],

                    columnDefs: [
                        {
                            "targets": 2,
                            "data": "download_link",
                            "render": function (data, type, row, meta) {
                                thresh = 39
                                if (data.length > thresh) {
                                    reformat = generateTooltip(data, thresh)
                                    return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + reformat['tooltip'] + "'>" + reformat['trimtext'] + "</a>";
                                } else {
                                    return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + data + "'>" + data + "</a>";
                                }
                            }
                        }
                    ],
                });

                table.on('change', '.group-checkable', function () {
                    var set = $(this).closest('table').find('td:first-child .checkable');
                    var checked = $(this).is(':checked');

                    $(set).each(function () {
                        if (checked) {
                            $(this).prop('checked', true);
                            $(this).closest('tr').addClass('active');
                        }
                        else {
                            $(this).prop('checked', false);
                            $(this).closest('tr').removeClass('active');
                        }
                    });
                });

                table.on('change', 'tbody tr .checkbox', function () {
                    $(this).parents('tr').toggleClass('active');
                });
            };

            return {

                //main function to initiate the module
                init: function () {
                    initTable1();
                    initTable2();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTDatatablesBasicBasic.init();
        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        function generateTooltip(text, thresh) {
            tooltip = text;
            trimtext = text.substring(0, thresh) + "..."
            return { 'tooltip': tooltip, 'trimtext': trimtext }
        }
    </script>
}
