@{
    ViewBag.Title = "THÔNG TIN NCV: ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ENTITIES.CustomModels.ScienceManagement.Researcher;
@using ENTITIES
<style>
    .nav-link {
        font-size: 17px;
    }

    #research_avatar {
        width: 15rem;
        border-radius: 50%
    }
</style>

<div class="col-12">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::Profile Personal Information-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                @{
                    Html.RenderPartial("_Researcher");
                }
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">GIẢI THƯỞNG</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">Cập nhật thông tin giải thưởng cho nghiên cứu viên</span>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered" id="award_history_table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Cuộc thi/giải thưởng</th>
                                                <th>Thứ hạng</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_them_award" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm giải thưởng
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal hoc tap-->
                        <!-- Modal cong tac-->
                        <!--end::Body-->
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Profile Personal Information-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--Modal them award-->
<div class="modal fade" id="modal_them_award" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm giải thưởng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Tên cuộc thi" id="add_award_name">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Thứ hạng" id="add_award_rank">
                            <span><i class="far fa-hand-rock"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group date" id="date_award" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="add_award_date" placeholder="Thời gian" data-target="#date_award" />
                                    <div class="input-group-append" data-target="#date_award" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-light-success font-weight-bold" id="submit_new_award">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_edit_award" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin giải thưởng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Tên cuộc thi" id="edit_award_name">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Thứ hạng" id="edit_award_rank">
                            <span><i class="far fa-hand-rock"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group date" id="edit_date_award" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="sua_award_date" placeholder="Thời gian" data-target="#edit_date_award" />
                                    <div class="input-group-append" data-target="#edit_date_award" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-success font-weight-bold" id="submit_edit_award">Lưu</button>
                <button type="button" class="btn btn-light-danger font-weight-bold" id="delete_award">Xoá</button>
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#main-container").attr("style", "background-color:rgb(255 255 255 / 0%) !important; box-shadow:none")
        $(".research-info-link").each(function () {
            if ($(this).attr('href').trim() == window.location.pathname) {
                $(this).addClass('active')
            }
        })
    </script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script>
        $('#date_award').datetimepicker({
            maxDate: new Date(),
            format: 'DD/MM/YYYY'
        });
        $('#edit_date_award').datetimepicker({
            maxDate: new Date(),
            format: 'DD/MM/YYYY'
        });
        var submit_edit_award = new LoaderBtn($("#submit_edit_award"))
        var submit_new_award = new LoaderBtn($("#submit_new_award"))
        var delete_award = new LoaderBtn($("#delete_award"))
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        function generateTooltip(text, thresh) {
            tooltip = text;
            trimtext = text.substring(0, thresh) + "..."
            return { 'tooltip': tooltip, 'trimtext': trimtext }
        }
    </script>

    <script src="~/Content/Custom JS/ScienceManagement/Researcher/researcher-edit-info.js"></script>
    <script src="~/Content/Custom JS/ScienceManagement/Researcher/researcher-bio.js"></script>
}
