<table class="table table-bordered table-hover table-checkable mou_table" id="">
    <thead>
        <tr>
            <th rowspan="2" class="">S<br />T<br />T</th>
            <th rowspan="2" class="">Số hiệu</th>
            <th colspan="4" class="text-center header-modify">Đối tác</th>
            <th colspan="3" class="text-center header-modify">Người đại diện</th>
            <th rowspan="2" class="text-center">Bản mềm</th>
            <th rowspan="2" class="text-center">Ngày ký</th>
            <th rowspan="2" class="text-center">Ngày hết hạn</th>
            <th rowspan="2" class="text-center">Đơn vị - Cơ sở ký kết</th>
            <th rowspan="2" class="text-center">Phạm vi hợp tác</th>
            <th rowspan="2" class="text-center">Trạng thái</th>
            <th rowspan="2" class="text-center"></th>
        </tr>
        <tr>
            <th class="text-center">Tên</th>
            <th class="text-center">Quốc gia</th>
            <th class="text-center">Website</th>
            <th class="text-center">Lĩnh vực</th>
            <th class="text-center">Họ và tên</th>
            <th class="text-center">Email</th>
            <th class="text-center">Điện thoại</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
