
@{
    ViewBag.Title = "Đề nghị hỗ trợ hội nghị của tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-xl-12" style="text-align: right;">
                <div class="dropdown dropdown-inline mr-2">
                    <a href="/ConferenceSponsor/Add"
                       class="btn btn-light-success font-weight-bolder">
                        Thêm đề nghị
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-xxl-12 table-responsive">
                <br />
                <table id="mytable" class="table table-bordered table-checkable ">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Sản phẩm khoa học</th>
                            <th>Tên hội nghị</th>
                            <th>Ngày&nbsp;tạo</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        var label_status = {
            1: "primary",
            2: "success",
            3: "success",
            4: "secondary",
            5: "success"
        }

        $(document).ready(function () {
            $("#mytable").DataTable({
                responsive: true,
                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                lengthMenu: [5, 10, 25, 50],
                pageLength: 10,
                language: {
                    'lengthMenu': 'Display _MENU_',
                },
                serverSide: true,
                ajax: {
                    url: "/ConferenceSponsor/List",
                    datatype: "json",
                    cache: true
                },
                columns: [
                    { data: "RowNumber", name: "RowNumber", orderable: false },
                    { data: "PaperName", name: "PaperName" },
                    { data: "ConferenceName", name: "ConferenceName" },
                    { data: "CreatedDate", name: "Date" },
                    {
                        data: {}, name: "StatusID", render: function (data) {
                            return "<span class='label label-" + label_status[data.StatusID] + " label-pill label-inline mr-2'>" + data.StatusName + "</span>"
                        }, width: "80px", className: "text-center"
                    },
                    {
                        data: "RequestID", orderable: false, render: function (data) {
                            return "<a href='/ConferenceSponsor/Detail?id=" + data + "' class='btn btn-sm btn-clean btn-icon' title='View'> <i class='fas fa-eye'></i> </a>"
                        }
                    }
                ],
                order: [3, "desc"]
            });
        });
    </script>
}