
@{
    ViewBag.Title = "Đề nghị hỗ trợ hội nghị của tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-body">
        <div class="row mb-7">
                <div class="col-lg-12 col-xl-12" style="text-align: right;">
                    <div class="dropdown dropdown-inline mr-2">
                        <a href="/ConferenceSponsor/Add"
                                class="btn btn-light-success font-weight-bolder">
                            Thêm đề nghị
                        </a>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-xxl-12 table-responsive">
                <br />
                <table id="mylist" class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Sản phẩm khoa học</th>
                            <th>Tên hội nghị</th>
                            <th>Ngày&nbsp;tạo</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Advances in Intelligent Systems and Computing</td>
                            <td>Toward an Privacy Protection Based on Access Control Model in Hybrid Cloud for Healthcare Systems</td>
                            <td>1/1/2020</td>
                            <td>Đang duyệt</td>
                            <td>
                                <a href='/ConferenceSponsor/Detail?id=1' class='btn btn-sm btn-clean btn-icon' title='View'> <i class='fas fa-eye'></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Discovered changes in rice occupation with satellite images based on random forest approach</td>
                            <td>Proceedings of the 4th International Conference on Machine Learning and Soft Computing</td>
                            <td>1/1/2020</td>
                            <td>Được tham dự</td>
                            <td>
                                <a href='/ConferenceSponsor/Detail?id=2' class='btn btn-sm btn-clean btn-icon' title='View'> <i class='fas fa-eye'></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Movie Recommender Systems Made Through Tag Interpolation</td>
                            <td>Proceedings of the 4th International Conference on Machine Learning and Soft Computing</td>
                            <td>1/1/2020</td>
                            <td>Đã duyệt</td>
                            <td>
                                <a href='/ConferenceSponsor/Detail?id=3' class='btn btn-sm btn-clean btn-icon' title='View'> <i class='fas fa-eye'></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Attractiveness of Online Marketing in the Age of Industry 4.0</td>
                            <td>ICEBA 2020: Proceedings of the 2020 The 6th International Conference on E-Business and Applications</td>
                            <td>1/1/2020</td>
                            <td>Chưa&nbsp;hoàn&nbsp;ứng</td>
                            <td>
                                <a href='/ConferenceSponsor/Detail?id=4' class='btn btn-sm btn-clean btn-icon' title='View'> <i class='fas fa-eye'></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Automatic Keywords-based Classification of Vietnamese Texts</td>
                            <td>2020 RIVF International Conference on Computing and Communication Technologies</td>
                            <td>1/1/2020</td>
                            <td>Đã&nbsp;hoàn&nbsp;ứng</td>
                            <td>
                                <a href='/ConferenceSponsor/Detail?id=5' class='btn btn-sm btn-clean btn-icon' title='View'> <i class='fas fa-eye'></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        $("#mylist").DataTable();
    </script>
}