
@{
    ViewBag.Title = "Đề nghị hỗ trợ hội nghị của tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row my-10 px-8 my-lg-15 px-lg-10">
            <a href="/ConferenceSponsor/Add" class="btn btn-success font-weight-bolder left col-1">Thêm</a>
            <div class="col-xl-12 col-xxl-12 table-responsive">
                <br />
                <table id="mylist" class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Sản phẩm khoa học</th>
                            <th>Tên hội nghị</th>
                            <th>Ngày&nbsp;tạo</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Advances in Intelligent Systems and Computing</td>
                            <td>Toward an Privacy Protection Based on Access Control Model in Hybrid Cloud for Healthcare Systems</td>
                            <td>1/1/2020</td>
                            <td>Đang duyệt</td>
                            <td><a class="btn btn-primary mr-2" href="/ConferenceSponsor/Detail?id=1">Chi&nbsp;tiết</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Discovered changes in rice occupation with satellite images based on random forest approach</td>
                            <td>Proceedings of the 4th International Conference on Machine Learning and Soft Computing</td>
                            <td>1/1/2020</td>
                            <td>Được tham dự</td>
                            <td><a class="btn btn-primary mr-2" href="/ConferenceSponsor/Detail?id=2">Chi&nbsp;tiết</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Movie Recommender Systems Made Through Tag Interpolation</td>
                            <td>Proceedings of the 4th International Conference on Machine Learning and Soft Computing</td>
                            <td>1/1/2020</td>
                            <td>Đã duyệt</td>
                            <td><a class="btn btn-primary mr-2" href="/ConferenceSponsor/Detail?id=3">Chi&nbsp;tiết</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Attractiveness of Online Marketing in the Age of Industry 4.0</td>
                            <td>ICEBA 2020: Proceedings of the 2020 The 6th International Conference on E-Business and Applications</td>
                            <td>1/1/2020</td>
                            <td>Chưa&nbsp;hoàn&nbsp;ứng</td>
                            <td><a class="btn btn-primary mr-2" href="/ConferenceSponsor/Detail?id=4">Chi&nbsp;tiết</a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Automatic Keywords-based Classification of Vietnamese Texts</td>
                            <td>2020 RIVF International Conference on Computing and Communication Technologies</td>
                            <td>1/1/2020</td>
                            <td>Đã&nbsp;hoàn&nbsp;ứng</td>
                            <td><a class="btn btn-primary mr-2" href="/ConferenceSponsor/Detail?id=5">Chi&nbsp;tiết</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        $("#mylist").DataTable();
    </script>
}