@*modal edit_partner_moa*@
<div class="modal fade in" id="edit_partner_moa" aria-hidden="true" style="z-index: 8888">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center row">
                <h4 class="modal-title font-weight-bolder" id="add_partner_mou_title">SỬA ĐỐI TÁC TRONG BIÊN BẢN THỎA THUẬN</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Tên đối tác</label>
                        <label style="color:blue" class="float-right"><a href="#" onclick="checkPartnerEditMOA()" onchange="preventEditMOA()">Kiểm tra</a></label>
                        <input hidden readonly type="text" class="form-control" id="moa_partner_id_edit" placeholder="" name="" value="" />
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control" id="partner_name_form_edit" style="width:100% !important">
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Đại diện</label>
                        <input disabled class="form-control " type="text" placeholder="Đại diện" autocomplete="off" id="represent_edit" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Lĩnh vực</label>
                        <label style="color:blue" class="float-right"><a href="#">Quản lý</a></label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <input disabled class="form-control" type="text" placeholder="Đại diện" autocomplete="off" id="specialization_edit" style="width:100% !important" />
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Quốc gia</label>
                        <input disabled class="form-control " type="text" placeholder="Quốc gia" autocomplete="off" id="nation_edit" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Email</label>
                        <input disabled class="form-control " type="text" placeholder="Email" autocomplete="off" id="email_edit" />
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Ngày ký kết</label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_sign_date_edit" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Ngày ký kết" id="sign_date_edit" readonly autocomplete="off" data-target="#kt_datetimepicker_sign_date_edit" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_sign_date_edit" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Website</label>
                        <input disabled class="form-control" type="text" placeholder="Website" autocomplete="off" id="website_edit" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Số điện thoại</label>
                        <input disabled class="form-control " type="text" placeholder="Số điện thoại" autocomplete="off" id="phone_edit" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Phạm vi hợp tác</label>
                        <label style="color:blue" class="float-right"><a href="#">Quản lý</a></label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control search2" id="coop_scope_edit" name="param" style="width:100% !important" multiple="multiple">
                                @foreach (var item in ViewBag.listScopesMOAPartner)
                                {
                                    <option value="@item.scope_id">@item.scope_abbreviation</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label class="font-weight-bolder">Địa chỉ đối tác</label>
                        <input disabled class="form-control " type="text" placeholder="Địa chỉ đối tác" autocomplete="off" id="address_edit" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="edit_moa_partner_button" type="button" class="btn btn-sm btn-light-primary px-6 font-weight-bold" onclick="editMOAPartner()" disabled>Sửa</button>
            </div>
        </div>
    </div>
</div>
