<table class="table table-bordered table-hover table-checkable" id="partner_table">
    <thead>
        <tr>
            <th rowspan="2" class="">S<br />T<br />T</th>
            <th colspan="4" class="text-center header-modify">Đối tác</th>
            <th colspan="3" class="text-center header-modify">Người đại diện</th>
            <th nowrap="nowrap" rowspan="2" class="text-center">Ngày kí kết</th>
            <th nowrap="nowrap" rowspan="2" class="text-center">Phạm vi hợp tác</th>
            <th nowrap="nowrap" rowspan="2" class="text-center"></th>
        </tr>
        <tr>
            <th class="text-center jus">Tên</th>
            <th class="text-center">Quốc gia</th>
            <th class="text-center">Lĩnh vực</th>
            <th class="text-center">Website</th>
            <th class="text-center">Họ và tên</th>
            <th class="text-center">Điện thoại</th>
            <th class="text-center">Email</th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
                <td class="text-center">1</td>
                <td class="text-center">Bunkyo University</td>
                <td class="text-center">Japan</td>
                <td class="text-center">IT</td>
                <td class="text-center"></td>
                <td class="text-center" nowrap="nowrap">Nguyễn Hoàng Sơn</td>
                <td class="text-center">0977626800</td>
                <td class="text-center">sonnhhe130366@fpt.edu.vn</td>
                <td class="text-center" nowrap="nowrap">22/02/2222</td>
                <td class="text-center" nowrap="nowrap">SE</td>
                <td nowrap="nowrap"></td>
            </tr>*@
    </tbody>
</table>
