
@{
    ViewBag.Title = "Đơn đăng kí tham dự";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label{
        font-size: 15px !important;
    }
    input,textarea{
        font-size: 13px !important;
    }
    .checkbox{
        margin-bottom: 12px !important
    }
    .custom-span{
        margin-right: 14px !important;
    }
    .custom-radio {
        width: 20px !important;
        height: 20px !important;
        margin-right: 14px !important;
    }
    .px-lg-custom{
        padding-left: 12em !important;
        padding-right: 12em !important;
    }
    .radio{
        margin-bottom: 10px !important;
    }
</style>
<div class="row justify-content-left bg-gray-100 py-8 px-8 py-md-10">
    <div class="col-md-12">
        <div class="row justify-content-left bgi-size-cover bgi-no-repeat py-8 px-8" style="background-image: url(../Content/assets/media/bg/event_banner.jpg);">
            <div class="col-md-12">
                <div class="d-flex justify-content-between flex-column flex-md-row">
                    <h1 class="display-4 text-white">GIAI ĐOẠN 1: ĐĂNG KÝ THAM DỰ</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            <div class="row justify-content-center bg-gray-100 py-8 px-lg-custom py-md-10">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Họ và tên <label style="color:red">*</label></b>:</label>
                                <input type="text" class="form-control  form-control-lg" placeholder="Họ và tên" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Miêu tả</b>:</label>
                                <textarea type="text" class="form-control  form-control-lg" placeholder="Miêu tả" onkeyup="textAreaAdjust(this)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Giới tính:</b></label>
                                <div class="radio-outline">
                                    <label class="radio">
                                        <input type="radio" name="radios2">
                                        <span class="custom-radio"></span>
                                        Nam
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="radios2">
                                        <span class="custom-radio"></span>
                                        Nữ
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Email</b>:</label>
                                <input type="text" class="form-control  form-control-lg" placeholder="Email" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Số điện thoại</b>:</label>
                                <input type="text" class="form-control  form-control-lg" placeholder="Số điện thoại" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Sở thích</b>:</label>
                                <div class="checkbox-outline">
                                    <label class="checkbox checkbox-lg">
                                        <input type="checkbox" />
                                        <span class="custom-span"></span>
                                        Táo
                                    </label>
                                    <label class="checkbox checkbox-lg">
                                        <input type="checkbox" />
                                        <span class="custom-span"></span>
                                        Táo
                                    </label>
                                    <label class="checkbox checkbox-lg">
                                        <input type="checkbox" />
                                        <span class="custom-span"></span>
                                        GIAI ĐOẠN 1: ĐĂNG KÝ THAM DỰ
                                    </label>
                                    <label class="checkbox checkbox-lg">
                                        <input type="checkbox" />
                                        <span class="custom-span"></span>
                                        Táo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10">
                <div class="col-12" style=" text-align: center;">
                    <a href="javascript:;" class="btn btn-light-success px-6 font-weight-bold">Gửi đơn</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function textAreaAdjust(element) {
            element.style.height = "1px";
            element.style.height = (25 + element.scrollHeight) + "px";
        }
        $(document).ready(function () {

        });
    </script>
}
