
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Convention</h2>

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="row mb-5">
                    <div class="col-lg-5 col-xl-6">
                        <div class="row align-items-center">
                            <a href="#" class="btn btn-sm btn-outline-primary px-6 font-weight-bold">Đăng tin</a>
                            <a href="#" class="btn btn-sm btn-outline-primary ml-3 font-weight-bold">Xuất excel</a>
                        </div>
                    </div>
                </div>
                <table class="table table-separate table-head-custom table-checkable"
                       id="scholarship_table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tiêu đề</th>
                            <th>Quốc gia</th>
                            <th>Ngành</th>
                            <th>Thời hạn</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Học bổng ABC</td>
                            <td>Ba Lan</td>
                            <td>CNTT</td>
                            <td>11/11/2021</td>
                            <td>2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Học bổng ABC</td>
                            <td>Ba Lan</td>
                            <td>CNTT</td>
                            <td>11/11/2021</td>
                            <td>1</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận xóa</h4>
            </div>
            <div class="modal-body">Bạn có muốn xóa lưu trữ này?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-sm btn-outline-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script>
        $("#scholarship_table").DataTable({
            columnDefs: [
                {
                    targets: 5,
                    width: '75px',
                    render: function (data, type, full, meta) {
                        var status = {
                            1: {
                                'title': 'Hết hạn',
                                'class': 'label-light-danger'
                            },
                            2: {
                                'title': 'Còn hạn',
                                'class': 'label-light-success'
                            }
                        };
                        if (typeof status[data] === 'undefined') {
                            return data;
                        }
                        return '<span class="label label-lg font-weight-bold ' + status[data].class + ' label-inline">' + status[data].title + '</span>';
                    },
                },
                {
                    targets: -1,
                    title: '',
                    orderable: false,
                    width: '125px',
                    render: function (data, type, full, meta) {
                        return '<a class="btn btn-sm btn-outline-primary" style="margin-right: 10px;">Sửa</a><a href="#delete" class="btn btn-sm btn-outline-danger" data-toggle="modal">Xóa</a>'
                    }
                }
            ]
        });
    </script>
}