@font-face {
    src: url('../font/UTM_Nokia_Standard.ttf');
    font-family: myfont;
}

*:not(.la, .fa, .far, .fas, .fab,.note-editor *) {
    font-family: myfont !important;
}
thead * {
    font-weight:bold !important;
}
.nav-tabs{
    margin-bottom:2rem !important
}
.field-value {
    font-weight: bold !important;
}