@{
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}

<!--begin::Page Vendors Styles(used by this page)-->
<link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
<div class="card-body">
    <!--begin: Datatable-->
    <table class="table table-separate table-head-custom table-checkable"
           id="scholarship_table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Quốc gia</th>
                <th>Ngành</th>
                <th>Thời hạn</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td> ICCCI 2020: Communications in Computer and Information Science, Vol. 1287 125–138</td>
                <td>Ngô Tùng Sơn</td>
                <td>11/11/2021</td>
                <td><a href="#">Xem</a></td>
                <td>1</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <!--end: Datatable-->
</div>

@*scritp for datatable*@
<script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="~/Content/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/Content/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/Content/assets/js/scripts.bundle.js"></script>
@*scritp for datatable*@

@section script{
    <script>
        $('#scholarship_table').DataTable();

    </script>
}



