
@{
    ViewBag.Title = "Thông tin hoạt động học thuật";
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}
<style>
    .customrow {
        margin-bottom: 10px;
    }

    .customabtn2 {
        border: 1px solid #16854d;
        padding: 5px 16px;
        text-decoration: none;
        cursor: pointer;
        color: #ffffff !important;
        border-radius: 5px;
        background-color: #16854d;
        text-align: center;
        position: absolute;
    }

    .modal {
        overflow-y: auto;
    }
</style>
<div class="card card-custom">
    <div class="card-header card-header-tabs-line">
        <div class="col-sm-8 col-md-8 col-xl-8 pl-0 ml-0">
            <div class="card-toolbar">
                <ul class="nav nav-tabs nav-bold nav-tabs-line">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text custom_nav">Nội dung</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">
                            <span class="nav-text custom_nav">Đăng kí tham dự</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3">
                            <span class="nav-text custom_nav">Kinh phí</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_4">
                            <span class="nav-text custom_nav">Đơn vị đồng tổ chức</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xl-3 pt-8 pb-8">
            <a href="javascripts:;" class="btn btn-light-primary btn-sm font-weight-bold float-right" onclick="updateActivity()">Cập nhật</a>
        </div>
        <div class="col-sm-1 col-md-1 col-xl-1 pt-8 pb-8">
            <a href="javascripts:;" class="btn btn-light-primary btn-sm font-weight-bold min-w-70px" onclick="postActivity()">Đăng</a>
        </div>
    </div>
    <div class="card-body custom-card pt-3">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_1">
                <div class="form-group row">
                    <div class="col-md-8 col-xl-8 col-lg-8">
                        <label class="font-weight-bolder">Tiêu đề</label>
                        <input type="text" class="form-control" placeholder="Tiêu đề" required autocomplete="off" id="detail_name" value="RESFES 2021" />
                    </div>
                    <div class="col-md-4 col-xl-4 col-lg-4">
                        <label class="font-weight-bolder">Loại</label>
                        <select class="form-control" required id="add_category">
                            <option value="KH">Khóa học</option>
                            <option value="SE">Seminar</option>
                            <option selected value="CO">Hội nghị, hội thảo</option>
                            <option value="TN">HĐTN FPT Edu</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 col-lg-4">
                        <label class="col-form-label font-weight-bolder">Thời hạn từ </label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_detail_from" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Thời hạn từ" data-target="#kt_datetimepicker_detail_from" autocomplete="off" id="detail_from" value="06/01/2021" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_detail_from" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 col-lg-4">
                        <label class="col-form-label font-weight-bolder">đến</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_detail_to" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="đến từ" data-target="#kt_datetimepicker_detail_to" autocomplete="off" id="detail_to" value="26/01/2021" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_detail_to" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xl-2 col-lg-2">
                    </div>
                    <div class="col-md-8 col-xl-8 col-lg-8">
                        <label class="col-form-label font-weight-bolder">Địa điểm</label>
                        <input class="form-control" type="text" required autocomplete="off" placeholder="Địa điểm" id="detail_location" value="Khu Giáo dục và Đào tạo – Khu Công nghệ cao Hòa Lạc – Km29 Đại lộ Thăng Long, H. Thạch Thất, TP. Hà Nội" />
                    </div>
                    <div class="col-md-2 col-xl-2 col-lg-2">
                    </div>
                    <div class="col-md-2 col-xl-2 col-lg-2">
                        <label class="col-form-label font-weight-bolder">Ngôn ngữ</label>
                        <select class="form-control" id="language-content">
                            <option selected value="TV">Tiếng Việt</option>
                            <option value="EN">Tiếng Anh</option>
                            <option value="JP">Tiếng Nhật</option>
                            <option value="CN">Tiếng Trung</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-12 col-lg-12 mt-5">
                        <div id="kt-ckeditor-3-toolbar"></div>
                        <div id="kt-ckeditor-3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                <div class="row mb-3">
                    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                        <a href="javascripts:;" class="btn btn-light-primary btn-sm px-6 font-weight-bold" data-toggle="modal" data-target="#addModal_Giaidoan">Thêm giai đoạn</a>
                    </div>
                </div>
                <table id="GiaiDoanDatatable" class="table table-bordered table-checkable">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Giai đoạn</th>
                            <th class="text-center">Thời gian bắt đầu</th>
                            <th class="text-center">Thời gian kết thúc</th>
                            <th class="text-center">Người đăng</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Sơ khảo</td>
                            <td>01/01/2021</td>
                            <td>14/01/2021</td>
                            <td>Sơn Nguyễn</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Chung kết</td>
                            <td>14/01/2021</td>
                            <td>26/01/2021</td>
                            <td>Sơn Nguyễn</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel" aria-labelledby="kt_tab_pane_3">
                <table id="KinhPhiDatatable" class="table table-bordered table-checkable">
                    <thead>
                        <tr class="text-center">
                            <th rowspan="2">STT</th>
                            <th rowspan="2">Đơn vị</th>
                            <th colspan="2">Kinh phí dự trù</th>
                            <th rowspan="2">Kinh phí thực tế</th>
                            <th rowspan="2">Chênh lệch</th>
                            <th rowspan="2">Ghi chú</th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr>
                            <th>Ban đầu</th>
                            <th>Điều chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>FPTU Hà Nội</td>
                            <td>450.000.000</td>
                            <td>0</td>
                            <td>368.000.000</td>
                            <td>82.000.000</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>FPTU Đà Nẵng</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>FPTU HCM</td>
                            <td>100.000.000</td>
                            <td>0</td>
                            <td>150.000.000</td>
                            <td>-50.000.000</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_4" role="tabpanel" aria-labelledby="kt_tab_pane_4">
                <div class="row mb-3">
                    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                        <a href="#" class="btn btn-light-primary btn-sm px-6 font-weight-bold" data-toggle="modal" data-target="#addModal_DongToChuc">Bổ sung đơn vị</a>
                    </div>
                </div>
                <table id="DongTochucDatatable" class="table table-bordered table-checkable">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên đơn vị</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Đầu mối liên hệ</th>
                            <th>Nguồn tài trợ (VNĐ)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Fsoft Hòa Lạc</td>
                            <td>15/02/2021</td>
                            <td>22/02/2021</td>
                            <td>Sơn Nguyễn</td>
                            <td>100.000.000</td>
                            <td nowrap="nowrap"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Codelearn</td>
                            <td>20/02/2021</td>
                            <td>22/02/2021</td>
                            <td>Sơn Nguyễn</td>
                            <td>20.000.000</td>
                            <td nowrap="nowrap"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal_DongToChuc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Bổ sung đơn vị đồng tổ chức</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4 mb-3">
                        <label class="font-weight-bolder">Tên đơn vị</label>
                        <div class="d-flex align-items-center">
                            <select class="form-control" id="add_name_donvi" style="width: 100% !important">
                                <option label="Label"></option>
                                <option value="1">Fsoft</option>
                                <option value="2">UTP</option>
                                <option value="3">Codelearn</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2 mb-3">
                        <a href="javascripts:;" class="btn btn-light-primary px-6 font-weight-bold mt-8">Kiểm tra</a>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4 mb-3">
                        <label class="font-weight-bolder">Nguồn tài trợ</label>
                        <input class="form-control" type="number" placeholder="Nguồn tài trợ" autocomplete="off" required id="add_name_taitro" />
                    </div>
                    <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2 mb-3">
                        <label class="font-weight-bolder">Đơn vị tiền tệ</label>
                        <div class="d-flex align-items-center">
                            <select class="form-control" id="add_name_donvitiente" style="width: 100% !important">
                                <option label="Label"></option>
                                <option value="VND">Đồng</option>
                                <option value="USD">Dollar</option>
                                <option value="Yuan">Yuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Phạm vi hợp tác</label>
                        <div class="d-flex align-items-center">
                            <select class="form-control" id="add_name_phamvihoptac" style="width: 100% !important">
                                <option label="Label"></option>
                                <option value="1">Joint Conferences</option>
                                <option value="2">Support event</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Bản mềm</label>
                        <div class="uppy" id="kt_uppy_5">
                            <div class="uppy-wrapper"></div>
                            <div class="uppy-list"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                        <span class="form-text text-muted">Max file size is 1MB and max number of files is 5.</span>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Thời hạn từ </label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_add_from_lienhe" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Thời hạn từ" data-target="#kt_datetimepicker_add_from_lienhe" autocomplete="off" id="add_from_lienhe" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_add_from_lienhe" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">đến</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_add_to_lienhe" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="đến từ" data-target="#kt_datetimepicker_add_to_lienhe" autocomplete="off" id="add_to_lienhe" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_add_to_lienhe" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Đầu mối liên hệ</label>
                        <input class="form-control mb-2" type="text" placeholder="Họ và tên" autocomplete="off" required id="add_name_daumoi" />
                        <input class="form-control mb-2" type="text" placeholder="Email" autocomplete="off" required id="add_email_daumoi" />
                        <input class="form-control" type="text" placeholder="Số điện thoại" autocomplete="off" required id="add_phone_daumoi" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-light-success px-6 font-weight-bold" data-dismiss="modal" id="btn_add_dongtochuc">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal_DongToChuc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Bổ sung đơn vị đồng tổ chức</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4 mb-3">
                        <label class="font-weight-bolder">Tên đơn vị</label>
                        <div class="d-flex align-items-center">
                            <select class="form-control" id="edit_name_donvi" style="width: 100% !important">
                                <option label="Label"></option>
                                <option selected value="1">Fsoft</option>
                                <option value="2">UTP</option>
                                <option value="3">Codelearn</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2 mb-3">
                        <a href="javascripts:;" class="btn btn-light-primary px-6 font-weight-bold mt-8">Kiểm tra</a>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4 mb-3">
                        <label class="font-weight-bolder">Nguồn tài trợ</label>
                        <input class="form-control" type="number" placeholder="Nguồn tài trợ" autocomplete="off" required id="edit_name_taitro" value="100000000" />
                    </div>
                    <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2 mb-3">
                        <label class="font-weight-bolder">Đơn vị tiền tệ</label>
                        <div class="d-flex align-items-center">
                            <select class="form-control" id="edit_name_donvitiente" style="width: 100% !important">
                                <option label="Label"></option>
                                <option selected value="VND">Đồng</option>
                                <option value="USD">Dollar</option>
                                <option value="Yuan">Yuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Phạm vi hợp tác</label>
                        <div class="d-flex align-items-center">
                            <select class="form-control" id="edit_name_phamvihoptac" style="width: 100% !important">
                                <option label="Label"></option>
                                <option selected value="1">Joint Conferences</option>
                                <option value="2">Support event</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Bản mềm</label>
                        <div class="uppy" id="kt_uppy_5_2">
                            <div class="uppy-wrapper"></div>
                            <div class="uppy-list"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                        <span class="form-text text-muted">Max file size is 1MB and max number of files is 5.</span>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Thời hạn từ </label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_edit_from_lienhe" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Thời hạn từ" data-target="#kt_datetimepicker_edit_from_lienhe" autocomplete="off" id="edit_from_lienhe" value="15/02/2021" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_edit_from_lienhe" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">đến</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_edit_to_lienhe" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="đến từ" data-target="#kt_datetimepicker_edit_to_lienhe" autocomplete="off" id="edit_to_lienhe" value="22/02/2021" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_edit_to_lienhe" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Đầu mối liên hệ</label>
                        <input class="form-control mb-2" type="text" placeholder="Họ và tên" autocomplete="off" required id="edit_name_daumoi" value="Hấu Nguyễn" />
                        <input class="form-control mb-2" type="text" placeholder="Email" autocomplete="off" required id="edit_email_daumoi" value="default@gmail.com" />
                        <input class="form-control" type="text" placeholder="Số điện thoại" autocomplete="off" required id="edit_phone_daumoi" value="0929232929" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-light-success px-6 font-weight-bold" data-dismiss="modal" id="btn_edit_dong_to_chuc">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal_Giaidoan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm giai đoạn</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12 col-xl-12 col-lg-12">
                        <label class="font-weight-bolder">Giai đoạn</label>
                        <input class="form-control" type="text" placeholder="Giai đoạn" autocomplete="off" required id="add_name_giaidoan" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Thời hạn từ </label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_add_from_giaidoan" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Thời hạn từ" data-target="#kt_datetimepicker_add_from_giaidoan" autocomplete="off" id="add_from_giaidoan" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_add_from_giaidoan" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">đến</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_add_to_giaidoan" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="đến từ" data-target="#kt_datetimepicker_add_to_giaidoan" autocomplete="off" id="add_to_giaidoan" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_add_to_giaidoan" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-light-success px-6 font-weight-bold" data-dismiss="modal" id="btn_add_giaidoan">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal_Tucach" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:9999">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm tư cách tham gia</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12 col-xl-12 col-lg-12">
                        <label class="font-weight-bolder">Tư cách tham gia</label>
                        <input class="form-control" type="text" placeholder="Tư cách tham gia" autocomplete="off" id="add_name_tucach" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Số lượng</label>
                        <input type="number" class="form-control" placeholder="Số lượng" autocomplete="off" id="add_quantity_tucach" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="checkbox pt-15 ">
                            <input type="checkbox" id="add_donvi_tucach" />
                            <span class="mr-3"></span>
                            Đơn vị cơ sở
                        </label>
                    </div>
                    <div class="col-md-12 col-xl-12 col-lg-12">
                        <div id="add_control_title">
                            <div class="row">
                                <div class="col-md-6 col-xl-6 col-lg-6">
                                    <label class="col-form-label font-weight-bolder">Đơn vị cơ sở</label>
                                </div>
                                <div class="col-md-5 col-xl-5 col-lg-5">
                                    <label class="col-form-label font-weight-bolder">Số lượng</label>
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1">
                                    <label class="col-form-label font-weight-bolder"></label>
                                </div>
                            </div>
                        </div>
                        <div id="add_control">

                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12 col-lg-12 pb-3">
                        <div id="add_control_btn">
                            <a href="#" class="btn-sm btn btn-primary" onclick="bonusRow()">
                                <i class="fas fa-plus" style="color: #ffffff;"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 col-lg-4">
                        <label class="font-weight-bolder">Chi phí</label>
                        <select class="form-control" id="add_price_tucach">
                            <option value="MP">Miễn phí</option>
                            <option value="CP">Có phí</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 col-lg-4">
                        <div id="add_control_price">
                            <label class="font-weight-bolder">Mức giá</label>
                            <input type="number" class="form-control" placeholder="Mức giá" autocomplete="off" id="add_cost_tucach" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-light-success px-6 font-weight-bold" data-dismiss="modal" id="btn_add_tucach">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal_Tucach" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:9999">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm tư cách tham gia</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12 col-xl-12 col-lg-12">
                        <label class="font-weight-bolder">Tư cách tham gia</label>
                        <input class="form-control" type="text" placeholder="Tư cách tham gia" autocomplete="off" id="edit_name_tucach" value="Người tham dự" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Số lượng</label>
                        <input type="number" class="form-control" placeholder="Số lượng" autocomplete="off" id="edit_quantity_tucach" value="30" />
                    </div>
                    <div class="col-md-4 col-xl-4 col-lg-4">
                        <label class="col-form-label font-weight-bolder">Chi phí</label>
                        <select class="form-control" id="edit_price_tucach">
                            <option selected value="MP">Miễn phí</option>
                            <option value="CP">Có phí</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 col-lg-4">
                        <div id="add_control_price">
                            <label class="font-weight-bolder">Mức giá</label>
                            <input type="number" class="form-control" placeholder="Mức giá" autocomplete="off" disabled id="edit_cost_tucach" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-light-success px-6 font-weight-bold" data-dismiss="modal" id="btn_edit_tucach">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal_Giaidoan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Chỉnh sửa giai đoạn học thuật</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body pt-3 pb-0">
                <div class="form-group row pb-0 mb-0">
                    <div class="col-md-12 col-xl-12 col-lg-12">
                        <label class="font-weight-bolder">Giai đoạn</label>
                        <input class="form-control" type="text" placeholder="Giai đoạn" autocomplete="off" required id="edit_name_giaidoan" value="Sơ khảo" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Thời hạn từ </label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_edit_from_giaidoan" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Thời hạn từ" data-target="#kt_datetimepicker_edit_from_giaidoan" autocomplete="off" id="edit_from_giaidoan" value="08/02/2021" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_edit_from_giaidoan" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">đến</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_edit_to_giaidoan" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="đến từ" data-target="#kt_datetimepicker_edit_to_giaidoan" autocomplete="off" id="edit_to_giaidoan" value="16/02/2021" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_edit_to_giaidoan" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-header pb-3">
                <h3 class="modal-title font-weight-bolder">Danh sách tư cách tham gia</h3>
            </div>
            <div class="modal-body pt-3 pb-0">
                <div class="row form-group">
                    <div class="col-md-6 col-xl-6 col-lg-6 my-3">
                        <a href="#" class="btn btn-light-primary btn-sm font-weight-bold" data-toggle="modal" data-target="#addModal_Tucach">Thêm tư cách</a>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6 my-3">
                        <a href="#" class="btn btn-light-primary btn-sm font-weight-bold float-right" onclick="setUpForm()">Đơn đăng kí</a>
                    </div>
                    <div class="col-md-12 col-xl-12 col-lg-12">
                        <table id="TuCachDatatable" class="table table-bordered table-checkable">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tư cách tham gia</th>
                                    <th>Mức phí (VNĐ)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Người tham dự</td>
                                    <td>Miễn phí</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Người thuyết trình</td>
                                    <td>Miễn phí</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-light-success px-6 font-weight-bold" data-dismiss="modal" id="btn_edit_giaidoan">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="KPDuTruModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Giải trình kinh phí dự trù ban đầu</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body pt-3 pb-0">
                <div class="row form-group">
                    <div class="col-md-6 col-xl-6 col-lg-6 my-3">
                        <a href="#" class="btn btn-light-primary btn-sm font-weight-bold" data-toggle="modal" data-target="#addModal_KPDuTru">Thêm nội dung</a>
                    </div>
                    <div class="col-md-12 col-xl-12 col-lg-12">
                        <table id="KPDuTruDatatable" class="table table-bordered table-checkable">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Nội dung</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th>Ghi chú</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Truyền thông</td>
                                    <td>30.000.000</td>
                                    <td>1</td>
                                    <td>30.000.000</td>
                                    <td>Truyền thông trong và ngoài FE</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Hỗ trợ suất ăn cho giảng viên và sinh viên</td>
                                    <td>30.000.000</td>
                                    <td>1</td>
                                    <td>30.000.000</td>
                                    <td>Truyền thông trong và ngoài FE</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-light-success px-6 font-weight-bold" data-dismiss="modal" id="btn_edit_giaidoan">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<a href="@Url.Action()"></a>
@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Content/assets/plugins/custom/uppy/uppy.bundle.js?v=7.0.6"></script>
    <script>
        let id_delete_giai_doan = 0;
        let id_edit_giai_doan = 0;
        let id_delete_tu_cach = 0;
        let id_edit_tu_cach = 0;
        let id_delete_dong_to_chuc = 0;
        let id_edit_dong_to_chuc = 0;
        let id_edit_KP = 0;
        let id_delete_KP = 0;
        function postActivity() {
            return;
        }
        function updateActivity() {
            return;
        }
        function setUpForm() {
            window.open("/DetailOfAcademicActivity/RegisterForm?id=" + id_edit_giai_doan);
        }

        let arrIndexDonvi = []
        let arrDonVi = []
        let numberOfIndexDonvi = 0;

        function bonusRow() {
            arrIndexDonvi.push(numberOfIndexDonvi);
            $('#add_control').append("<div class=\"row customrow\" id=\"row-" + numberOfIndexDonvi + "\"><div class=\"col-md-6 col-xl-6 col-lg-6\"><select id=\"name_coso" + numberOfIndexDonvi + "\" class=\"form-control\"><option>FPTU - Hà Nội</option><option>FPTU - Đà Nẵng</option><option>FPTU - HCM</option><option>FPTU - Cần Thơ</option></select>" +
                "</div><div class=\"col-md-4 col-xl-4 col-lg-4\"><input type=\"number\" id=\"amount-" + numberOfIndexDonvi + "\" class=\"form-control\" autocomplete=\"off\" placeholder=\"Số lượng\"></div><div class=\"col-md-2 col-xl-2 col-lg-2\"><a href=\"#\" class=\"btn-sm btn btn-primary\" onclick=\"removeRow(" + numberOfIndexDonvi + ")\"><i class=\"fas fa-minus\" style=\"color:#ffffff;\"></i></a></div></div>");
            numberOfIndexDonvi = numberOfIndexDonvi + 1;
        }

        function removeRow(id) {
            $('#row-' + id).remove();
            // remove bỏ id trong arrIndexDonvi
        }
        function getContactInfo() {
            return;
        }
        function editDetailGiaiDoan(id) {
            id_edit_giai_doan = id;
            $.ajax({
                url: '/DetailOfAcademicActivity/edit_Phase',
                data: { 'id': id_edit_giai_doan },
                success: function (data) {
                    $('#editModal_Giaidoan').modal('show');
                },
            });

        }
        function deleteDetailGiaiDoan(id) {
            id_delete_giai_doan = id;
            Swal.fire({
                title: "Bạn có muốn xóa giai đoạn này không ?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    Swal.fire(
                        "",
                        "Đã xóa thành công.",
                        "success"
                    )
                }
            });
        }
        function editTuCach(id) {
            id_edit_tu_cach = id;
            $('#editModal_Tucach').modal('show');
        }
        function deleteTuCach(id) {
            id_delete_tu_cach = id;
            Swal.fire({
                title: "Bạn có muốn xóa tư cách này không ?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    Swal.fire(
                        "",
                        "Đã xóa thành công.",
                        "success"
                    )
                }
            });
        }
        function editDongToChuc(id) {
            id_edit_dong_to_chuc = id;
            $('#editModal_DongToChuc').modal('show');
        }
        function deleteDongToChuc(id) {
            id_delete_dong_to_chuc = id;
            Swal.fire({
                title: "Bạn có muốn xóa đơn vị này không ?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    Swal.fire(
                        "",
                        "Đã xóa thành công.",
                        "success"
                    )
                }
            });
        }
        function KPDuTru(id) {
            id_edit_KP = id;
            $('#KPDuTruModal').modal('show');
        }
        $('#add_price_tucach').click(function () {
            if (document.getElementById('add_price_tucach').value == 'MP') {
                $('#add_control_price').hide();
            } else
                $('#add_control_price').show();
        });


        $('#edit_price_tucach').click(function () {
            if (document.getElementById('edit_price_tucach').value == 'MP') {
                $('#edit_cost_tucach').attr('disabled', true);
            } else
                $('#edit_cost_tucach').attr('disabled', false);
        });
        $('#add_donvi_tucach').click(function () {
            if ($(this).prop('checked')) {
                $('#add_control_title').show();
                $('#add_control_btn').show();
                $('#add_control').show();
                $('#add_quantity_tucach').attr('readonly', true)
            } else {
                $('#add_control_title').hide();
                $('#add_control_btn').hide();
                $('#add_control').hide();
                $('#add_quantity_tucach').attr('readonly', false)
            }
        });
        $('#btn_add_giaidoan').click(function () {
            let object = {
                name: document.getElementById('add_name_giaidoan').value,
                from: document.getElementById('add_from_giaidoan').value,
                to: document.getElementById('add_to_giaidoan').value
            }
            $.ajax({
                url: '/DetailOfAcademicActivity/add_Phase',
                data: object,
                success: function (data) {
                    if (data.code = 1) {
                        toastr.success(data.err_content);
                    } else {
                        toastr.error(data.err_content);
                    }
                },
            });
        });

        $('#btn_add_dongtochuc').click(function () {
            toastr.success("Thêm thành công");
            //let object = {
            //    name: document.getElementById('add_name_giaidoan').value,
            //    from: document.getElementById('add_from_giaidoan').value,
            //    to: document.getElementById('add_to_giaidoan').value
            //}
            //$.ajax({
            //    url: '/DetailOfAcademicActivity/add_Phase',
            //    data: object,
            //    success: function (data) {
            //        if (data.code = 1) {
            //            toastr.success(data.err_content);
            //        } else {
            //            toastr.error(data.err_content);
            //        }
            //    },
            //});
        });

        $('#btn_edit_giaidoan').click(function () {
            toastr.success("Đã chỉnh sửa thành công");
            //let object = {
            //    name: document.getElementById('add_name_giaidoan').value,
            //    from: document.getElementById('add_from_giaidoan').value,
            //    to: document.getElementById('add_to_giaidoan').value
            //}
            //$.ajax({
            //    url: '/DetailOfAcademicActivity/add_Phase',
            //    data: object,
            //    success: function (data) {
            //        if (data.code = 1) {
            //            toastr.success(data.err_content);
            //        } else {
            //            toastr.error(data.err_content);
            //        }
            //    },
            //});
        });
        $('#btn_edit_tucach').click(function () {
            toastr.success("Đã chỉnh sửa thành công");
        });
        $('#btn_edit_dong_to_chuc').click(function () {
            toastr.success("Đã chỉnh sửa thành công");
        });

        $('#btn_delete_giaidoan').click(function () {
            $.ajax({
                url: '/DetailOfAcademicActivity/delete_Phase',
                data: { 'id': id_delete_giai_doan },
                success: function (data) {
                    if (data.code = 1) {
                        toastr.success(data.err_content);
                    } else {
                        toastr.error(data.err_content);
                    }
                },
            });
        });

        $('#btn_add_tucach').click(function () {
            let object = {
                id: 1,
                title: document.getElementById('add_name_tucach').value,
                quantity: document.getElementById('add_quantity_tucach').value,
                price: document.getElementById('add_price_tucach').value,
                arr: []
            }
            $.ajax({
                url: '/DetailOfAcademicActivity/add_TuCach',
                data: object,
                success: function (data) {
                    if (data.code = 1) {
                        toastr.success(data.err_content);
                    } else {
                        toastr.error(data.err_content);
                    }
                },
            });
        });
        $("#GiaiDoanDatatable").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "",
                sSearch: ""
            },
            "searching": false,
            "lengthChange": false,
            columnDefs: [
                {
                    targets: -1,
                    title: 'Hành động',
                    width: '15%',
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return '<a href="#" class="btn btn-sm px-6 btn-light-primary mr-5" onclick="editDetailGiaiDoan(1)">Sửa</a><a href="#" class="btn btn-sm btn-light-danger px-6" onclick="deleteDetailGiaiDoan(1)">Xóa</a>'
                    }
                },
                {
                    className: "text-center",
                    targets: [0, 1, 2, 3, 4, -1],
                },
            ]
        });
        $("#TuCachDatatable").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "",
                sSearch: ""
            },
            "searching": false,
            "lengthChange": false,
            columnDefs: [
                {
                    targets: 3,
                    title: 'Hành động',
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return '<a href="#" class="btn btn-sm btn-light-primary mr-5 px-6" onclick="editTuCach(1)">Sửa</a><a href="#" class="btn btn-sm btn-light-danger px-6" onclick="deleteTuCach(1)">Xóa</a>'
                    }
                }
            ]
        });
        $("#DongTochucDatatable").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "",
                sSearch: ""
            },
            "searching": false,
            "lengthChange": false,
            columnDefs: [
                {
                    targets: -1,
                    title: 'Hành động',
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return '<a href="#" class="btn btn-sm btn-light-primary mr-5 px-6" onclick="editDongToChuc(1)">Sửa</a><a href="#" class="btn btn-sm btn-light-danger px-6" onclick="deleteDongToChuc(1)">Xóa</a>'
                    }
                },
                {
                    targets: 4,
                    render: function (data, type, full, meta) {
                        return '<a href="#" onclick="getContactInfo()">' + data + '</a>'
                    }
                },
                {
                    className: "text-center",
                    targets: [0, 1, 2, 3, 4, 5, -1],
                },
            ]
        });
        $("#KinhPhiDatatable").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "",
                sSearch: ""
            },
            "searching": false,
            "lengthChange": false,
            columnDefs: [
                {
                    targets: -1,
                    title: 'Hành động',
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return '<div class="dropdown">' +
                            '<button class="btn btn-light-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thao tác</button>' +
                            '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
                            '<a href="javascript:;" class="dropdown-item" onclick="editKinhPhi(1)">Sửa</a>' +
                            '<a href="javascript:;" class="dropdown-item" onclick="KPDuTru(1)">KP dự trù</a>' +
                            '<a href="javascript:;" class="dropdown-item" onclick="KPDieuChinh(1)">KP điều chỉnh</a>' +
                            '<a href="javascript:;" class="dropdown-item" onclick="KPThucTe(1)">KP thực tế</a>' +
                            '<a href="javascript:;" class="dropdown-item" onclick="deleteKinhPhi(1)">Xóa</a>' +
                            '</div>' +
                            '</div>'
                    }
                },
                {
                    className: "text-center",
                    targets: [0, -1],
                },

            ]
        });
        var KTBootstrapDatetimepicker = function () {
            var baseDemos = function () {
                $('.kt_datetimepicker_3').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            }
            return {
                init: function () {
                    baseDemos();
                }
            };
        }();
        var KTCkeditorDocument = function () {
            // Private functions
            var demos = function () {
                DecoupledEditor
                    .create(document.querySelector('#kt-ckeditor-3'))
                    .then(editor => {
                        const toolbarContainer = document.querySelector('#kt-ckeditor-3-toolbar');
                        toolbarContainer.appendChild(editor.ui.view.toolbar.element);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();
        $('#add_name_phamvihoptac').select2({
            placeholder: 'Phạm vi hợp tác',
            allowClear: true
        });
        $('#add_name_donvi').select2({
            placeholder: 'Tên đơn vị',
            allowClear: true
        });
        $('#add_name_donvitiente').select2({
            placeholder: 'Đơn vị tiền tệ',
            allowClear: true
        });
        var KTUppy = function () {
            const Tus = Uppy.Tus;
            const ProgressBar = Uppy.ProgressBar;
            const StatusBar = Uppy.StatusBar;
            const FileInput = Uppy.FileInput;
            const Informer = Uppy.Informer;

            const Dashboard = Uppy.Dashboard;
            const Dropbox = Uppy.Dropbox;
            const GoogleDrive = Uppy.GoogleDrive;
            const Instagram = Uppy.Instagram;
            const Webcam = Uppy.Webcam;

            var initUppy5 = function () {
                var elemId = 'kt_uppy_5';
                var id = '#' + elemId;
                var $statusBar = $(id + ' .uppy-status');
                var $uploadedList = $(id + ' .uppy-list');
                var timeout;
                var uppyMin = Uppy.Core({
                    debug: true,
                    autoProceed: false,
                    showProgressDetails: true,
                    restrictions: {
                        maxFileSize: 1000000, // 1mb
                        maxNumberOfFiles: 5,
                        minNumberOfFiles: 1
                    }
                });
                uppyMin.use(FileInput, { target: id + ' .uppy-wrapper', pretty: false });
                uppyMin.use(Informer, { target: id + ' .uppy-informer' });
                // demo file upload server
                uppyMin.use(Tus, { endpoint: 'https://master.tus.io/files/' });
                uppyMin.use(StatusBar, {
                    target: id + ' .uppy-status',
                    hideUploadButton: true,
                    hideAfterFinish: false
                });
                $(id + ' .uppy-FileInput-input').addClass('uppy-input-control').attr('id', elemId + '_input_control');
                $(id + ' .uppy-FileInput-container').append('<label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="' + (elemId + '_input_control') + '">Attach files</label>');
                var $fileLabel = $(id + ' .uppy-input-label');
                uppyMin.on('upload', function (data) {
                    $fileLabel.text("Uploading...");
                    $statusBar.addClass('uppy-status-ongoing');
                    $statusBar.removeClass('uppy-status-hidden');
                    clearTimeout(timeout);
                });
                uppyMin.on('complete', function (file) {
                    $.each(file.successful, function (index, value) {
                        var sizeLabel = "bytes";
                        var filesize = value.size;
                        if (filesize > 1024) {
                            filesize = filesize / 1024;
                            sizeLabel = "kb";
                            if (filesize > 1024) {
                                filesize = filesize / 1024;
                                sizeLabel = "MB";
                            }
                        }
                        var uploadListHtml = '<div class="uppy-list-item" data-id="' + value.id + '"><div class="uppy-list-label">' + value.name + ' (' + Math.round(filesize, 2) + ' ' + sizeLabel + ')</div><span class="uppy-list-remove" data-id="' + value.id + '"><i class="flaticon2-cancel-music"></i></span></div>';
                        $uploadedList.append(uploadListHtml);
                    });
                    $fileLabel.text("Add more files");
                    $statusBar.addClass('uppy-status-hidden');
                    $statusBar.removeClass('uppy-status-ongoing');
                });
                $(document).on('click', id + ' .uppy-list .uppy-list-remove', function () {
                    var itemId = $(this).attr('data-id');
                    uppyMin.removeFile(itemId);
                    $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
                });
            }
            return {
                // public functions
                init: function () {
                    initUppy5();
                    setTimeout(function () {
                    }, 2000);
                }
            };
        }();
        KTUtil.ready(function () {
            KTUppy.init();
        });
        $(document).ready(function () {
            $('#add_control_title').hide();
            $('#add_control_btn').hide();
            $('#add_control_price').hide();
            KTBootstrapDatetimepicker.init();
            KTCkeditorDocument.init();
        });
    </script>
}
