
@{
    ViewBag.Title = "Mẫu đăng kí theo giai đoạn cho hoạt động học thuật";
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}

<div class="card-body">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-xl-8 col-lg-8">
            aaaaa
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}