
@{
    //ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-body">
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin bài báo</h3>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label>Tên bài báo</label>
                <input class="form-control form-control-lg" type="text" value="An Efficient Algorithm for the k-Dominating Set Problem on Very Large-Scale Networks" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Thời gian xuất bản</label>
                <input class="form-control form-control-lg custom-pickdate" type="text" value="11/2019" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Link public toàn văn</label>
                <input class="form-control form-control-lg" type="text" value="https://doi.org/10.1007/978-3-030-34980-6_9" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Link scholar</label>
                <input class="form-control form-control-lg" type="text" value="https://scholar.google.com.vn/scholar?cluster=783580201061751&hl=en&as_sdt=0,5" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Loại ấn phẩm</label>
                <select class="form-control form-control-lg" disabled>
                    <option value="1" selected>Tạp chí khoa học</option>
                    <option value="2">Kỷ yếu hội thảo</option>
                </select>
            </div>
            <div class="col-xl-6 form-group">
                <label>Chuyên nghành</label>
                <select class="form-control form-control-lg" disabled>
                    <option value="1" selected>Công nghệ thông tin</option>
                    <option value="2">Kinh tế</option>
                    <option value="3">Truyền thông</option>
                </select>
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin nhà xuất bản</h3>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label>Tên tạp chí</label>
                <input class="form-control form-control-lg" type="text" value=" Lecture Notes in Computer Science: International Conference on Computational Data and Social Networks" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Tập</label>
                <input class="form-control form-control-lg" type="text" value="11917" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Trang</label>
                <input class="form-control form-control-lg" type="text" value="74 - 76" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Nhà xuất bản</label>
                <input class="form-control form-control-lg" type="text" value="" disabled />
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin xét thưởng</h3>
        <div class="row" id="thuong">
            <div class="col-xl-6 form-group">
                <label>Loại tiêu chí</label>
                <select id="loaithuong" class="form-control form-control-lg" disabled>
                    <option selected value="1">Quốc tế</option>
                    <option value="2">Trong nước</option>
                </select>
            </div>
            <div class="col-xl-6 form-group thuongqt">
            </div>
            <div class="col-xl-6 form-group thuongtn" style="display: none">
                <label>Chỉ số tạp chí</label>
                <input class="form-control form-control-lg" type="text" value="0.6" disabled />
            </div>
            <div class="col-xl-6 form-group thuongtn" style="display: none">
                <label>Ghi chú</label>
                <input class="form-control form-control-lg" type="text" value="" disabled />
            </div>
            <div class="col-xl-6 form-group form-group-lg">
                <label>Tiêu chí</label>
                <input class="form-control form-control-lg" type="text" value="Q2" disabled />
            </div>
            <div class="col-xl-6 form-group form-group-lg">
                <label>Ghi chú</label>
                <input class="form-control form-control-lg" type="text" value="https://www.scimagojr.com/journalsearch.php?q=25674&tip=sid&clean=0" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Tổng thưởng cho bài báo</label>
                <input id="totalreward" class="form-control form-control-lg" type="number" />
            </div>
            <div class="col-xl-6 form-group">
                <label>Chọn loại khen thưởng</label>
                <select id="typereward" class="form-control form-control-lg" disabled>
                    <option value="1" selected>Theo quy định</option>
                    <option value="2">Đại diện nhận thưởng</option>
                </select>
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin tác giả</h3>
        <div class="row">
            <div class="col-xl-12">
                <table class="table table-bordered tacgia">
                    <thead>
                        <tr>
                            <th>Đơn vị</th>
                            <th>MSNV/MSSV</th>
                            <th>Họ tên</th>
                            <th>Chức danh</th>
                            <th>Loại hợp đồng</th>
                            <th>Mã số thuế</th>
                            <th>Số CMND</th>
                            <th>CMND</th>
                            <th>Ngân hàng</th>
                            <th>Số tài khoản</th>
                            <th>Tiền thưởng</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody id="tacgia_body">
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" checked disabled /><span></span>Trong FE
                                </label>
                            </td>
                            <td><input list="ncv_list" type="text" class="form-control" value="123" disabled /></td>
                            <td><input type="text" class="form-control" value="abc" disabled /></td>
                            <td>
                                <select class="form-control" disabled>
                                    <option value="1">Nghiên cứu viên</option>
                                    <option value="2">Giảng viên</option>
                                    <option value="3" selected>Sinh viên</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" disabled>
                                    <option value="1" selected>Full time</option>
                                    <option value="2">Part time</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" value="000" disabled /></td>
                            <td><input type="text" class="form-control" value="123456789" disabled /></td>
                            <td><button class="btn btn-light-info font-weight-bold">View</button></td>
                            <td><input type="text" class="form-control" value="TPBank" disabled /></td>
                            <td><input type="text" class="form-control" value="888" disabled /></td>
                            <td><input type="number" class="form-control onereward" /></td>
                            <td><input type="text" class="form-control" value="" disabled /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-light-success px-6 font-weight-bold mx-1" id="confirmbtn">Xác nhận duyệt</button>
            <button class="btn btn-light-warning px-6 font-weight-bold mx-1" id="">Yêu cầu chỉnh sửa</button>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin hội thoại</h3>
        <div class="row">
            <div class="col-xl-12">
                <form>
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" type="text" value="" id="example-text-input" />
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-block btn-success">Gửi</button>
                        </div>
                    </div>
                </form>
                <br />
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="15%">Thời gian</th>
                            <th scope="col" width="15%">Người gửi</th>
                            <th scope="col">Nội dung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/01/21-10:00AM</td>
                            <td>Ngô Tùng Sơn</td>
                            <td>Sao lâu có phản hồi thế em</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).on("wheel", "input[type=number]", function (e) {
            $(this).blur();
        });
        $("#confirmbtn").click(function () {
            var temp = $("#totalreward").val();
            if (temp == "") {
                toastr.error("Chưa điền thông tin tổng thưởng cho bài báo", "Lỗi");
            }
            var ck = $("#typereward").val()
            if (ck == 1) {
                $(".onereward").each(function () {
                    var value = $(this).val();
                    if (value == "") {
                        toastr.error("Chưa điền đủ thông tin thưởng cho tác giả", "Lỗi");
                    }
                });
            }
        });
    </script>
}