@*modal edit_additional_moa*@
<div class="modal fade" id="edit_additional_moa" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title font-weight-bolder">ĐIỀU CHỈNH BIÊN BẢN THỎA THUẬN BỔ SUNG</h3>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Mã hiệu</label>&nbsp;
                        <label style="font-style: italic;"></label>
                        <input hidden id="moa_bonus_id" value="" />
                        <input class="form-control" type="text" placeholder="Mã hiệu MOA_BS/số thứ tự" autocomplete="off" required id="moa_id_edit" value="" />
                    </div>
                    <div class="col-md-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Bản mềm</label>&nbsp;
                        <label style="font-style: italic;">(Tối đa 1MB và 5 tệp tin)</label>
                        <div class="uppy row" id="moa_edit_upload">
                            <div class="uppy-wrapper col-4"></div>
                            <div class="uppy-list col-7"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label style="color:red">*</label><label class="font-weight-bolder">Ngày kí kết</label>&nbsp;
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_moa_edit_sign_time" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Ngày kí kết" id="moa_edit_sign_time" readonly autocomplete="off" data-target="#kt_datetimepicker_moa_edit_sign_time" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_moa_edit_sign_time" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="font-weight-bolder">Ngày hết hạn</label>&nbsp;
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_moa_edit_end_time" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Ngày hết hạn" id="moa_edit_end_time" readonly autocomplete="off" data-target="#kt_datetimepicker_moa_edit_end_time" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_moa_edit_end_time" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row col-lg-11 mb-3 mt-3">
                    <div class="col-lg-6">
                        <h5 class="modal-title">BỔ SUNG VỀ PHẠM VI HỢP TÁC</h5>
                    </div>
                </div>
                <div class="row col-lg-11 mb-3 mt-3">
                    <div class="col-lg-6 px-0">
                        <a class="btn btn-sm btn-light-primary px-6 font-weight-bold" data-toggle="modal" href="#add-partner-scope-for-edit">Thêm</a>
                    </div>
                </div>
                <table id="ex_moa_table_edit" class="table table-bordered table-hover table-checkable" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Đối tác</th>
                            <th>Phạm vi hợp tác</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-sm btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" onclick="finishExMOAEdit()" class="btn btn-sm btn-light-primary px-6 font-weight-bold">Sửa</button>
            </div>
        </div>
    </div>
</div>

@*modal add-partner-scope_for_edit*@
<div class="modal fade in" id="add-partner-scope-for-edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title">BỔ SUNG VỀ PHẠM VI HỢP TÁC</h3>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label style="color:red">*</label><label class="font-weight-bolder">Đối tác</label>&nbsp;
                        <select class="form-control" required id="partner_name_ex_moa_add_for_edit" style="width:100% !important">
                            <option value=""></option>
                            @foreach (var item in ViewBag.partnerList)
                            {
                                <option value="@item.partner_id">@item.partner_name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-9">
                        <label style="color:red">*</label><label class="font-weight-bolder">Phạm vi hợp tác</label>&nbsp;
                        <select class="form-control select2" required id="coop_scope_ex_moa_add_for_edit" multiple="multiple" style="width:100% !important">
                            @*@foreach (var item in ViewBag.scopeList)
                            {
                                <option value="@item.scope_id">@item.scope_abbreviation</option>
                            }*@
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-sm btn-secondary px-6" data-dismiss="modal">Đóng</button>
                <button type="button" onclick="addExMOATempForEdit()" class="btn btn-sm btn-light-primary px-6">Bổ sung</button>
            </div>
        </div>
    </div>
</div>

@*modal edit-partner-scope_for_edit*@
<div class="modal fade in" id="edit-partner-scope-for-edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title">ĐIỀU CHỈNH VỀ PHẠM VI HỢP TÁC</h3>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <input hidden readonly type="text" class="form-control" id="idx_ex_moa_edit_for_edit" placeholder="" name="idx_edit" value="no" />
                        <label style="color:red">*</label><label class="font-weight-bolder">Đối tác</label>&nbsp;
                        <select class="form-control" required id="partner_name_ex_moa_edit_for_edit">
                        </select>
                    </div>
                    <div class="col-md-9">
                        <label style="color:red">*</label><label class="font-weight-bolder">Phạm vi hợp tác</label>&nbsp;
                        <select class="form-control select2" required id="coop_scope_ex_moa_edit_for_edit" multiple="multiple" style="width:100% !important">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-sm btn-secondary px-6" data-dismiss="modal">Đóng</button>
                <button type="button" onclick="editExMOATempForEdit()" class="btn btn-sm btn-light-primary px-6">Sửa</button>
            </div>
        </div>
    </div>
</div>
