
<table class="table table-bordered table-hover table-checkable "
       id="moa_update_table">
    <thead>
        <tr>
            <th class="text-center">Mã hiệu</th>
            <th class="text-center">Thời gian kí kết</th>
            <th class="text-center">Thời gian hết hạn</th>
            <th class="text-center">Đối tác</th>
            <th class="text-center">Phạm vi hợp tác</th>
            <th class="text-center">Bản mềm</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
                <td class="text-center">
                    2020/01_MOA/01_BS/01
                </td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    Bunkyou University
                </td>
                <td class="text-center">JC</td>
                <td class="text-center"></td>
                <td class="text-center" nowrap="nowrap"></td>
            </tr>*@
    </tbody>
</table>