@{
    ViewBag.Title = "Danh sách hoạt động trong năm";
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}
<style>
    .custom-btn {
        width: 25% !important;
    }

    .modal-title {
        font-size: 1.5rem !important;
    }
</style>
<div class="card-body">

    <div class="row mb-5">
        <div class="col-lg-5 col-xl-6">
            <a href="#" class="btn btn-outline-primary btn-sm px-6 font-weight-bold">Thêm sự kiện</a>
            <a href="#" class="btn btn-outline-primary btn-sm ml-3 font-weight-bold">Xuất excel</a>
        </div>
        <div class="col-lg-7 col-xl-6">
            <input type="text" class="btn btn-outline-primary btn-sm custom-btn custom-pickyear align-center float-right" value="2021" readonly />
        </div>
    </div>

    <table id="my_list" class="table table-separate table-head-custom table-checkable">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Loại</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>RESFES 2020</td>
                <td>Hội nghị, hội thảo</td>
                <td><span class="label label-lg label-light-warning label-inline font-weight-bold py-4">Chưa chạy</span></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thao tác</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Sửa</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#cloneModal">Clone</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Checkin</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Xóa</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Edu Camp 2020</td>
                <td>Hội nghị, hội thảo</td>
                <td><span class="label label-lg label-light-primary label-inline font-weight-bold py-4">Đang chạy</span></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thao tác</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Sửa</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#cloneModal">Clone</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Checkin</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Xóa</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Nghiên cứu khoa học và viết bài báo cáo khoa học tại FPoly</td>
                <td>Khóa học</td>
                <td><span class="label label-lg label-light-success label-inline font-weight-bold py-4">Đã xong</span></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thao tác</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Sửa</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#cloneModal">Clone</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Checkin</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">Xóa</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="cloneModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Clone sự kiện</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Tiêu đề</label>
                        <input class="form-control" type="text" required />
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Loại</label>
                        <select class="form-control" required>
                            <option value="KH">Khóa học</option>
                            <option value="SE">Seminar</option>
                            <option value="CO">Hội nghị, hội thảo</option>
                            <option value="TN">HĐTN FPT Edu</option>
                        </select>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">Thời hạn từ </label>
                        <input type="text" class="form-control custom-pickdate" required />
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">đến</label>
                        <input type="text" class="form-control custom-pickdate" required />

                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Địa điểm</label>
                        <input class="form-control" type="text" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label font-weight-bolder">Chọn các hạng mục cần sao chép</label>
                    <div class="col-10 col-form-label">
                        <div class="checkbox-list">
                            <label class="checkbox">
                                <input type="checkbox" name="Checkboxes4" />
                                <span></span>
                                Kinh phí
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Checkboxes4" />
                                <span></span>
                                Đơn vị đồng tổ chức
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Checkboxes4" />
                                <span></span>
                                Nội dung
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Checkboxes4" />
                                <span></span>
                                Đăng kí tham dự
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script>
        $("#my_list").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
                sLengthMenu: "Hiển thị <select class='custom-select custom-select-sm'>" +
                    "<option value='5'>5</option>" +
                    "<option value='10'>10</option>" +
                    "<option value='20'>20</option>" +
                    "</select> bản ghi",
                sSearch: "Tìm kiếm"
            }
        });

        var ConfigDatepicker = function () {

            var arrows;
            if (KTUtil.isRTL()) {
                arrows = {
                    leftArrow: '<i class="la la-angle-right"></i>',
                    rightArrow: '<i class="la la-angle-left"></i>'
                }
            } else {
                arrows = {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                }
            }

            // Private functions
            var demos = function () {
                $('.custom-pickyear').datepicker({
                    rtl: KTUtil.isRTL(),
                    orientation: "bottom right",
                    todayHighlight: true,
                    templates: arrows,
                    startView: "years",
                    format: "yyyy",
                    minViewMode: "years"
                });

                $('.custom-pickdate').datepicker({
                    rtl: KTUtil.isRTL(),
                    orientation: "bottom right",
                    todayHighlight: true,
                    templates: arrows
                });
            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();

        $(document).ready(function () {
            ConfigDatepicker.init();
        });

    </script>
}
