
@{
    //ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-custom gutter-b">
    <div class="card-body">
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin bằng sáng chế</h3>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label>Tên sản phẩm</label>
                <input class="form-control form-control-lg" type="text" value="Máy in ba chiều" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Số bằng sáng chế</label>
                <input class="form-control form-control-lg custom-pickdate" type="text" value="1-0015677" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Loại SHTT</label>
                <input class="form-control form-control-lg" type="text" value="Vietnam Patent" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Ngày cấp</label>
                <input class="form-control form-control-lg" type="text" value="25/08/2016" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Quốc gia</label>
                <select class="form-control" id="search_nam" name="param" disabled>
                    <option selected>Việt Nam</option>
                    <option>Mỹ</option>
                    <option>Nga</option>
                </select>
            </div>
            <div class="col-xl-6 form-group">
                <label>File chứng minh</label>
                <button class="btn btn-light-primary px-6 font-weight-bold btn-sm form-control">View</button>
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin xét thưởng</h3>
        <div class="row" id="thuong">
            <div class="col-xl-6 form-group">
                <label>Tổng thưởng cho bài báo</label>
                <input id="totalreward" class="form-control form-control-lg" type="text" />
            </div>
            <div class="col-xl-6 form-group">
                <label>Chọn loại khen thưởng</label>
                <select id="typereward" class="form-control form-control-lg" disabled>
                    <option value="1" selected>Theo quy định</option>
                    <option value="2">Đại diện nhận thưởng</option>
                </select>
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin tác giả</h3>
        <div class="row" id="authors-info-container">
            <div class="col-lg-4 col-sm-12" id="1616240588831">
                <!--begin::Card-->
                <div class="card card-custom gutter-b author-info-card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">HE130156 - Tran Thi Thuy Nguyen</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="mb-7">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Khu Vực:</span>
                                        <span class="text-muted font-weight-bold">FPTUHN1</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Chức danh:</span>
                                        <a href="#" class="text-muted text-hover-primary">Cán bộ</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Loại hợp đồng:</span>
                                        <a href="#" class="text-muted text-hover-primary">full-time</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Mã số thuế: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Email:</span>
                                        <span class="text-muted font-weight-bold">Lorem ipsum dolor sit amet</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">CMND số:</span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Ngân hàng: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Số tài khoản: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Tiền thưởng: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="mb-7">

                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <div class="col-lg-4 col-sm-12" id="1616240588831">
                <!--begin::Card-->
                <div class="card card-custom gutter-b author-info-card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">HE130156 - Tran Thi Thuy Nguyen</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="mb-7">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Khu Vực:</span>
                                        <span class="text-muted font-weight-bold">FPTUHN1</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Chức danh:</span>
                                        <a href="#" class="text-muted text-hover-primary">Cán bộ</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Loại hợp đồng:</span>
                                        <a href="#" class="text-muted text-hover-primary">full-time</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Mã số thuế: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Email:</span>
                                        <span class="text-muted font-weight-bold">Lorem ipsum dolor sit amet</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">CMND số:</span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Ngân hàng: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Số tài khoản: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Tiền thưởng: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="mb-7">

                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <div class="col-lg-4 col-sm-12" id="1616240588831">
                <!--begin::Card-->
                <div class="card card-custom gutter-b author-info-card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">HE130156 - Tran Thi Thuy Nguyen</h3>
                        </div>
                        @*<div class="card-toolbar">
                            <a data-id="1616240588831" class="edit-author btn btn-icon btn-sm btn-hover-light-danger">
                                <i class="far fa-edit"></i>
                            </a>
                            <a data-id="1616240588831" class="del-author btn btn-icon btn-sm btn-hover-light-danger">
                                <i class="la la-trash"></i>
                            </a>
                        </div>*@
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="mb-7">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Khu Vực:</span>
                                        <span class="text-muted font-weight-bold">FPTUHN1</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Chức danh:</span>
                                        <a href="#" class="text-muted text-hover-primary">Cán bộ</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Loại hợp đồng:</span>
                                        <a href="#" class="text-muted text-hover-primary">full-time</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Mã số thuế: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Email:</span>
                                        <span class="text-muted font-weight-bold">Lorem ipsum dolor sit amet</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">CMND số:</span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Ngân hàng: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Số tài khoản: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Tiền thưởng: </span>
                                        <a href="#" class="text-muted text-hover-primary">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="mb-7">

                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!--end::Card-->
            </div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <button class="btn btn-light-success px-6 font-weight-bold mx-1" id="confirmbtn">Xác nhận duyệt</button>
            <button class="btn btn-light-warning px-6 font-weight-bold mx-1" id="">Yêu cầu chỉnh sửa</button>
        </div>
    </div>
</div>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin hội thoại</h3>
        <div class="row">
            <div class="col-xl-12">
                <form>
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" type="text" value="" id="example-text-input" />
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-block btn-success">Gửi</button>
                        </div>
                    </div>
                </form>
                <br />
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="15%">Thời gian</th>
                            <th scope="col" width="15%">Người gửi</th>
                            <th scope="col">Nội dung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/01/21-10:00AM</td>
                            <td>Ngô Tùng Sơn</td>
                            <td>Sao lâu có phản hồi thế em</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/inputFilter.js"></script>
    <script>
        $(document).on("wheel", "input[type=number]", function (e) {
            $(this).blur();
        });
        $("#confirmbtn").click(function () {
            var temp = $("#totalreward").val();
            if (temp == "") {
                toastr.error("Chưa điền thông tin tổng thưởng cho bằng sáng chế", "Lỗi");
            }
            var ck = $("#typereward").val()
            if (ck == 1) {
                $(".onereward").each(function () {
                    var value = $(this).val();
                    if (value == "") {
                        toastr.error("Chưa điền đủ thông tin thưởng cho tác giả", "Lỗi");
                    }
                });
            }
        });
        $(".onereward, #totalreward").inputFilter(function (value) {
            return /^-?\d*$/.test(value);
        });
        $("#totalreward").change(function () {
            var x = $(this).val();
            $(this).val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });
        $(".onereward").on("change", function () {
            var x = $(this).val();
            $(this).val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            var total = $("#totalreward").val();
            total = total.split(",").join("");
            var sum = 0;
            $(".onereward").each(function () {
                var temp = $(this).val().split(",").join("");
                sum = parseInt(sum) + parseInt(temp);
            });
            console.log(total, sum);
            if (sum > parseInt(total)) {
                toastr.error("Tổng tiền thưởng tác giả quá tổng thưởng bằng sáng chế", "Lỗi");
            }
        });
    </script>
}


