
@{
    //ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-custom">
    <div class="card-body">
        <table id="pending" class="table table-bordered table-checkable">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên bằng sáng chế</th>
                    <th>Người request</th>
                    <th>Ngày request</th>
                    <th>Chi tiết</th>
                </tr>
            </thead>
            <tbody id="pending-body">
                <tr>
                    <td>1</td>
                    <td>An Evaluation of Image-Based Malware Classification Using Machine Learning</td>
                    <td>Nguyễn Quốc Long et al</td>
                    <td>10/12/2019</td>
                    <td><a href="/Invention/Detail" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Recognition and Quantity Estimation of Pastry Images Using Pre-training Deep Convolutional Networks</td>
                    <td>Tran, Nghi C</td>
                    <td>09/12/2019</td>
                    <td><a href="/Invention/Detail" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#pending").DataTable({
                "columns": [
                    { width: "5%" },
                    { width: "30%" },
                    { width: "25%" },
                    { width: "25%" },
                    { width: "15%" },
                ],
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
                              <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                }
            });
        });
    </script>
}
