
@{
    ViewBag.Title = "Chi tiết biên bản thỏa thuận";
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}

<style>
    .last-row {
        border-bottom: 2px solid #cdcaca;
        padding-bottom: 20px;
    }

    .modal {
        overflow-y: auto;
    }

    .uppy-list-item {
        margin: 0 !important;
    }

    .select2-dropdown {
        z-index: 8888;
    }
</style>

<div class="card card-custom ">
    <div class="card-body p-0">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs nav-tabs-line" style="margin-bottom: 10px;">
                        <li class="nav-item ">
                            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">CƠ BẢN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">ĐỐI TÁC</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_1">
                            <div class="row mb-5 justify-content-center">
                                <h4 style="font-weight: bold;">
                                    THÔNG TIN VỀ BIÊN BẢN THỎA THUẬN
                                </h4>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <label style="color:red">*</label><label class="font-weight-bolder">Số hiệu</label>&nbsp;
                                    <label style="font-style: italic;">(Năm/Số thứ tự)</label>
                                    <input class="form-control" type="text" placeholder="Số hiệu" autocomplete="off" required id="moa_id" />
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <label class="font-weight-bolder">Đơn vị - Cơ sở kí kết</label>&nbsp;
                                    <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                        <select disabled class="form-control select-search" id="facility_detail_mou" name="param" style="width:100% !important">
                                            <option label="Label"></option>
                                            <option value="1">FPTU-HN</option>
                                            <option value="2">FPTGW</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <label class="font-weight-bolder">Thời gian kí kết</label>&nbsp;
                                    <label style="font-style: italic;"></label>
                                    <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_sign_date_moa" data-target-input="nearest">
                                        <input disabled type="text" class="form-control datetimepicker-input" placeholder="Thời gian kí kết" id="sign_date_moa" readonly autocomplete="off" data-target="#kt_datetimepicker_sign_date_moa" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_sign_date_moa" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <label style="color:red">*</label><label class="font-weight-bolder">Thời gian hết hạn</label>&nbsp;
                                    <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_end_date_moa" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Thời gian hết hạn" id="end_date_moa" readonly autocomplete="off" data-target="#kt_datetimepicker_end_date_moa" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_end_date_moa" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                                    <label style="color:red">*</label>
                                    <label class="font-weight-bolder">Trạng thái</label>&nbsp;
                                    <select class="form-control" required id="moa_status">
                                        <option value="0">Inactive</option>
                                        <option value="1">Active</option>
                                    </select>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8">
                                    <label class="font-weight-bolder">Ghi chú</label>&nbsp;
                                    <input class="form-control" type="text" placeholder="Ghi chú" autocomplete="off" required id="moa_note" />
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Phạm vi hợp tác chính</label>&nbsp;
                                    <label style="font-style: italic;">
                                        (Cập nhật theo pham vi hợp tác của các đối tác kí kết)
                                    </label>
                                    <input disabled class="form-control" type="text" placeholder="Phạm vi hợp tác" autocomplete="off" required id="moa_coop_scope" />
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Bản mềm</label>&nbsp;
                                    <label style="font-style: italic;">(Tối đa 1MB và 5 tệp tin)</label>
                                    <div class="uppy row" id="moa_detail_upload">
                                        <div class="uppy-wrapper col-3"></div>
                                        <div class="uppy-list col-7"></div>
                                        <div class="uppy-status"></div>
                                        <div class="uppy-informer uppy-informer-min"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Lưu ý</label>
                                    <textarea id="moa_attention" class="form-control" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center last-row">
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <a href="#" class="btn btn-sm btn-light-success px-6 font-weight-bold float-right">Lưu</a>
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <h4 style="font-weight: bold;">
                                    LỊCH SỬ KÍ KẾT BỔ SUNG BIÊN BẢN THỎA THUẬN
                                </h4>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 mb-3">
                                <div class="row align-items-center">
                                    <a href="#add_additional_moa" data-toggle="modal" class="btn btn-sm btn-light-primary px-6 font-weight-bold">Thêm</a>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-checkable "
                                   id="moa_update_table">
                                <thead>
                                    <tr>
                                        <th>Mã hiệu</th>
                                        <th>Thời gian kí kết</th>
                                        <th>Thời gian hết hạn</th>
                                        <th>Đối tác</th>
                                        <th>Phạm vi hợp tác</th>
                                        <th>Bản mềm</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            2020/01_MOA/01_BS/01
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            Bunkyou University
                                        </td>
                                        <td class="text-center">JC</td>
                                        <td class="text-center"></td>
                                        <td class="text-center" nowrap="nowrap"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                            <div class="row mb-5">
                                <h4 style="font-weight: bold;">
                                    DANH SÁCH ĐỐI TÁC HOẠT ĐỘNG
                                </h4>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                                    <div class="row align-items-center">
                                        <a href="#add_partner_mou" class="btn btn-light-primary px-6 font-weight-bolder" data-toggle="modal">Thêm</a>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xl-9 col-md-9 col-sm-12">
                                    <div class="row align-items-center justify-content-end">
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                            <input type="text" class="form-control text-center" placeholder="Tên đối tác" id="search_partner_name" />
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                                            <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                                <select class="form-control text-center" id="search_nation" name="param" style="width:100% !important">
                                                    <option label="Label"></option>
                                                    <option value="1">Việt Nam</option>
                                                    <option value="2">USA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                                            <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                                <select class="form-control text-center" id="search_specialization" name="param" style="width:100% !important">
                                                    <option label="Label"></option>
                                                    <option value="1">IT</option>
                                                    <option value="2">BA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                                            <a href="#" class="btn btn-light-primary px-6 font-weight-bolder text-nowrap">Tìm kiếm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-checkable " id="partner_table">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="">S<br />T<br />T</th>
                                        <th colspan="4" class="text-center header-modify">Đối tác</th>
                                        <th colspan="3" class="text-center header-modify">Người đại diện</th>
                                        <th nowrap="nowrap" rowspan="2" class="text-center">Ngày kí kết</th>
                                        <th nowrap="nowrap" rowspan="2" class="text-center">Phạm vi hợp tác</th>
                                        <th rowspan="2"></th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Tên</th>
                                        <th class="text-center">Quốc gia</th>
                                        <th class="text-center">Lĩnh vực</th>
                                        <th class="text-center">Website</th>
                                        <th class="text-center">Họ và tên</th>
                                        <th class="text-center">Điện thoại</th>
                                        <th class="text-center">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center">Bunkyo University</td>
                                        <td class="text-center">Japan</td>
                                        <td class="text-center">IT</td>
                                        <td class="text-center"></td>
                                        <td class="text-center" nowrap="nowrap">Nguyễn Hoàng Sơn</td>
                                        <td class="text-center">0977626800</td>
                                        <td class="text-center">sonnhhe130366@fpt.edu.vn</td>
                                        <td class="text-center" nowrap="nowrap">22/02/2222</td>
                                        <td class="text-center" nowrap="nowrap">SE</td>
                                        <td nowrap="nowrap"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal add_additional_moa*@
<div class="modal fade" id="add_additional_moa" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title font-weight-bolder">BỔ SUNG BIÊN BẢN THỎA THUẬN</h3>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Mã hiệu</label>&nbsp;
                        <label style="font-style: italic;"></label>
                        <input class="form-control" type="text" placeholder="Mã hiệu MOU_BS/số thứ tự" autocomplete="off" required id="moa_id_addition" />
                    </div>
                    <div class="col-md-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Bản mềm</label>&nbsp;
                        <label style="font-style: italic;">(Tối đa 1MB và 5 tệp tin)</label>
                        <div class="uppy row" id="moa_addition_upload">
                            <div class="uppy-wrapper col-4"></div>
                            <div class="uppy-list col-7"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <label style="color:red">*</label><label class="font-weight-bolder">Ngày kí kết</label>&nbsp;
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_moa_addition_sign_time" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Ngày kí kết" id="moa_addition_sign_time" readonly autocomplete="off" data-target="#kt_datetimepicker_moa_addition_sign_time" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_moa_addition_sign_time" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="font-weight-bolder">Ngày hết hạn</label>&nbsp;
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_moa_addition_end_time" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Ngày hết hạn" id="moa_addition_end_time" readonly autocomplete="off" data-target="#kt_datetimepicker_moa_addition_end_time" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_moa_addition_end_time" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row col-lg-11 mb-3 mt-3">
                    <div class="col-lg-6">
                        <h5 class="modal-title">BỔ SUNG VỀ PHẠM VI HỢP TÁC</h5>
                    </div>
                </div> 
                <div class="row col-lg-11 mb-3 mt-3">
                    <div class="col-lg-6">
                        <a class="btn btn-sm btn-light-primary px-6 font-weight-bold" data-toggle="modal" href="#add-partner-scope">Thêm</a>
                    </div>
                </div>
                <table id="" class="table table-bordered table-hover table-checkable" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Đối tác</th>
                            <th>Phạm vi hợp tác</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">Bunkyou University</td>
                            <td class="text-center">JC </td>
                            <td class="text-center" nowrap="nowrap">
                                <a onclick="" href="#add-partner-scope" data-toggle="modal" class="btn btn-sm btn-light-primary px-6 font-weight-bold" style="margin-right: 10px;">Sửa</a>
                                <a  onclick="confirm_delete(12)" class="btn btn-sm btn-light-danger px-6 font-weight-bold" data-toggle="modal">Xóa</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-center">FPT Software</td>
                            <td class="text-center">ME </td>
                            <td class="text-center" nowrap="nowrap">
                                <a onclick="" href="#add-partner-scope" data-toggle="modal" class="btn btn-sm btn-light-primary px-6 font-weight-bold" style="margin-right: 10px;">Sửa</a>
                                <a  onclick="confirm_delete(12)" class="btn btn-sm btn-light-danger px-6 font-weight-bold" data-toggle="modal">Xóa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-sm btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-sm btn-light-primary px-6 font-weight-bold" data-dismiss="modal">Bổ sung</button>
            </div>
        </div>
    </div>
</div>

@*modal add-partner-scope*@
<div class="modal fade" id="add-partner-scope" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title">BỔ SUNG VỀ PHẠM VI HỢP TÁC</h3>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label style="color:red">*</label><label class="font-weight-bolder">Đối tác</label>&nbsp;
                        <select class="form-control" required id="partner_name_addition">
                            <option value="1 ">Bunkyou University</option>
                            <option value="2 ">FPT Software</option>
                        </select>
                    </div>
                    <div class="col-md-9">
                        <label style="color:red">*</label><label class="font-weight-bolder">Phạm vi hợp tác</label>&nbsp;
                        <select class="form-control" required id="coop_scope_moa">
                            <option value="1">SE</option>
                            <option value="2">FE</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-sm btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-sm btn-light-primary px-6 font-weight-bold" data-dismiss="modal">Bổ sung</button>
            </div>
        </div>
    </div>
</div>


@*modal add_partner_mou*@
<div class="modal fade in" id="add_partner_mou" aria-hidden="true" style="z-index: 8888">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center row">
                <h4 class="modal-title font-weight-bolder" id="add_partner_mou_title">THÊM ĐỐI TÁC TRONG BIÊN BẢN THỎA THUẬN</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Tên đối tác</label>
                        <label style="color:blue" class="float-right"><a href="#">Kiểm tra</a></label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control select-search" id="partner_name_form" name="param" style="width:100% !important">
                                <option label="Label"></option>
                                <option value="1">Bách khoa</option>
                                <option value="2">FPTGW</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Đại diện</label>
                        <input disabled class="form-control " type="text" placeholder="Đại diện" autocomplete="off" id="represent" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Lĩnh vực</label>
                        <label style="color:blue" class="float-right"><a href="#">Kiểm tra</a></label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control select-search" id="specialization" name="param" style="width:100% !important">
                                <option label="Label"></option>
                                <option value="1">IT</option>
                                <option value="2">BA</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Quốc gia</label>
                        <input disabled class="form-control " type="text" placeholder="Quốc gia" autocomplete="off" id="nation" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Email</label>
                        <input disabled class="form-control " type="text" placeholder="Email" autocomplete="off" id="email" />
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Ngày ký kết</label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_sign_date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Ngày ký kết" id="sign_date" readonly autocomplete="off" data-target="#kt_datetimepicker_sign_date" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_sign_date" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Website</label>
                        <input disabled class="form-control" type="text" placeholder="Website" autocomplete="off" id="website" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label class="font-weight-bolder">Số điện thoại</label>
                        <input disabled class="form-control " type="text" placeholder="Số điện thoại" autocomplete="off" id="phone" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Phạm vi hợp tác</label>
                        <label style="color:blue" class="float-right"><a href="#">Kiểm tra</a></label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control select-search" id="coop_scope" name="param" style="width:100% !important">
                                <option label="Label"></option>
                                <option value="1">IT</option>
                                <option value="2">BA</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label class="font-weight-bolder">Địa chỉ đối tác</label>
                        <input disabled class="form-control " type="text" placeholder="Địa chỉ đối tác" autocomplete="off" id="address" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-sm btn-light-primary px-6 font-weight-bold">Thêm</button>
            </div>
        </div>
    </div>
</div>


@*modal mou_partner_history*@
<div class="modal fade in" id="mou_partner_history" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center row">
                <h4 class="modal-title font-weight-bolder">LỊCH SỬ THỎA THUẬN HỢP TÁC</h4>
            </div>
            <div class="modal-body row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control text-center" type="text" placeholder="Tên đối tác" autocomplete="off" readonly id="partner_name" />
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control text-center" type="text" placeholder="Mã hiệu" autocomplete="off" readonly id="mou_id" />
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
                    <table class="table table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Hoạt động</th>
                                <th class="text-center">Người thao tác</th>
                                <th class="text-center">Thời gian thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="body_mou_history">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
         //funtion delete
        function confirm_delete(id) {
        //function confirm_delete(id, action, controller) {
            var link = '@Url.Action("action", "controller")'
            link = link.replace("action", "Delete_MOU");
            link = link.replace("controller", "MOU");
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: link,
                        data: { mou_id : id },
                        success: function (data) {
                            if (data = "") {
                                Swal.fire("Good job!", "You clicked the button!", "error");
                            } else {
                                Swal.fire("Deleted!", "Your file has been deleted.", "success")
                            }
                        },
                        error: function (data) {
                            Swal.fire("Good job!", "You clicked the button!", "error");
                        },
                    })
                }
            })
        };

    </script>
    <script>
        $('#search_nation').select2({
            placeholder: 'Quốc gia',
            allowClear: true,
        })

        $('#search_specialization').select2({
            placeholder: 'Lĩnh vực',
            allowClear: true,
        })

        $('#facility_detail_mou').select2({
            placeholder: 'Đơn vị - Cơ sở kí kết',
            allowClear: true,
        })

        $('#partner_name_form').select2({
            placeholder: 'Tên đối tác',
            allowClear: true,
        })

        $('#specialization').select2({
            placeholder: 'Lĩnh vực',
            allowClear: true,
        })

        $('#coop_scope').select2({
            placeholder: 'Phạm vi hợp tác',
            allowClear: true,
        })

        //datepicker
        var KTBootstrapDatetimepicker = function () {
            var baseDemos = function () {
                $('.kt_datetimepicker_3').datetimepicker({
                    format: 'DD/MM/yyyy'
                });

            }
            return {
                // Public functions
                init: function () {
                    baseDemos();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTBootstrapDatetimepicker.init();
        });
    </script>
    <script>
        $("#moa_update_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
            },
            searching: false,
            lengthChange: false,
            columnDefs: [
                {
                    targets: 5,
                    width: '75px',
                    render: function (data, type, full, meta) {
                        return ''
                            + '<a href="#add_status" data-toggle="modal"><span class="svg-icon svg-icon-dark svg-icon-md"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7.71 3.5L1.15 15l3.43 6l6.55-11.5M9.73 15L6.3 21h13.12l3.43-6m-.57-1L15.42 2H8.57l6.86 12h6.85z" fill="#626262"/></svg><!--end::Svg Icon--></span></a>';
                    },
                },
                {
                    targets: -1,
                    title: '',
                    orderable: false,
                    width: '125px',
                    render: function (data, type, full, meta) {
                        return '<a  href="#add_additional_moa"  data-toggle="modal"  class="btn btn-sm btn-light-primary px-6 font-weight-bold" style="margin-right: 10px;">Sửa</a><a  onclick="confirm_delete(12)" class="btn btn-sm btn-light-danger px-6 font-weight-bold" data-toggle="modal">Xóa</a>'
                    }
                }
            ]
        });

        //table tab 2
        $("#partner_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
            },
            searching: false,
            lengthChange: false,
            columnDefs: [
                {
                    targets: 4,
                    orderable: false,
                    width: '75px',
                    render: function (data, type, full, meta) {
                        return '<a href="#"><span class="svg-icon svg-icon-dark svg-icon-md"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M13.544 10.456a4.368 4.368 0 0 0-6.176 0l-3.089 3.088a4.367 4.367 0 1 0 6.177 6.177L12 18.177m-1.544-4.633a4.368 4.368 0 0 0 6.177 0l3.088-3.088a4.368 4.368 0 0 0-6.177-6.177L12 5.823" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg><!--end::Svg Icon--></span></a>';
                    },
                },
                {
                    targets: -1,
                    title: '',
                    orderable: false,
                    width: '125px',
                    render: function (data, type, full, meta) {
                        return '<a onclick="show_status_history(12)" class="show-status-history" href="#mou_partner_history" data-toggle="modal"><span class="svg-icon svg-icon-dark svg-icon-sm"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Code/Time-schedule.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468c-59.015.042-113.223-20.53-155.822-54.911c-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184c0-101.705-82.311-184-184-184c-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z" fill="black"/></svg><!--end::Svg Icon--></span></a> '
                            + '<a onclick="show_data_partner_detail(13)" href="#add_partner_mou" data-toggle="modal" class="btn btn-sm btn-light-primary update_partner_mou px-6 font-weight-bold" style="margin-right: 10px;">Sửa</a><a  onclick="confirm_delete(12)" class="btn btn-sm btn-light-danger px-6 font-weight-bold" data-toggle="modal">Xóa</a>';
                    }
                }
            ]
        })

         //modal tab 2
        function show_data_partner_detail(id) {
                $('#add_partner_mou_title').text('SỬA ĐỐI TÁC TRONG BIÊN BẢN THỎA THUẬN');
            $.ajax({
                url: '@Url.Action("Get_Data_Partner_Detail", "MOU")',
                data: { 'id': id },
                success: function (data) {
                    if (data = "") {
                        toastr.error("Có lỗi xảy ra");
                    } else {
                        //toastr.success("Lmao");
                    }
                },
            });
        };

         //modal tab 2
          function show_status_history(id){
            $.ajax({
                url: '@Url.Action("Get_MOU_History", "MOU")',
                data: { 'id': id },
                success: function (data) {
                    if (data = "") {
                        toastr.error("Có lỗi xảy ra");
                    } else {
                        var temp = '';
                        var partner_name_temp = 'Bunkyou University';
                        var mou_id_temp = '2021/01';
                        for (i = 0; i < 3; i++) {
                            temp += '<tr><td  class="text-center">' + i + 1 + '</td><td class="text-center">Ký kết biên bản ghi nhớ</td><td class="text-center">Lê Phương Anh</td><td class="text-center">18/03/2020 13:01:23</td></tr>';
                        }
                        $('#body_mou_history').html(temp);
                        $('#partner_name').val(partner_name_temp);
                        $('#mou_id').val(mou_id_temp);
                    }
                },
            });
        };



        $(document).ready(function () {
            //split card
            //overflow
            $('#partner_table').parent().css('overflow-x', 'auto');
            $('#partner_table thead tr th').css('font-weight', 'bold');
            $('.header-modify').css('padding', '13px');
        });
    </script>

    <script src="~/Content/assets/plugins/custom/uppy/uppy.bundle.js?v=7.0.6"></script>
    <script>
        "use strict";

        // Class definition
        var KTUppy = function () {
            const Tus = Uppy.Tus;
            const ProgressBar = Uppy.ProgressBar;
            const StatusBar = Uppy.StatusBar;
            const FileInput = Uppy.FileInput;
            const Informer = Uppy.Informer;

            // to get uppy companions working, please refer to the official documentation here: https://uppy.io/docs/companion/
            const Dashboard = Uppy.Dashboard;
            const Dropbox = Uppy.Dropbox;
            const GoogleDrive = Uppy.GoogleDrive;
            const Instagram = Uppy.Instagram;
            const Webcam = Uppy.Webcam;

            // Private functions

            var initUppy5 = function (data) {
                // Uppy variables
                // For more info refer: https://uppy.io/
                var elemId = data;
                var id = '#' + elemId;
                var $statusBar = $(id + ' .uppy-status');
                var $uploadedList = $(id + ' .uppy-list');
                var timeout;

                var uppyMin = Uppy.Core({
                    debug: true,
                    autoProceed: true,
                    showProgressDetails: true,
                    restrictions: {
                        maxFileSize: 1000000, // 1mb
                        maxNumberOfFiles: 5,
                        minNumberOfFiles: 1
                    }
                });

                uppyMin.use(FileInput, { target: id + ' .uppy-wrapper', pretty: false });
                uppyMin.use(Informer, { target: id + ' .uppy-informer' });

                // demo file upload server
                uppyMin.use(Tus, { endpoint: 'https://master.tus.io/files/' });
                uppyMin.use(StatusBar, {
                    target: id + ' .uppy-status',
                    hideUploadButton: true,
                    hideAfterFinish: false
                });

                $(id + ' .uppy-FileInput-input').addClass('uppy-input-control').attr('id', elemId + '_input_control');
                $(id + ' .uppy-FileInput-container').append('<label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="' + (elemId + '_input_control') + '">Attach files</label>');

                var $fileLabel = $(id + ' .uppy-input-label');

                uppyMin.on('upload', function (data) {
                    $fileLabel.text("Uploading...");
                    $statusBar.addClass('uppy-status-ongoing');
                    $statusBar.removeClass('uppy-status-hidden');
                    clearTimeout(timeout);
                });

                uppyMin.on('complete', function (file) {
                    $.each(file.successful, function (index, value) {
                        var sizeLabel = "bytes";
                        var filesize = value.size;
                        if (filesize > 1024) {
                            filesize = filesize / 1024;
                            sizeLabel = "kb";

                            if (filesize > 1024) {
                                filesize = filesize / 1024;
                                sizeLabel = "MB";
                            }
                        }
                        var uploadListHtml = '<div class="uppy-list-item" data-id="' + value.id + '"><div class="uppy-list-label">' + value.name + ' (' + Math.round(filesize, 2) + ' ' + sizeLabel + ')</div><span class="uppy-list-remove" data-id="' + value.id + '"><i class="flaticon2-cancel-music"></i></span></div>';
                        $uploadedList.append(uploadListHtml);
                    });

                    $fileLabel.text("Add more files");

                    $statusBar.addClass('uppy-status-hidden');
                    $statusBar.removeClass('uppy-status-ongoing');
                });

                $(document).on('click', id + ' .uppy-list .uppy-list-remove', function () {
                    var itemId = $(this).attr('data-id');
                    uppyMin.removeFile(itemId);
                    $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
                });
            }


            return {
                // public functions
                init: function (data) {
                    initUppy5(data);
                    setTimeout(function () {

                    }, 2000);
                }
            };
        }();

        KTUtil.ready(function () {
            KTUppy.init('moa_detail_upload');
            KTUppy.init('moa_addition_upload');
        });

    </script>
}

