
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
    ViewBag.Title = rm.GetString("ProgramDetail");
}

<style>
    #content img {
        width: auto;
        max-width: 100%;
        height: auto;
    }
    .iframe{
        width: 100%;
    }
</style>
<div class="card card-custom pb-4">
    <div class="card-body p-0">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="tab-content" id="myTabContent">
                        <div class="row my-4">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h4 style="font-weight: bold;">
                                    @ViewBag.Program.program_name
                                </h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label style="font-style: italic;">
                                    @ViewBag.Program.publish_time
                                </label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-12 col-md-12 col-sm-12" id="content">
                                @Html.Raw(ViewBag.Program.content)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>
        $(document).ready(function () {
            $('table').wrap('<div style="overflow-x: auto"></div>');
        })
    </script>
}