
@{
    ViewBag.Title = "Thông tin chi tiết đối tác";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="card card-custom col-xl-4 col-lg-4 col-md-4 col-sm-4 mr-3">
        <div class="card-body p-0">
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    <div class="tabbable-line">
                        <div class="tab-content" id="">
                            <div id="" class="row partner-detail-title">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <img src="~/Content/demo_partner_detail_guest.jpg" style=" width: 100%; height: 100%;" />
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                                    <p style="margin-left:0in;">
                                        <span style="color:black;">
                                            <strong>Website: </strong>www.sbi-u.ac.jp
                                        </span><br>
                                        <span style="color:black;">
                                            <strong>Address: </strong>
                                            9th Floor, Pacific Century Place Marunouchi, 1-11-1 Marunouchi, Chiyoda-ku, Tokyo
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-custom col-xl-7 col-lg-7 col-md-7 col-sm-7">
        <div class="card-body p-0">
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    <div class="tabbable-line">
                        <div class="tab-content" id="">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h2 style="margin-left:0in;"><span style="color:#262626;"><strong>SBI Graduate School</strong></span></h2><p style="margin-left:0in;text-align:justify;"><span style="color:#767171;"><i>SBI Graduate School is a professional graduate school authorized by the Ministry of Education, Culture, Sports, Science and Technology (MEXT) as a distance learning (online) college. Students who complete the program are conferred with a Master of Business Administration(MBA). All subject lectures and assignments can be done via our online study system that is multi-device compatible. SBI Graduate School has a campus in Tokyo as well as an interactive learning hub that utilizes the web conference system for discussions and presentations. As SBI Graduate School is not bound by constrictions such as time and place, we offer effective learning and make it possible for business people to study</i></span></p><p style="margin-left:0in;text-align:justify;"><span style="color:black;"><strong>Established by:&nbsp;</strong>Educational Corporation of SBI Graduate School</span><br><span style="color:black;"><strong>Name:&nbsp;</strong>SBI Graduate School</span><br><span style="color:black;"><strong>President:</strong>&nbsp;Yoshitaka Kitao</span><br><span style="color:black;"><strong>Course/Major: Business Management Course/Major in Entrepreneurship</strong></span><br><span style="color:black;"><strong>Academic degree:&nbsp;</strong>Master of Business Administration (MBA) (professional)</span><br><span style="color:black;"><strong>Intake quota:&nbsp;</strong>60 regular-course students (Intake in spring and autumn)</span><br><span style="color:black;"><strong>Type of university:&nbsp;</strong>Professional graduate school (distance learning)</span><br><span style="color:black;"><strong>Number of years of study:</strong>&nbsp;Two years (standard)</span><br><br><span style="color:black;"><strong>Others:</strong>&nbsp;Lectures designated by the Ministry of Health, Labour and Education for the Educationand Training Benefits Plan/Admission Fee Exemption scheme/Reduction or exemption of tuition fees/Eligibility for Japan Student Services Organization (JASSO) scholarships</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{


}
