
@{
    ViewBag.Title = "Lichj sử dề nghị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-custom collapse_tab_1" id="main-card">
    <div class="card-body p-0 ">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">

                <div class="col-xl-3">
                    <input type="text" class="form-control" id="search_scopus" placeholder="Tên bài báo" />
                </div>
                <div class="col-xl-3">
                    <button id="search-btn"
                            class="btn btn-light-primary px-6 font-weight-bold">
                        Tìm kiếm
                    </button>
                </div>
                <table class="table table-bordered" id="scopus_table">
                    <thead>
                        <tr>
                            <th>Tên bài báo, ẩn phẩm, báo cáo khoa học</th>
                            <th>Người đề nghị</th>
                            <th>Ngày đề nghị</th>
                            <th>Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#scopus_table').on('click', ".btn_submit", function () {
            var id = this.id;
            var form = document.createElement("form");
            var element1 = document.createElement("input");

            form.method = "GET";
            form.action = "/Paper/Detail";

            element1.value = id;
            element1.name = "id";
            form.appendChild(element1);

            document.body.appendChild(form);

            form.submit();
        });

        var dataTable = $("#scopus_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi"
            },
            searching: false,
            lengthChange: false,
            serverSide: true,
            ajax: {
                url: "@Url.Action("List", "Request")",
                type: "GET",
                data: {
                    "name_search": function () { return $('#search_scopus').val() },
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                cache: "false"
            },
            columns: [
                { data: "name", name: "name" },
                { data: "email", name: "email" },
                { data: "created_date", name: "created_date" },
                {
                    data: "paper_id",
                    orderable: false,
                    render: function (data) {
                        return '<button id="'+data+'" class="btn btn-sm btn-clean btn-icon btn_submit" title="View"> <i class="fas fa-eye"></i> </button>'
                    }
                }
            ],
            columnDefs: [
                {
                    className: "text-center",
                    targets: "_all"
                }
            ]
        });
    </script>
}

