
<div class="modal fade in" id="partner_history" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center row">
                <h4 class="modal-title font-weight-bolder">LỊCH SỬ THỎA THUẬN HỢP TÁC</h4>
            </div>
            <div class="modal-body row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <input value="Bunkyou University" class="form-control text-center" type="text" placeholder="Tên đối tác" autocomplete="off" id="partner_name_history" disabled />
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
                    <table id="history-table" class="table table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Mã hoạt động</th>
                                <th class="text-center">Hoạt động</th>
                                <th class="text-center">Người thao tác</th>
                                <th class="text-center">Thời gian bắt đầu</th>
                                <th class="text-center">Thời gian kết thúc</th>
                            </tr>
                        </thead>
                        <tbody id="body_history">
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">2021/01</td>
                                <td class="text-center">Ký kết biên bản</td>
                                <td class="text-center">Lê Phương Anh</td>
                                <td class="text-center">01/01/2020</td>
                                <td class="text-center">01/01/2021</td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-center">2021/21</td>
                                <td class="text-center">Ký kết biên bản bổ sung</td>
                                <td class="text-center">Lê Phương Anh</td>
                                <td class="text-center">01/01/2020</td>
                                <td class="text-center">01/01/2021</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary px-6" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
