<table class="table table-bordered table-hover table-checkable ex_mou"
       id="">
    <thead>
        <tr>
            <th class="text-center">Mã hiệu</th>
            <th class="text-center">Thời gian kí kết</th>
            <th class="text-center">Thời gian hết hạn</th>
            <th class="text-center">Đối tác</th>
            <th class="text-center">Phạm vi hợp tác</th>
            <th class="text-center">Bản mềm</th>
            <th class="text-center text-nowrap">Hành động</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
