
@{
    ViewBag.Title = "Cài đặt tài khoản drive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <p>Tài khoản hiện tại: @ViewBag.Email</p>
        <a href="/SettingDrive/Login" class="btn btn-light-primary mr-6">Đăng nhập Drive</a>
        <a href="/SettingDrive/Logout" class="btn btn-light-danger">Đăng xuất Drive</a>
        <form action="/SettingDrive" method="post">
            <p>
                Phía dưới Thắng chưa làm đâu, vì chưa có thời gian
            </p>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="parent_dir">ID thư mục gốc<span style='color:red'>*</span>:</label>
                        <input type="text" class="form-control" id="parent_dir" name="parent_dir" placeholder="ID thư mục gốc" value="0AKarybMa3U9QUk9PVA">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group" style="position: absolute; bottom: 0">
                        <button type="submit" class="btn btn-light-danger">Cập nhật</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
}
