
@{
    ViewBag.Title = "Thêm đối tác";
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}
<style>

    #avata {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }
</style>

<div class="row justify-content-center" id="card-container">
    <div class="card card-custom col-xl-12 col-lg-12 col-md-12 col-sm-12" id="main-card">
        <div class="card-body p-0 ">
            <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    <div class="tabbable-line">
                        <div class="tab-content" id="myTabContent">
                            <div class="row mb-5">

                                <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                                    <label class="font-weight-bolder">Ảnh đại diện</label>
                                    <div id="image ">
                                        <form id="form1" runat="server">
                                            <img id="avata" src="~/Content/assets/media/custom-image/Placeholder.jpg" />
                                            <input class="mt-1" type='file' id="imgInp" />
                                        </form>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <label class="font-weight-bolder">Tên đối tác</label>
                                            <label style="color:red">*</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input class="form-control" type="text" placeholder="Tên đối tác" autocomplete="off" required id="partner_name" />
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <label class="font-weight-bolder">Quốc gia</label>
                                            <label style="color:red">*</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input class="form-control" type="text" placeholder="Quốc gia" autocomplete="off" required id="partner_nation" />
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label class="font-weight-bolder">Website</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input class="form-control" type="text" placeholder="Website" autocomplete="off" required id="partner_website" />
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label class="font-weight-bolder">Địa chỉ</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input class="form-control" type="text" placeholder="Địa chỉ" autocomplete="off" required id="partner_address" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mb-5">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Mô tả</label>
                                    <label style="font-style: italic;">
                                    </label>
                                    <div class="summernote"></div>
                                </div>
                            </div>
                            <div class="row float-right mb-5">
                                <a class="btn btn-sm btn-secondary px-6 font-weight-bold mx-1">Quay về</a>
                                <a class="btn btn-sm btn-light-success px-6 font-weight-bold mx-1" id="submit">Lưu</a>
                                <a class="btn btn-sm btn-light-primary px-6 font-weight-bold mx-1">Xem trước</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var KTSummernoteDemo = function () {
            // Private functions
            var demos = function () {
                $('.summernote').summernote({
                    height: 400,
                    tabsize: 2
                });
            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();

        // Initialization
        jQuery(document).ready(function () {
            KTSummernoteDemo.init();
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avata').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    </script>

    <script>

            // Class definition
            //var content_ckeditor = '<figure class="table"><table><tbody><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></tbody></table></figure>'
            //var KTCkeditorDocument = function () {
            //    // Private functions
            //    var editorData
            //    var demos = function () {
            //        DecoupledEditor
            //            .create(document.querySelector('.ckeditor'))
            //            .then(editor => {
            //                const toolbarContainer = document.querySelector('.ckeditor-toolbar');
            //                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            //                editorData = editor
            //                editorData.setData(content_ckeditor);

            //            })
            //            .catch(error => {
            //                console.error(error);
            //            });
            //    }
            //    var get_data = function () {
            //        let temp = editorData.getData();
            //        console.log(temp)
            //        return temp;
            //    }

            //    return {
            //        // public functions
            //        init: function () {
            //            demos();
            //        },
            //        get_data: function () {
            //            get_data();
            //        }
            //    };
            //}();

            //$(document).ready(function () {
            //    KTCkeditorDocument.init();
            //    $('#card-container').parent().removeClass();
            //})

            //$('#submit').click(function () {
            //    KTCkeditorDocument.get_data();
            //});

    </script>

}
