
@{
    ViewBag.Title = "Thêm đối tác";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    #avata {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }
</style>

<div class="row justify-content-center" id="card-container">
    <div class="card card-custom col-xl-12 col-lg-12 col-md-12 col-sm-12" id="main-card">
        <div class="card-body p-0 ">
            <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    <div class="tabbable-line">
                        <div class="tab-content" id="myTabContent">
                            <div class="row my-5">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label class="font-weight-bolder">Ảnh đại diện</label>
                                    <div id="image ">
                                        <form id="form1" runat="server">
                                            <img id="avata" src="~/Content/assets/media/custom-image/Placeholder.jpg" />
                                            <input class="mt-1" type='file' id="imgInp" />
                                        </form>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <label class="font-weight-bolder">Tên đối tác</label>
                                            <label style="color:red">*</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input class="form-control" type="text" placeholder="Tên đối tác" autocomplete="off" required id="partner_name" />
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <label class="font-weight-bolder">Quốc gia</label>
                                            <label style="color:red">*</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <select id="partner_nation" class="form-control form-control-lg" required style="width: 100% !important">
                                                <option label="Label"></option>
                                                @{
                                                    foreach (var i in ViewBag.countries)
                                                    {
                                                        <option value="@i.country_id">@i.country_name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label class="font-weight-bolder">Website</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input class="form-control" type="text" placeholder="Website" autocomplete="off" required id="partner_website" />
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label class="font-weight-bolder">Địa chỉ</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input class="form-control" type="text" placeholder="Địa chỉ" autocomplete="off" required id="partner_address" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mb-5">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Mô tả</label>
                                    <label style="font-style: italic;">
                                    </label>
                                    <div class="summernote"></div>
                                </div>
                            </div>
                            <div class="row float-right mb-5">
                                <a class="load-btn btn btn-sm btn-secondary font-weight-bold mx-1">Quay về</a>
                                <a class="load-btn btn btn-sm btn-light-success font-weight-bold mx-1" id="submit">Lưu</a>
                                <a class="load-btn btn btn-sm btn-light-primary font-weight-bold mx-1" id="preview">Xem trước</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Custom_JS/InternationalCollaboration/Partner/Preview.js"></script>
    <script>

        $('#partner_nation').select2({
            placeholder: 'Quốc gia',
            allowClear: true,
        })


        var KTSummernoteDemo = function () {
            // Private functions
            var demos = function () {
                $('.summernote').summernote({
                    height: 400,
                    tabsize: 2,
                });
            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();

        // Initialization
        jQuery(document).ready(function () {
            KTSummernoteDemo.init();
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        var canvas = document.createElement("canvas");
                        var ctx = canvas.getContext("2d");
                        canvas.width = image.width;
                        canvas.height = image.height;
                        ctx.drawImage(image, 0, 0);
                        var URL = canvas.toDataURL('image/jpeg');
                        $('#avata').attr('src', URL);
                    };
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });

        function dataURItoBlob(dataURI) {
            var blobBin = atob(dataURI.split(',')[1]);
            var array = [];
            for (var i = 0; i < blobBin.length; i++) {
                array.push(blobBin.charCodeAt(i));
            }
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
            var file = new Blob([new Uint8Array(array)], { type: mimeString });
            return file;
        }

        var save_loader = new LoaderBtn($(".load-btn"))

        $('#submit').click(function () {
            var form_data = new FormData();

            var partner_name = $('#partner_name').val()
            var country_id = $('#partner_nation').val()

            var website = $('#partner_website').val()
            var address = $('#partner_address').val()


            if (partner_name == "") {
                toastr.warning("Vui lòng nhập tên đối tác")
                return;
            }
            if (country_id == "") {
                toastr.warning("Vui lòng chọn quốc gia")
                return;
            }
            var content = $('.summernote').summernote('code') + "";

            var list_image = $('.note-editor').find('img')
            if (list_image.length != 0) {
                for (i = 0; i < list_image.length; i++) {
                    var temp = list_image[i];
                    var temp_src = $(temp).attr('src') + "";
                    content = content.replace(temp_src, 'image_' + i)
                    form_data.append('image_' + i, dataURItoBlob(temp_src))
                }
            }
            form_data.append("numberOfImage", list_image.length)

            var src = $('#avata').attr('src');
            var template = '/Content/assets/media/custom-image/Placeholder.jpg';
            if (src != template) {
                form_data.append('image', dataURItoBlob(src))
            }


            console.log(content)

            form_data.append('partner_name', partner_name)
            form_data.append('country_id', country_id)
            form_data.append('website', website)
            form_data.append('address', address)
            form_data.append('content', content)

            for (var p of form_data) {
                let name = p[0];
                let value = p[1];

                console.log(name, value)
            }
            save_loader.startLoading();
            $.ajax({
                url: "/Partner/Add",
                method: "post",
                complete: function (data) {

                },
                error: function () {
                    toastr.error("Có lỗi xảy ra");
                },
                dataType: "json",
                data: form_data,
                processData: false,
                contentType: false,
                success: function (data) {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": 0,
                        "extendedTimeOut": 0,
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut",
                    };
                    if (data.success) {
                        toastr.options.onHidden = function () {
                            window.location.href = '@Url.Action("List", "Partner")';
                        }
                        toastr.clear()
                        toastr.success('Thêm thành công<br />Ấn để quay lại danh sách<br />');
                        save_loader.stopLoading()
                    } else {
                        toastr.clear()
                        toastr.warning(data.content);
                        save_loader.stopLoading()
                    }
                },
                error: function () {
                    toastr.clear();
                    toastr.error('Có lỗi xảy ra khi thêm');
                    save_loader.stopLoading()
                }
            });
        })
    </script>
}
