
@{
    ViewBag.Title = "Chi tiết đối tác";
    Layout = "~/Views/Shared/_Layout_InternationalCollaboration.cshtml";
}
<style>
    #div-image {
        height: fit-content;
    }

    #avata {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }
</style>

<div class="row justify-content-center" id="card-container">
    <div class="card card-custom col-xl-12 col-lg-12 col-md-12 col-sm-12" id="main-card">
        <div class="card-body p-0 ">
            <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    <div class="tabbable-line">
                        <div class="tab-content" id="myTabContent">
                            <div class="row mb-5">

                                <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                                    <label class="font-weight-bolder">Ảnh đại diện</label>
                                    <div id="image ">
                                        <form id="form1" runat="server">
                                            <img id="avata" src="~/Content/assets/media/custom-image/Placeholder.jpg" />
                                            <input class="mt-1" type='file' id="imgInp" />
                                        </form>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <label class="font-weight-bolder">Tên đối tác</label>
                                            <label style="color:red">*</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input value="Bunkyo" class="form-control" type="text" placeholder="Tên đối tác" autocomplete="off" required id="partner_name" />
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <label class="font-weight-bolder">Quốc gia</label>
                                            <label style="color:red">*</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input value="Nhật Bản" class="form-control" type="text" placeholder="Quốc gia" autocomplete="off" required id="partner_nation" />
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <label class="font-weight-bolder">Lĩnh vực</label>
                                            <label style="color:red">*</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input value="IA, BA" disabled class="form-control" type="text" placeholder="Lĩnh vực" autocomplete="off" required id="partner_specialization" />
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <label class="font-weight-bolder">Website</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input value="http://www.sbi-u.ac.jp/" class="form-control" type="text" placeholder="Website" autocomplete="off" required id="partner_website" />
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label class="font-weight-bolder">Địa chỉ</label>
                                            <label style="font-style: italic;">
                                            </label>
                                            <input value="Address:9th Floor, Pacific Century Place Marunouchi, 1-11-1 Marunouchi, Chiyoda-ku, Tokyo" class="form-control" type="text" placeholder="Địa chỉ" autocomplete="off" required id="partner_address" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mb-5">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Lịch sử hoạt động</label>
                                    <label style="font-style: italic;">
                                    </label>
                                    <table class="table table-bordered table-hover table-checkable"
                                           id="partner_acitivity_table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" rowspan="2">STT</th>
                                                <th class="text-center" rowspan="2">Mã</th>
                                                <th class="text-center" rowspan="2">Hoạt động</th>
                                                <th class="text-center" colspan="3">Đại diện</th>
                                                <th class="text-center" rowspan="2">Người thao tác</th>
                                                <th class="text-center" rowspan="2">Thời gian bắt đầu</th>
                                                <th class="text-center" rowspan="2">Thời gian kết thúc</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">Tên</th>
                                                <th class="text-center">Email</th>
                                                <th class="text-center">SĐT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td class="text-center">2020/01</td>
                                                <td class="text-center">Ký kết biên bản ghi nhớ</td>
                                                <td class="text-center">JAMES K. W. LEE</td>
                                                <td class="text-center"></td>
                                                <td class="text-center">61 2 9850 7111</td>
                                                <td class="text-center">Le Thi Phuong Anh</td>
                                                <td class="text-center">18/03/2020</td>
                                                <td class="text-center">18/04/2022</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">2</td>
                                                <td class="text-center"></td>
                                                <td class="text-center">Hoạt động hợp tác học thuật</td>
                                                <td class="text-center">Plato Hampton</td>
                                                <td class="text-center">elementum.lorem@aliquam.com</td>
                                                <td class="text-center">05112-402024</td>
                                                <td class="text-center">Le Thi Phuong Anh</td>
                                                <td class="text-center">19/04/2021</td>
                                                <td class="text-center">20/07/2021</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">3</td>
                                                <td class="text-center"></td>
                                                <td class="text-center">Hoạt động hợp tác nghiên cứu</td>
                                                <td class="text-center">Herman Mays</td>
                                                <td class="text-center">mauris.aliquam.eu@sedleo.net</td>
                                                <td class="text-center">62 19 673 8307</td>
                                                <td class="text-center">Ha Thi Hai Yen</td>
                                                <td class="text-center">19/05/2021</td>
                                                <td class="text-center">20/08/2021</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">4</td>
                                                <td class="text-center">2020/01_BS/01</td>
                                                <td class="text-center">Ký kết biên bản ghi nhớ bổ sung</td>
                                                <td class="text-center">Tyler Horne</td>
                                                <td class="text-center">semper@sitametorci.com</td>
                                                <td class="text-center">62 15 812 0688</td>
                                                <td class="text-center">Le Thi Phuong Anh</td>
                                                <td class="text-center">19/06/2021</td>
                                                <td class="text-center">20/08/2021</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row justify-content-center mb-5">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <label class="font-weight-bolder">Mô tả</label>
                                    <label style="font-style: italic;">
                                    </label>
                                    <div class="summernote"></div>
                                </div>
                            </div>
                            <div class="row float-right mb-5">
                                <a class="btn btn-sm btn-secondary px-6 font-weight-bold mx-1">Quay về</a>
                                <a class="btn btn-sm btn-light-success px-6 font-weight-bold mx-1" id="submit">Lưu</a>
                                <a class="btn btn-sm btn-light-primary px-6 font-weight-bold mx-1">Xem trước</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="card card-custom col-xl-3 col-lg-3 col-md-3 col-sm-3" id="div-image">
        <div class="card-body p-0 ">
            <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
                <div class="row mb-5 justify-content-center">
                    <div class="col-8 text-center">
                        <label class="font-weight-bolder">Ảnh đại diện</label>
                        <div id="image ">
                            <form id="form1" runat="server">
                                <img id="avata" src="~/Content/assets/media/custom-image/Placeholder.jpg" />
                                <input class="" type='file' id="imgInp" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>
@section scripts{
    <script>
        var KTSummernoteDemo = function () {
            // Private functions
            var demos = function () {
                $('.summernote').summernote({
                    height: 400,
                    tabsize: 2
                });
            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();

        // Initialization
        jQuery(document).ready(function () {
            KTSummernoteDemo.init();
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avata').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    </script>

    <script>
        var rowIdx = 1;
        $('#partner_acitivity_table').DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
            },
            searching: false,
            lengthChange: false,
            columnDefs: [
                {
                    targets: '_all',
                    className: 'text-center'
                }
            ],
            initComplete: function () {
                $(this).parent().css('overflow-x', 'auto');
                $(this).parent().css('padding', '0');
                //$(this).parent().removeClass();

            }
        });
    </script>


}
