
@{
    ViewBag.Title = "Chi tiết đề nghị hỗ trợ hội nghị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ConferenceDetail">
    <div class="card">
        <div class="card-header" id="ConferenceDetailHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ConferenceDetailChild1">
                <div class="card-label">Thông tin hội nghị</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ConferenceDetailChild1" class="collapse show" data-parent="#ConferenceDetail">
            <div class="card-body row">
                <div class="col-3">
                    <p>Tên hội nghị: ICCI 2021</p>
                    <p>Tên diễn giả QS: Todd Howard</p>
                    <p>Quốc gia: Japan</p>
                    <p>Bài báo: <a href="https://drive.google.com/file/d/1vYhSOoBNbv22v-quSb_SS52qKUML1II8/view?usp=sharing">Google Drive</a></p>
                    <p>
                        Trạng thái:
                        <span class="label label-lg label-inline label-light-primary font-weight-bold">
                            đã hoàn ứng
                        </span>
                    </p>
                </div>
                <div class="col-3">
                    <p>Website hội nghị: ACC.com</p>
                    <p>Thuộc trường đại học: Todai</p>
                    <p>Thời gian: 02/02/2021 – 05/02/2021</p>
                    <p>Hình thức: Online quốc tế</p>
                </div>
                <div class="col-3">
                    <p><b>Chính sách xét hỗ trợ tham dự hội nghị: <a href="https://drive.google.com/file/d/1vYhSOoBNbv22v-quSb_SS52qKUML1II8/view?usp=sharing">Xem thêm</a></b></p>
                    <form>
                        <div class="checkbox-list">
                            <label class="checkbox">
                                <input type="checkbox" disabled="disabled" checked="checked" name="Checkboxes1">
                                <span></span>
                                QS1000
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" disabled="disabled" checked="checked" name="Checkboxes1">
                                <span></span>
                                Đơn vị chủ quản là FE
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <p>Quyết định: <a href="https://drive.google.com/file/d/1vYhSOoBNbv22v-quSb_SS52qKUML1II8/view?usp=sharing">Google Drive</a></p>
                    <p>Số quyết định: QĐ-0635</p>
                    <p>Ngày tạo: 30/01/2021</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="Participants">
    <div class="card">
        <div class="card-header" id="ParticipantsHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ParticipantsChild1">
                <div class="card-label">Danh sách tham dự</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ParticipantsChild1" class="collapse show" data-parent="#Participants">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">MSNV/MSSV</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Đơn vị công tác</th>
                            <th scope="col">Khu vực công tác</th>
                            <th scope="col">Chức danh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>ABC123</td>
                            <td>Ngô Tùng Sơn</td>
                            <td>FPTU</td>
                            <td>Hà Nội</td>
                            <td>Giảng viên</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>HE130214</td>
                            <td>Đoàn Văn Thắng</td>
                            <td>FPTU</td>
                            <td>Hà Nội</td>
                            <td>Sinh viên</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>HE130020</td>
                            <td>Trần Thị Thúy Nguyên</td>
                            <td>FPTU</td>
                            <td>Hà Nội</td>
                            <td>Sinh viên</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ExpectedCost">
    <div class="card">
        <div class="card-header" id="ExpectedCostHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ExpectedCostChild1">
                <div class="card-label">Chi phí dự kiến</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ExpectedCostChild1" class="collapse show" data-parent="#ExpectedCost">
            <div class="card-body table-responsive">
                @{
                    Html.RenderAction("CostMenu", new { RequestID = ViewBag.id });
                }
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ApprovalProcess">
    <div class="card">
        <div class="card-header" id="ApprovalProcessHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ApprovalProcessChild1">
                <div class="card-label">Quy trình phê duyệt</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ApprovalProcessChild1" class="collapse show" data-parent="#ApprovalProcess">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Quyền</th>
                            <th scope="col">Người duyệt</th>
                            <th scope="col">Bình luận</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Giảng viên</td>
                            <td>Ngô Tùng Sơn</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Trưởng bộ phận</td>
                            <td>Cô Nguyên</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Nhân viên</td>
                            <td>Chị Yến</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ConversationInformation">
    <div class="card">
        <div class="card-header" id="ConversationInformationHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ConversationInformationChild1">
                <div class="card-label">Thông tin hội thoại</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ConversationInformationChild1" class="collapse show" data-parent="#ConversationInformation">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" type="text" value="" id="example-text-input" />
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-block btn-success">Gửi</button>
                        </div>
                    </div>
                </form>
                <br />
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="15%">Thời gian</th>
                            <th scope="col" width="15%">Người gửi</th>
                            <th scope="col">Tin nhắn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/01/21-10:00AM</td>
                            <td>Ngô Tùng Sơn</td>
                            <td>Sao lâu có phản hồi thế em</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var ConferenceDetail = document.getElementById("ConferenceDetail").parentElement.removeAttribute("class");
    </script>
} 