
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-12 form-group">
                <div class="input-icon">
                    <input type="text" class="form-control"
                           placeholder="Tên sản phẩm khoa học"
                           id="search_paper" />
                    <span>
                        <i class="flaticon2-search-1 text-muted"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 form-group">
                <div class="input-icon">
                    <input type="text" class="form-control"
                           placeholder="Tên hội nghị"
                           id="search_conference" />
                    <span>
                        <i class="flaticon2-search-1 text-muted"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="float-left">
                    <a onclick="ReloadTable()"
                       class="btn btn-light-primary px-6 font-weight-bold">
                        Tìm kiếm
                    </a>
                </div>
            </div>
            <div class="col-xl-12 col-xxl-12 table-responsive">
                <br />
                <table id="mytable" class="table table-bordered table-checkable">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Người tạo</th>
                            <th>Sản phẩm khoa học</th>
                            <th>Tên hội nghị</th>
                            <th>Ngày&nbsp;tạo</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <br />
            <!--end: Datatable-->
        </div>
        @{
            Html.RenderPartial("_LoaderPanel");
        }
    </div>
</div>

@section scripts{
    <script>
        var label_status = {
            1: "primary",
            2: "success",
            3: "success",
            4: "secondary",
            5: "success"
        }

        var mytable = $("#mytable").DataTable({
            responsive: true,
            // DOM Layout settings
            dom: `<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
            lengthMenu: [5, 10, 25, 50],
            pageLength: 10,
            language: {
                'lengthMenu': 'Display _MENU_',
            },
            serverSide: true,
            ajax: {
                url: "/ConferenceSponsor/List",
                datatype: "json",
                data: {
                    search: {
                        SearchPaper: () => { return $("#search_paper").val() },
                        SearchConference: () => { return $("#search_conference").val() },
                        SearchStatus: () => { return $("#search_status").val() }
                    },
                    is_history: true
                },
                method: "post"
            },
            columns: [
                { data: "RowNumber", name: "RowNumber", orderable: false },
                { data: "FullName", name: "FullName" },
                { data: "PaperName", name: "PaperName" },
                { data: "ConferenceName", name: "ConferenceName" },
                { data: "CreatedDate", name: "Date" },
                {
                    data: "RequestID", orderable: false, render: function (data) {
                        return "<a href='/ConferenceSponsor/Detail?id=" + data + "' class='btn btn-sm btn-clean btn-icon' title='View'> <i class='fas fa-eye'></i> </a>"
                    }, className: "text-center"
                }
            ],
            order: [4, "desc"],
            initComplete: function (settings, json) {
                $("#loader_panel").hide()
            }
        });

        function ReloadTable() {
            mytable.ajax.reload();
        }
    </script>
}