<div class="card-header flex-wrap border-0 pt-6 pb-0">
    <div class="card-title">
        <h3 class="card-label">
            DANH SÁCH ĐỀ NGHỊ
        </h3>
    </div>
</div>
<div class="card-body">
    <!--begin: Datatable-->
    <div class="col-xl-12 col-xxl-12 table-responsive">
        <br />
        <table id="mytable" class="table table-bordered table-checkable">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Người tạo</th>
                    <th>Sản phẩm khoa học</th>
                    <th>Tên hội nghị</th>
                    <th>Ngày&nbsp;tạo</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ngô Tùng Sơn</td>
                    <td>Advances in Intelligent Systems and Computing</td>
                    <td>Toward an Privacy Protection Based on Access Control Model in Hybrid Cloud for Healthcare Systems</td>
                    <td>1/1/2020</td>
                    <td>Đang duyệt</td>
                    <td><a href="/ConferenceSponsor/Detail?id=1" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Lê Đình Duy</td>
                    <td>Discovered changes in rice occupation with satellite images based on random forest approach</td>
                    <td>Proceedings of the 4th International Conference on Machine Learning and Soft Computing</td>
                    <td>1/1/2020</td>
                    <td>Được tham dự</td>
                    <td><a href="/ConferenceSponsor/Detail?id=2" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Đoàn Văn Thắng</td>
                    <td>Movie Recommender Systems Made Through Tag Interpolation</td>
                    <td>Proceedings of the 4th International Conference on Machine Learning and Soft Computing</td>
                    <td>1/1/2020</td>
                    <td>Đã duyệt</td>
                    <td><a href="/ConferenceSponsor/Detail?id=3" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Đoàn Thị Thúy Nguyên</td>
                    <td>Attractiveness of Online Marketing in the Age of Industry 4.0</td>
                    <td>ICEBA 2020: Proceedings of the 2020 The 6th International Conference on E-Business and Applications</td>
                    <td>1/1/2020</td>
                    <td>Chưa&nbsp;hoàn&nbsp;ứng</td>
                    <td><a href="/ConferenceSponsor/Detail?id=4" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Dưa Hấu</td>
                    <td>Automatic Keywords-based Classification of Vietnamese Texts</td>
                    <td>2020 RIVF International Conference on Computing and Communication Technologies</td>
                    <td>1/1/2020</td>
                    <td>Đã&nbsp;hoàn&nbsp;ứng</td>
                    <td><a href="/ConferenceSponsor/Detail?id=5" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--end: Datatable-->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#mytable").DataTable({
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
                              <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                }
            });
        });
    </script>
}