<div class="modal fade in" id="edit_partner_mou" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center row">
                <h4 class="modal-title font-weight-bolder" id="add_partner_mou_title">SỬA ĐỐI TÁC TRONG BIÊN BẢN GHI NHỚ</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Tên đối tác</label>
                        <input hidden readonly type="text" class="form-control" id="partner_id_edit" placeholder="" name="" value="" />
                        <input hidden readonly type="text" class="form-control" id="mou_partner_id_edit" placeholder="" name="" value="" />
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                <select class="form-control text-center" id="mou_partner_name_edit" name="param" style="width:100% !important">
                                    <option selected value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Quốc gia</label>
                        <input class="form-control " type="text" placeholder="Quốc gia" autocomplete="off" id="mou_partner_nation_edit" disabled />
                        <select class="form-control text-center" id="nation_edit_select" name="param" style="width:100% !important">
                            <option selected value=""></option>
                            @if (ViewBag.listCountry != null)
                            {
                                foreach (var item in ViewBag.listCountry)
                                {
                                    <option value="@item.country_id">@item.country_name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Website</label>
                        <input class="form-control" type="text" placeholder="Website" autocomplete="off" id="mou_partner_website_edit" disabled/>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Địa chỉ đối tác</label>
                        <input class="form-control " type="text" placeholder="Địa chỉ đối tác" autocomplete="off" id="mou_partner_address_edit" disabled/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Đại diện</label>
                        <input class="form-control " type="text" placeholder="Đại diện" autocomplete="off" id="mou_partner_represent_edit" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Email</label>
                        <input class="form-control " type="text" placeholder="Email" autocomplete="off" id="mou_partner_email_edit" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Số điện thoại</label>
                        <input class="form-control " type="text" placeholder="Số điện thoại" autocomplete="off" id="mou_partner_phone_edit" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Ngày ký kết</label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_sign_date_edit" data-target-input="nearest">
                            <input  placeholder="Chọn ngày ký kết" type="text" class="form-control datetimepicker-input" id="mou_sign_date_partner_edit" data-target="#kt_datetimepicker_sign_date_edit" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_sign_date_edit" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Lĩnh vực</label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control select2" id="mou_partner_specialization_edit" name="param" multiple="multiple" style="width:100% !important">
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Phạm vi hợp tác</label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control select2" id="mou_partner_scope_edit" name="param" multiple="multiple" style="width:100% !important">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="edit_mou_partner_button" type="button" class="load-btn btn btn-sm btn-light-primary" onclick="editMOUPartner(this)" disabled>Sửa</button>
            </div>
        </div>
    </div>
</div>
