
@{
    ViewBag.Title = "THAY ĐỔI CHÍNH SÁCH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom gutter-b">
    <div class="card-body">

    </div>
</div>

@section Scripts{

}