
@{
    ViewBag.Title = "Quản lí chức danh";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">

        </div>
    </div>
</div>

@section scripts{
    <script>

    </script>
} 