<br/>
<div class="mb-7">
    <div class="row align-items-center">
        <div class="col-lg-12 col-xl-12">
            <div id="loader_panel" class="loader_panel spinner spinner-primary mr-15 spinner-center spinner-lg mr-15"></div>
        </div>
    </div>
</div>
